@model SPMBNET7.CoreBusiness.Models.Modules._02_Akaun.AkBank


@{
    ViewData["Title"] = "Akaun Bank - Hapus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Pages/Partials/Common/_TitleDeletePartial.cshtml" />
        <p class="text-danger">Anda pasti untuk menghapuskan maklumat berikut?</p>

        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Kod)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Kod)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.NoAkaun)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.NoAkaun)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.JKWId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.JKW!.Kod)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.JBahagianId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.JBahagian!.Kod)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.AkCarta)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AkCarta!.Kod)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.JBank)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.JBank!.Nama)
            </dd>
        </dl>

        <hr />
        <div class="form-group">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input name="syscode" value="SPPB" hidden />
                <input type="submit" value="Hapus" class="btn ac-danger btn-sm" />
                <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </form>

        </div>
    </div>
</div>