@model SPMBNET7.CoreBusiness.Models.Modules._02_Akaun.AkInden

@{ ViewData["Title"] = "Inden Kerja - Tambah";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<partial name="_JSCreate" />

<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Pages/Partials/Common/_TitleCreatePartial.cshtml" />
        <form asp-action="Create" class="needs-validation">
            <input name="syscode" value="SPPB" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row g-3">
                <div class="col-md-1">
                    <div class="form-group">
                        <label asp-for="Tahun" class="control-label"></label><span class="text-danger">*</span>
                        <input asp-for="Tahun" class="form-control form-control-sm" id="txtTahun" value="@DateTime.Now.Year.ToString()" />
                        <span asp-validation-for="Tahun" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="JKWId" class="control-label"></label><span class="text-danger">*</span>
                        <select class="form-control form-control-sm text-uppercase" asp-for="JKWId" id="ddlKW">
                            @foreach (var s in ViewBag.JKW)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="JBahagianId" class="control-label"></label><span class="text-danger">*</span>
                        <select class="form-control form-control-sm text-uppercase" asp-for="JBahagianId" id="ddlBahagian">
                            @foreach (var s in ViewBag.JBahagian)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Tarikh" class="control-label"></label><span class="text-danger">*</span>
                        <input asp-for="Tarikh" class="form-control form-control-sm" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                        <span asp-validation-for="Tarikh" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="NoInden" class="control-label"></label>
                        <input asp-for="NoInden" class="form-control form-control-sm" value="@ViewBag.NoRujukan" id="txtNoPO" required readonly />
                        <span asp-validation-for="NoInden" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="AkNotaMintaId" class="control-label"></label>
                        <select class="form-control form-control-sm select2" asp-for="AkNotaMintaId" id="ddlNotaMinta">
                            <option value="" hidden>-- Pilih Nota Minta --</option>
                            @foreach (var s in ViewBag.AkNotaMinta)
                            {
                                <option value="@s.Id">@s.NoSiri - @s.NoRujukan </option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="TarikhBekalan" class="control-label"></label><span class="text-danger">*</span>
                        <input asp-for="TarikhBekalan" class="form-control form-control-sm" type="date" value="@DateTime.Now.AddDays(90).ToString("yyyy-MM-dd")" readonly />
                        <span asp-validation-for="TarikhBekalan" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm form-group">
                    <div class="form-group">
                        <label asp-for="AkPembekalId" class="control-label"></label>
                        <select class="form-control form-control-sm select2" asp-for="AkPembekalId" id="ddlPembekal" required>
                            <option value="0" hidden>-- Pilih Pembekal --</option>
                            @foreach (var s in ViewBag.AkPembekal)
                            {
                                <option value="@s.Id">@s.KodSykt @s.NamaSykt </option>
                            }
                        </select>
                        <span asp-validation-for="AkPembekalId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nama Syarikat</label>
                        <input class="form-control form-control-sm" readonly id="txtNamaSykt" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Alamat</label>
                        <input class="form-control form-control-sm text-uppercase" id="txtAlamat1" readonly />
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-sm text-uppercase" id="txtAlamat2" readonly />
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-sm text-uppercase" id="txtAlamat3" readonly />
                    </div>
                    <div class="row g-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Nama Bank</label>
                                <input class="form-control form-control-sm" readonly id="txtJenisBank" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">No Akaun Bank</label>
                                <input class="form-control form-control-sm" readonly id="txtAkaunBank" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Telefon</label>
                                <input class="form-control form-control-sm" readonly id="txtTelefon" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-2">
                        <div class="form-group">
                            <label asp-for="Tajuk" class="control-label"></label>
                            <textarea asp-for="Tajuk" class="form-control form-control-sm text-uppercase" rows="2"></textarea>
                            <span asp-validation-for="Tajuk" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="card mb-2">
                        <div class="card-body ps-3 pe-3 pt-2">

                            <label class="control-label">Maklumat Tambahan : </label>
                            <div class="custom-control custom-radio">
                                <input type="checkbox" data-val="true" id="IsInKewangan" name="IsInKewangan" value="true" checked>
                                <label class="control-label">Inden ini berada di kewangan</label>
                                <input asp-for="IsInKewangan" hidden value="false">
                            </div>
                        </div>
                    </div>

                    @*table Objek*@
                    <div class="card box-shadow mb-3 mt-2">
                        <div class="card-header">
                            <h6>Objek</h6>
                        </div>
                        <div class="card-body">
                            <table id="tblObjek" class="table table-sm nowrap" cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th style="width:70%">Kod</th>
                                        <th style="width:30%">Amaun RM</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyObjek">
                                    @if (ViewBag.akInden1 != null)
                                    {
                                        foreach (var item in ViewBag.akInden1)
                                        {
                                            <tr id="@item.Id">
                                                <td id="akCartaId" hidden>@item.AkCartaId</td>
                                                <td class="text-uppercase">@item.AkCarta.Kod - @item.AkCarta.Perihal</td>
                                                <td id="td1Amaun" class="text-end">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                                                <td>
                                                    <button class="btn ac-primary btn-sm" type="button" id="btnUpdate1" data-toggle="modal" data-target="#modalObjek" onclick="Update1(this)">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="btn ac-danger btn-sm" type="button" id="btnRemove1" onclick="Remove1(this)">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>

                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td id="akCartaId" hidden></td>
                                        <td style="width:40%">
                                            <select class="form-control form-control-sm select2" id="txtKodAkaun">
                                                <option value="" disabled selected>-- Pilih Kod Akaun --</option>
                                                @foreach (var s in ViewBag.AkCarta)
                                                {
                                                    <option value="@s.Id">@s.Kod - @s.Perihal </option>
                                                }
                                            </select>
                                        </td>
                                        <td style="width:50%"><input class="form-control form-control-sm" type="number" id="txtAmaunObjek" step="0.01" value="0.00"></td>
                                        <td><button class="btn ac-success btn-sm" type="button" id="btnAdd1"><i class="fas fa-plus"></i></button></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="form-group">
                                <label asp-for="Jumlah" class="control-label">Jumlah Objek RM</label>
                                <input asp-for="Jumlah" class="form-control form-control-sm" id="jumlahObjek" value="0.00" readonly />
                            </div>
                        </div>
                    </div>
                    @*table Objek end*@
                    <br />
                    @*table urusniaga*@
                    <div class="card box-shadow mb-3 mt-2">
                        <div class="card-header">
                            <h6>Perihal</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive-md">
                                <table id="tblPerihal" class="table table-sm" cellpadding="0" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Bil</th>
                                            <th>No Stok</th>
                                            <th width="30%">Perihal</th>
                                            <th>Kuantiti</th>
                                            <th>Unit</th>
                                            <th>Harga/Unit RM</th>
                                            <th>Amaun RM</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyPerihal">
                                        @if (ViewBag.akInden2 != null)
                                        {
                                            @foreach (var item in ViewBag.akInden2)
                                            {
                                                <tr id="@item.Id">
                                                    <td hidden>@item.Indek</td>
                                                    <td class="text-end">@item.Bil</td>
                                                    <td>@item.NoStok</td>
                                                    <td class="text-uppercase">@item.Perihal</td>
                                                    <td class="text-end">@item.Kuantiti</td>
                                                    <td class="text-uppercase">@item.Unit</td>
                                                    <td class="text-end">@Convert.ToDecimal(item.Harga).ToString("#,##0.00")</td>
                                                    <td class="text-end amaunPerihal">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                                                    <td>
                                                        <button class="btn ac-primary btn-sm" type="button" id="btnUpdate2" data-toggle="modal" data-target="#modalPerihal" onclick="Update2(this)">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button class="btn ac-danger btn-sm" type="button" id="btnRemove2" onclick="Remove2(this)">
                                                            <i class="fas fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td hidden><input class="form-control form-control-sm" type="text" id="txtIndek" maxlength="3"></td>
                                            <td><input class="form-control form-control-sm" type="number" id="txtBil" maxlength="3" value="0"></td>
                                            <td><input class="form-control form-control-sm text-uppercase" type="text" id="txtNoStok" maxlength="100" value="-"></td>
                                            <td><textarea class="form-control form-control-sm text-uppercase" type="text" id="txtPerihal" maxlength="100" value="-" rows="2"></textarea></td>
                                            <td><input class="form-control form-control-sm kuantiti" type="number" id="txtKuantiti" maxlength="6" value="0"></td>
                                            <td><input class="form-control form-control-sm text-uppercase" type="text" id="txtUnit" value="-"></td>
                                            <td><input class="form-control form-control-sm hargaUnit" type="number" id="txtHargaUnit" maxlength="6" value="0.00"></td>
                                            <td><input class="form-control form-control-sm amaun" type="number" id="txtAmaun" maxlength="6" readonly value="0.00"></td>
                                            <td><button class="btn ac-success btn-sm" type="button" id="btnAdd2"><i class="fas fa-plus"></i></button></td>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="form-group">
                                <label class="control-label">Jumlah Perihal RM</label>
                                <input class="form-control form-control-sm" id="txtJumlahPerihal" value="0.00" readonly />
                            </div>
                        </div>

                    </div>

                    @*table urusniaga end*@

                    <hr />
                    <div class="form-group">
                        <input type="submit" value="Simpan" id="btnSave" class="btn ac-primary btn-sm" />
                        <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>

<!-- Modal Objek -->
<div class="modal fade bd-example-modal-lg" id="modalObjek" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Objek</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="moId1" hidden />
                    <div class="form-group">
                        <label class="col-form-label">Kod Akaun</label>
                        <select class="form-control form-control-sm" id="moKodAkaun" disabled>
                            <option value="" disabled selected>-- Pilih Kod Akaun --</option>
                            @foreach (var s in ViewBag.AkCarta)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Amaun RM</label>
                        <input type="number" class="form-control form-control-sm" id="moAmaun1">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn ac-success btn-sm" data-dismiss="modal" onclick="modalUpdate1()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Objek End -->
<!-- Modal Perihal -->
<div class="modal fade bd-example-modal-lg" id="modalPerihal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Perihal</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="moId2" hidden />
                    <input id="moIndek" hidden />
                    <div class="row g-3">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="col-form-label">Bil</label>
                                <input type="number" class="form-control form-control-sm" id="moBil">
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="col-form-label">No Stok</label>
                                <input type="text" class="form-control form-control-sm" id="moNoStok">
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label">Perihal</label>
                                <input type="text" class="form-control form-control-sm" id="moPerihal">
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label">Kuantiti</label>
                                <input type="number" class="form-control form-control-sm kuantiti" id="moKuantiti">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label">Unit</label>
                                <input type="text" class="form-control form-control-sm" id="moUnit">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label">Harga/Unit RM</label>
                                <input type="number" class="form-control form-control-sm hargaUnit" id="moHargaUnit">
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label">Amaun RM</label>
                                <input type="text" class="form-control form-control-sm amaun" id="moAmaun2" readonly>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn ac-success btn-sm" data-dismiss="modal" onclick="modalUpdate2()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Perihal End -->
