<li class="nav-item">
    <a class="nav-link collapsed text-truncate
    @Html.ActiveClass("LaporanLejarAm")
    @Html.ActiveClass("LaporanBukuVot")
    @Html.ActiveClass("LaporanNotaMinta")
    @Html.ActiveClass("LaporanBaucer")
    @Html.ActiveClass("LaporanTerimaan")" href="#submenuLaporan" data-toggle="collapse" data-target="#submenuLaporan"><img src="~/img/svg/laporan.svg" class="fa fa-pull-left fa-0 icon-bar"><span>&nbsp; Laporan</span></a>
    <div class="collapse" id="submenuLaporan" aria-expanded="false">
        <ul class="flex-column ps-2 nav">

            <li class="nav-item">
                <a class="nav-link border-bottom text-truncate collapsed py-1 ms-3 @Html.ActiveClass("LaporanLejarAm")" href="#submenuLaporansub0" data-toggle="collapse" data-target="#submenuLaporansub0"><span>Laporan Lejar Am</span></a>
                <div class="collapse" id="submenuLaporansub0" aria-expanded="false">
                    <ul class="flex-column nav ps-4">
                        <li class="nav-item">
                            <a class="nav-link py-1 ms-3 @Html.ActiveSideBarClass("LaporanLejarAm")" asp-area="" asp-controller="LaporanLejarAm" asp-action="Index">
                                LPL001 Laporan Lejar Am
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link border-bottom text-truncate collapsed py-1 ms-3 @Html.ActiveClass("LaporanBukuVot")" href="#submenuLaporansub1" data-toggle="collapse" data-target="#submenuLaporansub1"><span>Laporan Buku Vot</span></a>
                <div class="collapse" id="submenuLaporansub1" aria-expanded="false">
                    <ul class="flex-column nav ps-4">
                        <li class="nav-item">
                            <a class="nav-link py-1 ms-3 @Html.ActiveSideBarClass("LaporanBukuVot")" asp-area="" asp-controller="LaporanBukuVot" asp-action="Index">
                                LPB001 Laporan Buku Vot
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link border-bottom text-truncate collapsed py-1 ms-3 @Html.ActiveClass("LaporanNotaMinta")" href="#submenuLaporansub2" data-toggle="collapse" data-target="#submenuLaporansub2"><span>Laporan Nota Minta</span></a>
                <div class="collapse" id="submenuLaporansub2" aria-expanded="false">
                    <ul class="flex-column nav ps-4">
                        <li class="nav-item">
                            <a class="nav-link py-1 ms-3 @Html.ActiveSideBarClass("LaporanNotaMinta")" asp-area="" asp-controller="LaporanNotaMinta" asp-action="Index">
                                LPN001 Laporan Daftar Bil / Nota Minta
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link border-bottom text-truncate collapsed py-1 ms-3 @Html.ActiveClass("LaporanBaucer")" href="#submenuLaporansub3" data-toggle="collapse" data-target="#submenuLaporansub3"><span>Laporan Baucer</span></a>
                <div class="collapse" id="submenuLaporansub3" aria-expanded="false">
                    <ul class="flex-column nav ps-4">
                        <li class="nav-item">
                            <a class="nav-link py-1 ms-3 @Html.ActiveSideBarClass("LaporanBaucer")" asp-area="" asp-controller="LaporanBaucer" asp-action="Index">
                                LPV001 Laporan Daftar Baucer
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link  text-truncate collapsed py-1 ms-3 @Html.ActiveClass("LaporanTerimaan")" href="#submenuLaporansub4" data-toggle="collapse" data-target="#submenuLaporansub4"><span>Laporan Penerimaan</span></a>
                <div class="collapse" id="submenuLaporansub4" aria-expanded="false">
                    <ul class="flex-column nav ps-4">
                        <li class="nav-item">
                            <a class="nav-link py-1 ms-3 @Html.ActiveSideBarClass("LaporanTerimaan")" asp-area="" asp-controller="LaporanTerimaan" asp-action="Index">
                                LPR001 Laporan Daftar Resit
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>
    </div>
</li>