@model SPMBNET7.CoreBusiness.Models.Modules._03_Sumber.SuProfil

@{
    ViewData["Title"] = "Elaun JSM - Tambah";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_JSCreate" />

<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Pages/Partials/Common/_TitleCreatePartial.cshtml" />

        <form asp-action="Create" class="needs-validation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="syscode" value="SPPB" hidden />
            <div class="row g-3">
                <div class="col-md-1">
                    <div class="form-group">
                        <label asp-for="Tahun" class="control-label"></label>
                        <input asp-for="Tahun" class="form-control form-control-sm" maxlength="4" id="txtTahun" value="@DateTime.Now.Year.ToString()" required />
                        <span asp-validation-for="Tahun" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label asp-for="Bulan" class="control-label"></label>
                        <input asp-for="Bulan" class="form-control form-control-sm" maxlength="2" id="txtBulan" value="@DateTime.Now.ToString("MM")" required />
                        <span asp-validation-for="Bulan" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="JKWId" class="control-label"></label><span class="text-danger control-label">*</span>
                        <select class="form-control form-control-sm" asp-for="JKWId" required>
                            @foreach (var s in ViewBag.JKW)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                        <span asp-validation-for="JKWId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="JBahagianId" class="control-label"></label><span class="text-danger control-label">*</span>
                        <select class="form-control form-control-sm text-uppercase" asp-for="JBahagianId" required>
                            @foreach (var s in ViewBag.JBahagian)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                        <span asp-validation-for="JBahagianId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label asp-for="NoRujukan" class="control-label"></label>
                        <input id="txtNoRujukan" asp-for="NoRujukan" value="@ViewBag.NoRujukan" class="form-control form-control-sm" readonly />
                        <span asp-validation-for="NoRujukan" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="AkCartaId" class="control-label"></label><span class="text-danger control-label">*</span>
                        <select class="form-control form-control-sm text-uppercase select2" asp-for="AkCartaId" required>
                            @foreach (var s in ViewBag.AkCarta)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                        <span asp-validation-for="AkCartaId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @*table Jurulatih*@

                <div class="card box-shadow mb-3 mt-2">
                    <div class="card-header">
                        <h6>Jurulatih</h6>
                    </div>
                    <div class="card-body">
                        <table id="tblJurulatih" class="table table-sm nowrap" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th hidden>Jurulatih Id</th>
                                    <th style="width:30%">Nama</th>
                                    <th style="width:10%">Jenis Sukan</th>
                                    <th style="width:5%">No KP</th>
                                    <th style="width:5%">No Akaun</th>
                                    <th style="width:4%">Cara Bayaran</th>
                                    <th style="width:4%">No Cek / EFT</th>
                                    <th style="width:4%">Tar Cek / EFT</th>
                                    <th style="width:7%">Amaun RM</th>
                                    <th style="width:7%">Amaun Sebelum RM</th>
                                    <th style="width:7%">Tunggakan RM</th>
                                    <th style="width:7%">Catatan</th>
                                    <th style="width:7%">Jumlah RM</th>
                                    <th style="width:10%"></th>
                                </tr>
                            </thead>
                            <tbody id="tbodyJurulatih">
                                @foreach (var item in ViewBag.suProfil1)
                                {
                                    <tr>
                                        <td hidden>
                                            @item.SuJurulatih?.Id
                                        </td>
                                        <td class="text-uppercase">
                                            @item.SuJurulatih?.Nama
                                        </td>
                                        <td class="text-uppercase">
                                            @item.JSukan?.Perihal
                                        </td>
                                        <td >
                                            @item.SuJurulatih?.NoKp
                                        </td>
                                        <td >
                                            @item.SuJurulatih?.NoAkaunBank
                                        </td>
                                        <td class="text-uppercase">
                                            @item.SuJurulatih?.JCaraBayar?.Perihal
                                        </td>
                                        <td >
                                            @item.NoCekEFT
                                        </td>
                                        <td>
                                            @item.TarCekEFT?.ToString("dd/MM/yyyy")
                                        </td>
                                        <td class="text-end">
                                            @Convert.ToDecimal(item.Amaun).ToString("#,##0.00")
                                        </td>
                                        <td class="text-end">
                                            @Convert.ToDecimal(item.AmaunSebelum).ToString("#,##0.00")
                                        </td>
                                        <td class="text-end">
                                            @Convert.ToDecimal(item.Tunggakan).ToString("#,##0.00")
                                        </td>
                                        <td class=text-uppercase>
                                            @item.Catatan
                                        </td>
                                        <td class="text-end">
                                            @Convert.ToDecimal(item.Jumlah).ToString("#,##0.00")
                                        </td>
                                        <td class="action-button text-center">
                                            <div class="btn-group" role="group" aria-label="action">
                                                <button class="btn ac-primary btn-sm" type="button" id="btnUpdate1" data-toggle="modal" data-target="#modalJurulatih" onclick="Update1(this)">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button class='btn ac-danger btn-sm' type='button' id='btnRemove1' onclick='Remove1(this)'><i class='fas fa-trash'></i></button>
                                            </div>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="form-group pb-2">
                            <label asp-for="Jumlah" class="control-label">Jumlah Keseluruhan RM</label>
                            <input asp-for="Jumlah" class="form-control form-control-sm" id="jumlahKeseluruhan" readonly value="@ViewBag.Jumlah" />
                            <span asp-validation-for="Jumlah" class="text-danger"></span>
                        </div>
                    </div>

                </div>

            @*table Jurulatih end*@

            <hr />
            <div class="form-group">
                <input type="submit" value="Simpan" class="btn ac-primary btn-sm" />
                <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </div>
        </form>
    </div>
</div>

<!-- Modal Jurulatih -->
<div class="modal fade bd-example-modal-lg" id="modalJurulatih" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Jurulatih</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="moId1" hidden />
                    <input id="moSuJurulatihId" hidden />
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label">Nama</label>
                                <input type="text" class="form-control form-control-sm text-uppercase" id="moNama" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label">Cara Bayaran</label>
                                <select class="form-control form-control-sm text-uppercase" id="moCarabayar">
                                    @foreach (var s in ViewBag.JCarabayar)
                                    {
                                        <option value="@s.Id">@s.Kod - @s.Perihal </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label">No Cek / EFT</label>
                                <input type="text" class="form-control form-control-sm text-uppercase" id="moNoCekEFT" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label">Tar Cek / EFT</label>
                                <input type="date" class="form-control form-control-sm text-uppercase" id="moTarCekEFT" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label">Amaun RM</label>
                                <input type="number" class="form-control form-control-sm amaun" id="moAmaun1">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label">Amaun Sebelum RM</label>
                                <input type="number" class="form-control form-control-sm" id="moAmaunSebelum" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label">Tunggakan RM</label>
                                <input type="number" class="form-control form-control-sm tunggakan" id="moTunggakan">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label">Jumlah RM</label>
                                <input type="text" class="form-control form-control-sm moJumlah1" id="moJumlah1" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label">Catatan</label>
                                <textarea class="form-control form-control-sm text-uppercase" id="moCatatan" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn ac-success btn-sm" data-bs-dismiss="modal" onclick="modalUpdate1()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Jurulatih End -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
