@*@model MSNK.Models.Modules.PrintModel.SuProfilAtletPrintModel*@

@model dynamic;

@{
    ViewData["Title"] = "Cetakan Profil Jurulatih";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";

    var bil = 0;

}
<style>

    .topic tr {
        line-height: 0.5rem;
    }

    .center {
        padding: 70px 0;
        border: 3px solid green;
        text-align: center;
    }

    .notbold {
        font-weight: normal
    }

    .breakhere {
        page-break-after: always
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-row-group
    }

    tr {
        page-break-inside: avoid
    }

    
</style>

<div class="row flexrow mb-1">
    <div class="col-8 text-center text-uppercase">
        <h3 class="mb-1"><strong>@Model.CompanyDetail.NamaSyarikat</strong></h3>
    </div>
</div>
<div class="row flexrow mb-3">
    <div class="col-8 text-center text-uppercase">
        <h4 class="mb-1"><strong>Penyata Pembayaran Elaun Jurulatih Separuh Masa (JSM) Bagi Bulan @Model.BulanSingkatan Tahun @Model.SuProfil.Tahun</strong></h4>
    </div>
</div>

<table class="table table-bordered table-sm topic">
    <thead class="text-center">
        <tr class="table-primary">
            <th>BIL</th>
            <th>NAMA</th>
            <th>NO KP</th>
            <th>NO AKAUN BANK</th>
            <th>BANK</th>
            <th>TUNGGAKAN RM</th>
            <th>CATATAN</th>
            <th>ELAUN RM</th>
            <th>JUMLAH RM</th>
            <th>TEMPOH KONTRAK</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var group in Model.SuProfil1Grouped)
        {
             
            var sum = 0;

            <tr><th colspan="10" class="text-uppercase bg-secondary text-white"> @group.Key</th></tr>
            foreach (var item in group)
            {
                bil++;

                var tabletype = item.Tunggakan != 0 ? "table-primary" : null;
                

                <tr class="@tabletype">
                    <td>@bil</td>
                    <td class="text-uppercase">@item.SuJurulatih.Nama</td>
                    <td class="text-uppercase">@item.SuJurulatih.NoKp</td>
                    <td class="text-uppercase">@item.SuJurulatih.NoAkaunBank</td>
                    <td class="text-uppercase">@item.SuJurulatih.JBank.Kod</td>
                    <td align="right" width="5%">@Convert.ToDecimal(item.Tunggakan).ToString("#,##0.00")</td>
                    <td class="text-uppercase" width="30%">@item.Catatan</td>
                    <td align="right" width="5%">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                    <td align="right" width="5%" class="table-primary">@Convert.ToDecimal(item.Jumlah).ToString("#,##0.00")</td>
                    @if (item.SuJurulatih.TarikhBerhenti != null)
                    {
                        <td class="text-uppercase">@item.SuJurulatih.TarikhAktif.ToString("MMM yyyy") @item.SuJurulatih.TarikhBerhenti.ToString("MMM yyyy") </td>
                    }
                    else
                    { 
                        <td class="text-uppercase">@item.SuJurulatih.TarikhAktif.ToString("MMM yyyy") - ???? </td>
                    }
                    
                </tr>

                sum += item.Amaun;
                
            }
                <tr class="font-weight-bold text-uppercase">
                <td class="text-right bg-light" colspan="8">@group.Key RM</td>
                <td class="text-right table-primary">@Convert.ToDecimal(sum).ToString("#,##0.00")</td>
            </tr>
            <tr>
                <td class="text-right border-white" colspan="9">
                </td>
            </tr>
        }

        <tr class="font-weight-bold table-primary">
            <td class="text-right text-uppercase" colspan="8">Jumlah Keseluruhan RM</td>
            <td class="text-right table-primary">@Convert.ToDecimal(Model.SuProfil.Jumlah).ToString("#,##0.00")</td>
        </tr>
    </tbody>

</table>

<div class="table-responsive-sm">
    <table class="table table-sm topic table-bordered">
        <thead class="table-dark">

        </thead>
        <tbody>
            <tr class="bg-dark text-white font-weight-bold">

                <td class="text-center" colspan="4"><h6 class="mb-0"><strong>UNTUK KEGUNAAN BAHAGIAN KEWANGAN</strong></h6></td>
            </tr>
            <tr>
                <td class="text-center" width="25%">Disedia </td>
                <td class="text-center" width="25%">Disemak </td>
                <td class="text-center" width="25%">Disemak </td>
                <td class="text-center" width="25%">Diluluskan </td>
            </tr>
            <tr>
                <td class="text-center" height="50px"></td>
                <td class="text-center" height="50px"></td>
                <td class="text-center" height="50px"></td>
                <td class="text-center" height="50px"></td>

            </tr>
            <tr>
                <td class="text-left">Nama:</td>
                <td class="text-left">Nama:</td>
                <td class="text-left">Nama:</td>
                <td class="text-left">Nama:</td>

            </tr>
            <tr>
                <td class="text-left">Jawatan:</td>
                <td class="text-left">Jawatan:</td>
                <td class="text-left">Jawatan:</td>
                <td class="text-left">Jawatan:</td>

            </tr>
            <tr>
                <td class="text-left">Tarikh: @DateTime.Now</td>
                <td class="text-left">Tarikh:</td>
                <td class="text-left">Tarikh:</td>
                <td class="text-left">Tarikh:</td>
            </tr>
        </tbody>
    </table>
</div>
