@model SPMBNET7.CoreBusiness.Models.Modules._02_Akaun.ViewModels.AkBelianViewModel

@{
    ViewData["Title"] = "Invois Pembekal - Papar";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var noPOInden = "-";

    if (Model.AkPO != null)
        noPOInden = Model.AkPO.NoPO;

    if (Model.AkInden != null)
        noPOInden = Model.AkInden.NoInden;
}

<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Pages/Partials/Common/_TitleDetailsPartial.cshtml" />
        <div class="row g-3">
            <div class="col-lg-10">
                <div class="row g-3">
                    <div class="col-md-1">
                        <div class="form-group">
                            <label class="control-label">Tahun</label>
                            <input class="form-control form-control-sm" value="@Model.Tahun" readonly />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="NoInbois" class="control-label"></label>
                            <input class="form-control form-control-sm text-uppercase" value="@Model.NoInbois.Substring(3)" readonly />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="Tarikh" class="control-label"></label>
                            <input class="form-control form-control-sm" value="@Model.Tarikh.ToString("dd/MM/yyyy")" readonly />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="JKWId" class="control-label"></label>
                            <input class="form-control form-control-sm text-uppercase" value="@Model.JKW?.Kod - @Model.JKW?.Perihal " readonly />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="JBahagianId" class="control-label"></label>
                            <input class="form-control form-control-sm text-uppercase" value="@Model.JBahagian?.Kod - @Model.JBahagian?.Perihal " readonly />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">No PO / Inden</label>
                            <input class="form-control form-control-sm" value="@noPOInden" readonly />
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-2">
                        <label asp-for="AkPembekalId" class="control-label"></label>
                        <input class="form-control form-control-sm" value="@Model.AkPembekal?.KodSykt" readonly />
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="control-label">Nama Pembekal</label>
                            <input class="form-control form-control-sm text-uppercase" value="@Model.AkPembekal?.NamaSykt" readonly />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Alamat</label>
                    <input class="form-control form-control-sm text-uppercase" value="@Model.AkPembekal?.Alamat1" readonly />
                </div>
                <div class="form-group">
                    <input class="form-control form-control-sm text-uppercase" value="@Model.AkPembekal?.Alamat2" readonly />
                </div>
                <div class="form-group">
                    <input class="form-control form-control-sm text-uppercase" value="@Model.AkPembekal?.Alamat3" readonly />
                </div>
                <div class="form-group">
                    <label class="control-label">Kod Pemiutang</label>
                    <input class="form-control form-control-sm text-uppercase" value="@Model.KodObjekAP?.Kod - @Model.KodObjekAP?.Perihal " readonly />
                </div>
                <div class="row g-3 pb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="TarikhTerima" class="control-label"></label>
                            <input class="form-control form-control-sm" value="@Html.DisplayFor(model => model.TarikhTerima)" readonly />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="TarikhKewanganTerima" class="control-label"></label>
                            <input class="form-control form-control-sm" value="@Html.DisplayFor(model => model.TarikhKewanganTerima)" readonly />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card mb-2">
                    <div class="card-body p-1 ms-3">
                        <div class="form-group col-sm">
                            <label asp-for="FlPosting" class="control-label"></label>
                            <div class="custom-control custom-radio">
                                <input asp-for="FlPosting" type="radio" id="FlPosting1" name="FlPosting" class="custom-control-input" value="0" checked>
                                <label class="custom-control-label" for="FlPosting">Belum</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input asp-for="FlPosting" type="radio" id="FlPosting2" name="FlPosting" class="custom-control-input" value="1">
                                <label class="custom-control-label" for="FlPosting">Sudah</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card mb-2">
                    <div class="card-body p-1 ms-3">
                        <div class="form-group col-sm">
                            <label asp-for="FlHapus" class="control-label"></label>
                            <div class="custom-control custom-radio">
                                <input asp-for="FlHapus" type="radio" id="FlHapus1" name="FlHapus" class="custom-control-input" value="0" checked>
                                <label class="custom-control-label" for="FlHapus">Tidak</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input asp-for="FlHapus" type="radio" id="FlHapus1" name="FlHapus" class="custom-control-input" value="1">
                                <label class="custom-control-label" for="FlHapus">Ya</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*table Objek*@
        <div class="card box-shadow mb-3">
            <div class="card-header">
                <h6>Objek</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">

                    <table id="tblObjek" class="table table-sm" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width:70%">Kod</th>
                                <th style="width:30%">Amaun RM</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyObjek">
                            @foreach (var item in ViewBag.akBelian1)
                            {
                                <tr id="@item.Id">
                                    <td id="akCartaId" hidden>@item.AkCartaId</td>
                                    <td class="text-uppercase">@item.AkCarta.Kod - @item.AkCarta.Perihal</td>
                                    <td class="text-end" id="td1Amaun">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                                </tr>

                            }
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>

                </div>
            </div>
            <div class="card-footer">
                <div class="form-group pb-2">
                    <label asp-for="Jumlah" class="control-label">Jumlah Objek RM</label>
                    <input asp-for="Jumlah" class="form-control form-control-sm" id="jumlahObjek" readonly />
                </div>
            </div>

        </div>
        @*table Objek end*@

        @*table perihal*@
        <div class="card box-shadow mb-3 mt-2">
            <div class="card-header">
                <h6>Perihal</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive-md">
                    <table id="tblPerihal" class="table table-sm" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Bil</th>
                                <th>No Stok</th>
                                <th>Perihal</th>
                                <th>Kuantiti</th>
                                <th>Unit</th>
                                <th>Harga RM/Unit</th>
                                <th>Amaun RM</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyPerihal">
                            @foreach (var item in ViewBag.akBelian2)
                            {
                                <tr>
                                    <td class="text-end">@item.Bil</td>
                                    <td>@item.NoStok</td>
                                    <td class="text-uppercase">@item.Perihal</td>
                                    <td class="text-end">@item.Kuantiti</td>
                                    <td class="text-uppercase">@item.Unit</td>
                                    <td class="text-end">@Convert.ToDecimal(item.Harga).ToString("#,##0.00")</td>
                                    <td class="text-end">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                                </tr>

                            }
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>

                </div>
            </div>
            <div class="card-footer">
                <div class="form-group">
                    <label class="control-label">Jumlah Perihal RM</label>
                    <input class="form-control form-control-sm" id="jumlahPerihal" value="@Model.JumlahPerihal" name="JumlahPerihal" readonly />
                </div>
            </div>

        </div>

        @*table perihal end*@

        @*table akNotaDebitKreditBelian*@
        @if (Model.AkNotaDebitKreditBelian != null)
        {
            @if (Model.AkNotaDebitKreditBelian.Count() != 0)
            {
                foreach (var nota in Model.AkNotaDebitKreditBelian)
                {
                    if (nota.FlPosting == 1)
                    {
                        <div class="card box-shadow mb-3">
                            <div class="card-header bg-success text-white">
                                <h6>Nota Debit/Kredit Belian</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">

                                    <table id="tblAkNota" class="table table-sm table-borderless" cellpadding="0" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th style="width:70%">Kod</th>
                                                <th style="width:30%" >Amaun RM</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyObjek">
                                            @foreach (var item in Model.AkNotaDebitKreditBelian)
                                            {
                                                <tr id="@item.Id">
                                                    <td>@item.NoRujukan</td>
                                                    @if (item.FlJenis == 0)
                                                    {
                                                        <td class="text-end" id="td3Amaun">@Convert.ToDecimal(item.Jumlah).ToString("#,##0.00")</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="tdext-right" id="td3Amaun">@Convert.ToDecimal(0 - item.Jumlah).ToString("#,##0.00")</td>
                                                    }

                                                    <td class="text-center">
                                                        <div class="btn-group" role="group" aria-label="action">
                                                            <a asp-controller="AkNotaDebitKreditBelian" asp-action="Details" asp-route-id="@item.Id" class="btn text-primary btn-sm bg-white" type="button" data-toggle="tooltip" data-placement="top" title="Ubah/Papar"><i class="fas fa-edit"></i></a>
                                                        </div>
                                                    </td>

                                                </tr>

                                            }
                                        </tbody>
                                        <tfoot>

                                        </tfoot>
                                    </table>

                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="form-group pb-2">
                                    <label class="control-label">Jumlah RM</label>
                                    <input value="@Model.JumlahNota" class="form-control form-control-sm" id="jumlahNota" readonly />
                                </div>
                            </div>

                        </div>
                    }
                }

            }

        }

        @*table akNotaDebitKreditBelian end*@

        @*table akPV2*@
        @if (Model.AkPV2 != null)
        {
            @if (Model.AkPV2.Count() != 0)
            {
                foreach (var pv2 in Model.AkPV2)
                {
                    if (pv2.AkPV != null && pv2.AkPV.FlPosting == 1)
                    {
                        <div class="card box-shadow mb-3">
                            <div class="card-header bg-success text-white">
                                <h6>Baucer Pembayaran</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">

                                    <table id="tblAkPV2" class="table table-sm table-borderless" cellpadding="0" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th style="width:40%">Kod</th>
                                                <th style="width:50%" class="text-end">Amaun</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyObjek">
                                            @foreach (var item in Model.AkPV2)
                                            {
                                                <tr id="@item.Id">
                                                    <td>@item.AkPV?.NoPV</td>
                                                    <td class="text-end" id="td3Amaun">@Convert.ToDecimal(item.AkPV?.Jumlah).ToString("#,##0.00")</td>
                                                    <td class="text-center">
                                                        <div class="btn-group" role="group" aria-label="action">
                                                            <a asp-controller="AkPV" asp-action="Details" asp-route-id="@item.AkPV?.Id" class="btn text-primary btn-sm bg-white" type="button" data-toggle="tooltip" data-placement="top" title="Ubah/Papar"><i class="fas fa-edit"></i></a>
                                                        </div>
                                                    </td>

                                                </tr>

                                            }
                                        </tbody>
                                        <tfoot>

                                        </tfoot>
                                    </table>

                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="form-group pb-2">
                                    <label class="control-label">Jumlah Baucer RM</label>
                                    <input value="@Model.JumlahPV" class="form-control form-control-sm" id="jumlahPV" readonly />
                                </div>
                            </div>

                        </div>
                    }
                }

            }

        }

        @*table akPV2 end*@
        <hr />
        <div class="form-group">
            @if (Model.FlPosting == 1 || Model.FlHapus == 1)
            {
            }
            else
            {
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn ac-primary btn-sm">Ubah</a>
            }
            <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
        </div>
    </div>
</div>