@model dynamic

@{
    ViewData["Title"] = "Pembekal - Papar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Pages/Partials/Common/_TitleDetailsPartial.cshtml" />
        <ul class="nav nav-tabs">
            <li class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#main">Maklumat</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#sublejar">Sublejar</a></li>
        </ul>

        <div class="tab-content">
            <div id="main" class="tab-pane active">
                <div class="row g-3 mb-3">
                    <div class="col-md-12">


                        <div class="row g-3">
                            <div class="form-group col-sm-2">
                                <label class="control-label">Kod</label>
                                <input class="form-control form-control-sm" value=" @Model.AkPembekal.KodSykt" readonly />
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label">No Pendaftaran</label>
                                <input class="form-control form-control-sm" value="@Model.AkPembekal.NoPendaftaran" readonly />
                            </div>
                            <div class="form-group col-sm-8">
                                <label class="control-label">Nama Syarikat</label>
                                <input class="form-control form-control-sm text-uppercase" value="@Model.AkPembekal.NamaSykt" readonly />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Alamat</label>
                            <input class="form-control form-control-sm text-uppercase" value="@Model.AkPembekal.Alamat1" readonly />
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-sm text-uppercase" value="@Model.AkPembekal.Alamat2" readonly />
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-sm text-uppercase" value="@Model.AkPembekal.Alamat3" readonly />
                        </div>

                        <div class="row g-3">
                            <div class="form-group col-sm">
                                <label class="control-label">Poskod</label>
                                <input class="form-control form-control-sm" value="@Model.AkPembekal.Poskod" readonly />
                            </div>
                            <div class="form-group col-sm">
                                <label class="control-label">Bandar</label>
                                <input class="form-control form-control-sm text-uppercase" value="@Model.AkPembekal.Bandar" readonly />
                            </div>
                            <div class="form-group col-sm">
                                <label class="control-label">Negeri</label>
                                <input class="form-control form-control-sm"
                                       value="@Model.AkPembekal.JNegeri.Perihal" readonly />
                            </div>
                        </div>

                        <div class="row g-3">
                            <div class="form-group col-sm-4">
                                <label class="control-label">Telefon</label>
                                <input class="form-control form-control-sm" value="@Model.AkPembekal.Telefon1" readonly />
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Emel</label>
                                <input type="email" class="form-control form-control-sm" value="@Model.AkPembekal.Emel" readonly />
                            </div>
                        </div>

                        <div class="row g-3">
                            <div class="form-group col-sm-4">
                                <label class="control-label">Akaun Bank</label>
                                <input class="form-control form-control-sm" value="@Model.AkPembekal.AkaunBank" readonly />
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Bank</label>
                                <input class="form-control form-control-sm"
                                       value="@Model.AkPembekal.JBank.Kod - @Model.AkPembekal.JBank.Nama" readonly />
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Baki Awal RM</label> <span class="text-info">(sehingga tarikh 31/12/2021)</span>
                                <input value="@Model.AkPembekal.BakiAwal" class="form-control form-control-sm" readonly />
                            </div>
                        </div>

                        <hr />
                        <div class="form-group">
                            <a asp-action="Edit" asp-route-id="@Model.AkPembekal.Id" class="btn ac-primary btn-sm">Ubah</a>
                            <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sublejar" class="tab-pane fade">
                <div class="row g-3 mb-3">
                    <div class="col-md-12">
                        <partial name="_SublejarPembekalTab" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>