@model SPMBNET7.CoreBusiness.Models.Modules._01_Jadual.JPelulus

@{
    ViewData["Title"] = "Pelulus - Tambah";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_JSCreate" />

<div class="card box-shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <h5 class="text-uppercase text-success mb-0">@ViewData["Title"]</h5>
                <span class="ac-ref"><a asp-action="Index" class="text-secondary">Indeks</a> / Tambah</span>
            </div>
            <div class="col-4 ">
                <a asp-action="Index" class="text-secondary float-end"><i class="fas fa-times fa-2x"></i></a>
            </div>

        </div>
        <hr class="mt-2" />
        <form asp-action="Create" class="needs-validation">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="SuPekerjaId" class="control-label"></label><span class="text-danger">*</span>
                        <select asp-for="SuPekerjaId" class="form-control form-control-sm select2" required>
                            <option value="0" hidden>-- Pilih Anggota --</option>
                            @foreach (var s in ViewBag.SuPekerja)
                            {
                                <option value="@s.Id">@s.NoGaji - @s.Nama</option>
                            }
                        </select>
                        <span asp-validation-for="SuPekerjaId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="MinAmaun" class="control-label"></label><label> <i class="text-success ml-2"> (amaun diluluskan hanya melibatkan modul yang diluluskan)</i></label>
                    </div>
                </div>
                <div class="col-md-3">
                    <input asp-for="MinAmaun" class="form-control form-control-sm" type="number" value="0.00" />
                    <span asp-validation-for="MinAmaun" class="text-danger"></span>

                </div>
                <div class="col-md-1">
                    <p class="text-center mb-0"><i class="fas fa-angle-right"></i></p>
                </div>
                <div class="col-md-3">
                    <input asp-for="MaksAmaun" class="form-control form-control-sm" type="number" value="0.00" />
                    <span asp-validation-for="MaksAmaun" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <label>Modul yang diluluskan</label>
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsNotaMinta" /> @Html.DisplayNameFor(model => model.IsNotaMinta)
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsPO" /> @Html.DisplayNameFor(model => model.IsPO)
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsBelian" /> @Html.DisplayNameFor(model => model.IsBelian)
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsPV" /> @Html.DisplayNameFor(model => model.IsPV)
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsPendahuluan" /> @Html.DisplayNameFor(model => model.IsPendahuluan)
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsInvois" /> @Html.DisplayNameFor(model => model.IsInvois)
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Laporan yang diluluskan</label>

                    <div class="card">
                        <div class="card-body">

                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsLaporanBukuVot" /> @Html.DisplayNameFor(model => model.IsLaporanBukuVot)
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <hr />
            <div class="form-group">
                <input type="submit" value="Simpan" class="btn btn-primary btn-sm" />
                <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
