@model SPMBNET7.CoreBusiness.Models.Modules._01_Jadual.JPelulus

@{
    ViewData["Title"] = "Pelulus - Papar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card box-shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <h5 class="text-uppercase text-dark mb-0">@ViewData["Title"]</h5>
                <span class="ac-ref"><a asp-action="Index" class="text-secondary">Indeks</a> / Papar</span>
            </div>
            <div class="col-4 ">
                <a asp-action="Index" class="text-secondary float-end"><i class="fas fa-times fa-2x"></i></a>
            </div>

        </div>
        <hr class="mt-2" />
        <div class="form-row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="SuPekerjaId" class="control-label"></label>
                    <input class="form-control form-control-sm text-uppercase" value="@Model.SuPekerja.NoGaji - @Model.SuPekerja.Nama" readonly />
                </div>
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="MinAmaun" class="control-label"></label><label> <i class="text-success ml-2"> (amaun diluluskan hanya melibatkan modul yang diluluskan)</i></label>
                </div>
            </div>
            <div class="col-md-3">
                <input asp-for="MinAmaun" class="form-control form-control-sm" value="@Convert.ToDecimal(Model.MinAmaun).ToString("#,##0.00")" readonly />
            </div>
            <div class="col-md-1">
                <p class="text-center mb-0"><i class="fas fa-angle-right"></i></p>
            </div>
            <div class="col-md-3">
                <input asp-for="MaksAmaun" class="form-control form-control-sm" value="@Convert.ToDecimal(Model.MaksAmaun).ToString("#,##0.00")" readonly />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <label>Modul yang diluluskan</label>
                <div class="card">
                    <div class="card-body">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsNotaMinta" disabled /> @Html.DisplayNameFor(model => model.IsNotaMinta)
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsPO" disabled /> @Html.DisplayNameFor(model => model.IsPO)
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsBelian" disabled /> @Html.DisplayNameFor(model => model.IsBelian)
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsPV" disabled /> @Html.DisplayNameFor(model => model.IsPV)
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsPendahuluan" disabled /> @Html.DisplayNameFor(model => model.IsPendahuluan)
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsInvois" disabled /> @Html.DisplayNameFor(model => model.IsInvois)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label>Laporan yang diluluskan</label>

                <div class="card">
                    <div class="card-body">

                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsLaporanBukuVot" disabled /> @Html.DisplayNameFor(model => model.IsLaporanBukuVot)
                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <hr />
        <div class="form-group">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn ac-primary btn-sm">Ubah</a>
            <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
        </div>
    </div>
</div>