@model SPMBNET7.CoreBusiness.Models.Modules._02_Akaun.AkTunaiRuncit

@{
    ViewData["Title"] = "Pem. Tunai Runcit - Tambah";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_JSCreate" />

<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Pages/Partials/Common/_TitleCreatePartial.cshtml" />
        <form asp-action="Create" class="needs-validation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="syscode" value="SPPB" hidden />
            <div class="row g-3">
                <div class="col-md-6 pe-md-3">
                    <div class="form-group">
                        <label asp-for="JKWId" class="control-label"></label><span class="text-danger control-label">*</span>
                        <select class="form-control form-control-sm text-uppercase" asp-for="JKWId" required id="ddlKW">
                            @foreach (var s in ViewBag.JKW)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                        <span asp-validation-for="JKWId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="KaunterPanjar" class="control-label"></label>
                        <input id="txtNoRujukan" asp-for="KaunterPanjar" value="@ViewBag.NoRujukan" class="form-control form-control-sm" readonly />
                        <span asp-validation-for="KaunterPanjar" class="text-danger"></span>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="AkCartaId" class="control-label"></label><span class="text-danger control-label">*</span>
                                <select class="form-control select2 form-control-sm" asp-for="AkCartaId" required id="ddlAkCarta">
                                    @foreach (var s in ViewBag.AkCarta)
                                    {
                                        <option value="@s.Id">@s.Kod - @s.Perihal </option>
                                    }
                                </select>
                                <span asp-validation-for="AkCartaId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Catatan</label>
                        <textarea asp-for="Catatan" class="form-control form-control-sm text-uppercase" rows="2"></textarea>
                    </div>
                    <div class="row g-3" hidden>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Baki</label>
                                <input name="Baki" class="form-control form-control-sm" value="0.00" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Pada</label>
                                <input name="TarikhBaki" class="form-control form-control-sm" type="date" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    @*table Tunai Pemegang*@
                    <div class="card box-shadow mb-3">
                        <div class="card-header">
                            <h6>Pemegang Tunai</h6>
                        </div>
                        <div class="card-body">
                            <table id="tblTunaiPemegang" class="table table-sm nowrap" cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Pemegang Tunai</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyTunaiPemegang">
                                    @if (ViewBag.akTunaiPemegang != null)
                                    {
                                        foreach (var item in ViewBag.akTunaiPemegang)
                                        {
                                            <tr id="@item.Id">
                                                <td id="suPekerjaId" hidden>@item.SuPekerjaId</td>
                                                <td class="text-uppercase">@item.SuPekerja.NoGaji - @item.SuPekerja.Nama</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td id="suPekerjaId" hidden></td>
                                        <td>
                                            <select class="form-control form-control-sm select2" id="txtSuPekerja">
                                                <option value="" disabled selected>-- Pilih Pemegang --</option>
                                                @foreach (var s in ViewBag.SuPekerja)
                                                {
                                                    <option value="@s.Id">@s.NoGaji - @s.Nama </option>
                                                }
                                            </select>
                                        </td>
                                        <td><button class="btn ac-success btn-sm" type="button" id="btnAdd1"><i class="fas fa-plus"></i></button></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    @*table Tunai Pemegang end*@
                </div>
            </div>

            @*hidden type input*@
            <div class="form-group" hidden>
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control form-control-sm" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="TarMasuk" class="control-label"></label>
                <input asp-for="TarMasuk" class="form-control form-control-sm" value="@DateTime.Now.ToString("s")" disabled />
                <span asp-validation-for="TarMasuk" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="UserIdKemaskini" class="control-label"></label>
                <input asp-for="UserIdKemaskini" class="form-control form-control-sm" />
                <span asp-validation-for="UserIdKemaskini" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="TarKemaskini" class="control-label"></label>
                <input asp-for="TarKemaskini" class="form-control form-control-sm" value="@DateTime.Now.ToString("s")" disabled />
                <span asp-validation-for="TarKemaskini" class="text-danger"></span>
            </div>

            <hr />
            <div class="form-group">
                <input type="submit" value="Simpan" class="btn ac-primary btn-sm" />
                <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </div>
        </form>
    </div>
</div>
