@model SPMBNET7.CoreBusiness.Models.Modules._02_Akaun.AkTunaiRuncit

@{
    ViewData["Title"] = "Pem. Tunai Runcit - Hapus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Pages/Partials/Common/_TitleDeletePartial.cshtml" />
        <p class="text-danger">Anda pasti untuk menghapuskan maklumat berikut?</p>
        <div class="row g-3">
            <div class="col-md-6 ps-md-3">
                <div class="row g-3">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label asp-for="JKWId" class="control-label"></label><span class="text-danger control-label">*</span>
                            <select class="form-control form-control-sm" asp-for="JKWId" disabled id="ddlKW">
                                @foreach (var s in ViewBag.JKW)
                                {
                                    <option value="@s.Id">@s.Kod - @s.Perihal </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="KaunterPanjar" class="control-label"></label>
                            <input id="txtNoRujukan" asp-for="KaunterPanjar" class="form-control form-control-sm" readonly />
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="AkCartaId" class="control-label"></label><span class="text-danger control-label">*</span>
                            <select class="form-control select2 form-control-sm" asp-for="AkCartaId" disabled id="ddlAkCarta">
                                @foreach (var s in ViewBag.AkCarta)
                                {
                                    <option value="@s.Id">@s.Kod - @s.Perihal </option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Catatan</label>
                    <textarea asp-for="Catatan" class="form-control form-control-sm" rows="2" readonly></textarea>
                </div>

                <div class="row g-3" hidden>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Baki</label>
                            <input name="Baki" class="form-control form-control-sm" value="0.00" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Pada</label>
                            <input name="TarikhBaki" class="form-control form-control-sm" type="date" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                @*table Tunai Pemegang*@
                <div class="card box-shadow mb-3">
                    <div class="card-header">
                        <h6>Pemegang Tunai</h6>
                    </div>
                    <div class="card-body">
                        <table id="tblTunaiPemegang" class="table table-sm nowrap" cellpadding="0" cellspacing="0">
                            <tbody id="tbodyTunaiPemegang">
                                @foreach (var item in ViewBag.akTunaiPemegang)
                                {
                                    <tr id="@item.Id">
                                        <td id="suPekerjaId" hidden>@item.SuPekerjaId</td>
                                        <td class="text-uppercase">@item.SuPekerja.NoGaji - @item.SuPekerja.Nama</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
                @*table Tunai Pemegang end*@
            </div>
        </div>

        <hr />
        <div class="form-group">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input name="syscode" value="SPPB" hidden />
                <input type="submit" value="Hapus" class="btn ac-danger btn-sm" />
                <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </form>

        </div>
    </div>

</div>
