@model IEnumerable<SPMBNET7.CoreBusiness.Models.Modules._02_Akaun.ViewModels.AkTunaiRuncitViewModel>

@{
    ViewData["Title"] = "Pem. Tunai Runcit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<partial name="_JSIndex" />

<div class="card box-shadow">
    <div class="loading">
        <img class="loading-image" src="~/img/loading.gif" alt="Loading..." />
    </div>
    <div class="card card-body border main-page" hidden>
        <partial name="~/Pages/Partials/Common/_TitleIndexPartial.cshtml" />

        <div class="card mb-2">
            <div class="card-body pl-3 pb-2">
                <label class="form-control-plaintext" for="columnSearch">Carian : </label>
                <div class="form-actions no-color mb-2">
                    <div class="row g-3">
                        <div class="col-sm-2 mb-2">
                            <select class="form-select form-control-sm" id="columnSearch">
                                <option value="" selected>Semua</option>
                                <option value=".kod">Kod Rujukan Panjar</option>
                                <option value=".nama">Nama Akaun</option>
                            </select>
                        </div>
                        <div class="col-sm-8 mb-2">
                            <input class="form-control form-control-sm" type="text" id="myInput" style="text-transform:uppercase" />
                        </div>
                        @*<div class="col-sm mb-2">
                            <button class="btn btn-warning btn-sm" id="batalCari" value="Batal Carian"><i class="fas fa-backspace"></i></button>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-hover compact" width="100%">
                    <caption>Rekod dipamerkan : @Model.Count()</caption>
                    <thead class="table-secondary">
                        <tr>
                            <th hidden></th>
                            <th width="5%">
                                KW
                            </th>
                            <th class="kod" width="10%">
                                Kod Kaunter
                            </th>
                            <th class="nama">
                                Kod Akaun
                            </th>
                            <th>
                                Baki
                            </th>
                            <th width="5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var tabletype = item.FlHapus == 1 ? "table-danger" : null;
                            <tr class="@tabletype">
                                <td hidden>@item.Id</td>
                                <td>
                                    @item.KodKW
                                </td>
                                <td>
                                    @item.KodRujukan
                                </td>
                                <td>
                                    @item.KodAkaun - @item.Perihal
                                </td>
                                <td class="text-end">
                                    @Convert.ToDecimal(item.BakiLejarPanjar).ToString("#,##0.00")
                                </td>
                                <td class="action-button text-center">
                                    <div class="btn-group" role="group" aria-label="action">
                                        <a asp-action="Details" asp-route-id="@item.Id"
                                           class="btn text-primary btn-sm bg-white" type="button"
                                           data-toggle="tooltip" data-placement="top"
                                           title="Ubah/Papar"><i class="fas fa-edit"></i></a>
                                        @if (item.FlHapus == 0)
                                        {
                                            <button data-toggle="modal" data-target="#modalRekup" class="btn btn-sm bg-white text-purple" type="button" data-placement="top" title="Rekup" onclick="ModalRekupClick(this)">
                                                <i class="fas fa-money-bill-wave"></i>
                                            </button>

                                            <button data-toggle="modal" data-target="#modalCetak" class="btn btn-sm bg-white text-secondary" type="button" data-placement="top" title="Cetak" onclick="ModalCetakClick(this)">
                                                <i class="fas fa-print"></i>
                                            </button>

                                            <a asp-action="Delete" asp-route-id="@item.Id"
                                               class="btn text-danger btn-sm bg-white" type="button"
                                               data-toggle="tooltip" data-placement="top"
                                               title="Hapus"><i class="fas fa-trash"></i></a>
                                        }
                                        else
                                        {
                                            if (User.IsInRole("Supervisor") || User.IsInRole("SuperAdmin"))
                                            {
                                                <a asp-action="Rollback" asp-route-id="@item.Id" asp-route-syscode="SPPB" class="btn text-info btn-sm bg-white" type="button" data-toggle="tooltip" data-placement="top" title="Rollback">
                                                    <i class="fas fa-trash-restore"></i>
                                                </a>

                                            }
                                        }
                                    </div>
                                    

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        }
    </div>

</div>

<!-- Modal Rekup -->
<div class="modal fade bd-example-modal-lg" id="modalRekup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="color:#a54ea8;">
                <h5 class="modal-title">Rekupan Tunai Runcit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form asp-action="Rekup" asp-controller="AkTunaiRuncit" class="needs-validation">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-body">

                    <input name="id" type="hidden" class="moId" />
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label">Kod Kaunter Panjar</label>
                                <input type="text" class="form-control form-control-sm moKodKaunter" name="kodKaunter" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-12">
                            <label for="Tarikh" class="col-form-label">Tarikh</label>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-6 pb-2">
                            <input type="date" class="form-control form-control-sm" id="tarikhDari" name="tarikhDari" readonly>

                        </div>
                        <div class="col-md-6">
                            <input type="date" class="form-control form-control-sm" id="tarikhHingga" name="tarikhHingga">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Tutup</button>
                    <button type="submit" class="btn btn-success" id="btnRekup">Mula Rekup</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Rekup End -->
<!-- Modal Cetak -->
<div class="modal fade bd-example-modal-lg" id="modalCetak" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="color:#a54ea8;">
                <h5 class="modal-title">Cetakan Rekupan Tunai Runcit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form asp-action="PrintPDF" asp-controller="AkTunaiRuncit" class="needs-validation">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-body">

                    <input name="id" type="hidden" class="moId" />
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label">Kod Kaunter Panjar</label>
                                <input type="text" class="form-control form-control-sm moKodKaunter" name="kodKaunter" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label">No Rekup</label>
                                <select class="form-control select2" name="rekup" id="ddlRekup">
                                    @*<option value="0">-- Sila Pilih No Rekup --</option>*@
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Tutup</button>
                    <button type="submit" class="btn btn-success" id="btnCetak" formtarget="_blank">Cetak</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Rekup End -->
