@model SPMBNET7.CoreBusiness.Models.Modules._02_Akaun.AkPenyataPemungut

@{
    ViewData["Title"] = "Penyata Pemungut - Tambah";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int bil = 0;
}

<partial name="_JSCreate" />

<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Pages/Partials/Common/_TitleCreatePartial.cshtml" />
        <form asp-action="Create" class="needs-validation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="syscode" value="SPPB" hidden />

            <div class="row g-3">
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="NoDokumen" class="control-label"></label>
                        <input asp-for="NoDokumen" class="form-control form-control-sm" required readonly value="@ViewBag.NoDokumen" />
                        <span asp-validation-for="NoDokumen" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Tahun" class="control-label"></label>
                        <input asp-for="Tahun" class="form-control form-control-sm" value="@DateTime.Now.ToString("yyyy")" required />
                        <span asp-validation-for="Tahun" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Tarikh" class="control-label"></label>
                        <input asp-for="Tarikh" class="form-control form-control-sm" value="@DateTime.Now.ToString("s")" required />
                        <span asp-validation-for="Tarikh" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="JCaraBayarId" class="control-label"></label><span class="text-danger control-label">*</span>
                        <select class="form-control select2 input-group-sm" asp-for="JCaraBayarId" id="ddlCaraBayar" required>
                            <option value="">-- Sila Pilih Cara Bayar --</option>
                            @foreach (var s in ViewBag.JCaraBayar)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal</option>
                            }
                        </select>
                        <span asp-validation-for="JCaraBayarId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="AkBankId" class="control-label"></label><span class="text-danger control-label">*</span>
                        <select class="form-control select2 input-group-sm" asp-for="AkBankId" required>
                            @foreach (var s in ViewBag.AkBank)
                            {
                                <option value="@s.Id">@s.NoAkaun - @s.JBank.Nama</option>
                            }
                        </select>
                        <span asp-validation-for="AkBankId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row g-3" id="divJenisCek" hidden>
                <div class="col-md-12">
                    <div class="card mb-2">
                        <div class="card-body pb-1 pt-1">
                            <div class="form-group mb-0 mt-1">
                                <label class="control-label">Jenis Cek</label>
                            </div>
                            <div class="row g-3 col-sm ms-2">
                                <div class="custom-control custom-radio col-md-4 ">
                                    <input class="custom-control-input " type="radio" id="FlJenisCek1" asp-for="FlJenisCek" value="1">
                                    <label class="custom-control-label" for="FlJenisCek1">
                                        Cek Cawangan Ini
                                    </label>
                                </div>
                                <div class="custom-control custom-radio col-md-4 ">
                                    <input class="custom-control-input " type="radio" id="FlJenisCek2" asp-for="FlJenisCek" value="2">
                                    <label class="custom-control-label" for="FlJenisCek2">
                                        Cek Tempatan
                                    </label>
                                </div>
                                <div class="custom-control custom-radio col-md-4 ">
                                    <input class="custom-control-input " type="radio" id="FlJenisCek3" asp-for="FlJenisCek" value="3">
                                    <label class="custom-control-label" for="FlJenisCek3">
                                        Cek Luar
                                    </label>
                                </div>
                                <div class="custom-control custom-radio col-md-4 ">
                                    <input class="custom-control-input " type="radio" id="FlJenisCek4" asp-for="FlJenisCek" value="4">
                                    <label class="custom-control-label" for="FlJenisCek4">
                                        Cek Antarabangsa
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-3 ">

                <div class="col-md-12">
                    <div class="form-group mb-0">
                        <label class="control-label">Tarikh Resit</label>
                    </div>
                </div>
            </div>

            <div class="row g-3 align-items-center mb-2">
                <div class="col-auto">
                    <input type="date" name="TarDari" class="form-control form-control-sm" id="TarDari" />
                </div>
                <div class="col-auto">
                    <input type="date" name="TarHingga" class="form-control form-control-sm" id="TarHingga" />
                </div>
                <div class="col-auto">
                    <a class="btn ac-primary btn-sm" onclick="JanaKelompok()">Jana Kelompok</a>
                    <div class="spinner-border spinner-border-sm text-primary" id="loading" role="status" hidden>
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
            @*table resit*@
            <div class="card box-shadow mb-3 mt-2">
                <div class="card-header">
                    <h6>Senarai Resit</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive-md">
                        <table id="tblBaucer" class="table table-sm" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th width="5%">Bil</th>
                                    <th width="40%">No Resit</th>
                                    <th width="40%">Tarikh</th>
                                    <th width="15%">Amaun RM</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tbodyTerima">
                                @if (ViewBag.akPenyataPemungut2 != null)
                                {
                                    foreach (var item in ViewBag.akPenyataPemungut2)
                                    {
                                        bil++;
                                        <tr>
                                            <td>@bil</td>
                                            <td>@item.AkTerima2?.AkTerima?.NoRujukan</td>
                                            <td>@item.AkTerima2?.AkTerima?.Tarikh.ToString("dd/MM/yyyy")</td>
                                            <td class="text-right">@item.Amaun</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row g-3">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Bil Resit</label>
                                <input type="number" class="form-control form-control-sm" id="bilTerima" asp-for="BilTerima" value="0" readonly />
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label">Jumlah Resit RM</label>
                                <input class="form-control form-control-sm" id="jumlahTerima" asp-for="Jumlah" value="0.00" readonly />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            @*table resit end*@
            <hr />
            <div class="form-group">
                <input type="submit" value="Simpan" id="btnSave" class="btn ac-primary btn-sm" />
                <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </div>
        </form>
    </div>
</div>