@model SPMBNET7.CoreBusiness.Models.Modules._02_Akaun.AkPenyataPemungut

@{
    ViewData["Title"] = "Penyata Pemungut - Hapus";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int bil = 0;
}

<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Pages/Partials/Common/_TitleDeletePartial.cshtml" />
        <p class="text-danger">Anda pasti untuk menghapuskan maklumat berikut?</p>
        <div class="row g-3">
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="NoDokumen" class="control-label"></label>
                    <input asp-for="NoDokumen" class="form-control form-control-sm" required readonly />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Tahun" class="control-label"></label>
                    <input asp-for="Tahun" class="form-control form-control-sm" readonly />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Tarikh" class="control-label"></label>
                    <input asp-for="Tarikh" class="form-control form-control-sm" readonly />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="JCaraBayarId" class="control-label"></label><span class="text-danger control-label">*</span>
                    <input value="@Model.JCaraBayar?.Kod - @Model.JCaraBayar?.Perihal" class="form-control form-control-sm" readonly />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="AkBankId" class="control-label"></label><span class="text-danger control-label">*</span>
                    <input value="@Model.AkBank?.NoAkaun - @Model.AkBank?.JBank?.Nama " class="form-control form-control-sm" readonly />
                </div>
            </div>
        </div>
        @if (Model.FlJenisCek != 0)
        {
            <div class="row g-3" id="divJenisCek">
                <div class="col-md-12">
                    <div class="card mb-2">
                        <div class="card-body pb-1 pt-1">
                            <div class="form-group mb-0 mt-1">
                                <label class="control-label">Jenis Cek</label>
                            </div>
                            <div class="row g-3 col-sm ms-2">
                                <div class="custom-control custom-radio col-md-4 ">
                                    <input class="custom-control-input " type="radio" id="FlJenisCek1" asp-for="FlJenisCek" value="1">
                                    <label class="custom-control-label" for="FlJenisCek1">
                                        Cek Cawangan Ini
                                    </label>
                                </div>
                                <div class="custom-control custom-radio col-md-4 ">
                                    <input class="custom-control-input " type="radio" id="FlJenisCek2" asp-for="FlJenisCek" value="2">
                                    <label class="custom-control-label" for="FlJenisCek2">
                                        Cek Tempatan
                                    </label>
                                </div>
                                <div class="custom-control custom-radio col-md-4 ">
                                    <input class="custom-control-input " type="radio" id="FlJenisCek3" asp-for="FlJenisCek" value="3">
                                    <label class="custom-control-label" for="FlJenisCek3">
                                        Cek Luar
                                    </label>
                                </div>
                                <div class="custom-control custom-radio col-md-4 ">
                                    <input class="custom-control-input " type="radio" id="FlJenisCek4" asp-for="FlJenisCek" value="4">
                                    <label class="custom-control-label" for="FlJenisCek4">
                                        Cek Antarabangsa
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @*table resit*@
        <div class="card box-shadow mb-3 mt-2">
            <div class="card-header">
                <h6>Senarai Resit</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive-md">
                    <table id="tblBaucer" class="table table-sm" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="5%">Bil</th>
                                <th width="40%">No Resit</th>
                                <th width="40%">Tarikh</th>
                                <th width="15%">Amaun RM</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbodyTerima">
                            @if (Model.AkPenyataPemungut2 != null)
                            {
                                foreach (var item in Model.AkPenyataPemungut2)
                                {
                                    bil++;
                                    <tr>
                                        <td>@bil</td>
                                        <td>@item.AkTerima2?.AkTerima?.NoRujukan</td>
                                        <td>@item.AkTerima2?.AkTerima?.Tarikh.ToString("dd/MM/yyyy")</td>
                                        <td class="text-right">@item.Amaun</td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="row g-3">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Bil Resit</label>
                            <input type="number" class="form-control form-control-sm" id="bilTerima" asp-for="BilTerima" readonly />
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="control-label">Jumlah Resit RM</label>
                            <input class="form-control form-control-sm" id="jumlahTerima" asp-for="Jumlah" readonly />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        @*table resit end*@
        <hr />
        <div class="form-group">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input name="syscode" value="SPPB" hidden />
                <input type="submit" value="Hapus" class="btn ac-danger btn-sm" />

                <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </form>

        </div>
    </div>
</div>
