@model SPMBNET7.CoreBusiness.Models.Modules._02_Akaun.AkPOLaras

@{ ViewData["Title"] = "Pel. Pesanan Tempatan - Tambah";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<partial name="_JSCreate" />


<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Pages/Partials/Common/_TitleCreatePartial.cshtml" />

        <form asp-action="Create" class="needs-validation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="syscode" value="SPPB" hidden />
            <div class="row g-3 mb-3">
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Tahun" class="control-label"></label>
                        <input asp-for="Tahun" class="form-control form-control-sm" id="txtTahun" value="@DateTime.Now.Year.ToString()" />
                        <span asp-validation-for="Tahun" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="JKWId" class="control-label"></label>
                        <select class="form-control form-control-sm text-uppercase" asp-for="JKWId" id="ddlKW">
                            @foreach (var s in ViewBag.JKW)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="JBahagianId" class="control-label"></label>
                        <select class="form-control form-control-sm text-uppercase" asp-for="JBahagianId" id="ddlBahagian">
                            @foreach (var s in ViewBag.JBahagian)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Tarikh" class="control-label"></label>
                        <input asp-for="Tarikh" class="form-control form-control-sm" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="Tarikh" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="NoRujukan" class="control-label"></label>
                        <input asp-for="NoRujukan" class="form-control form-control-sm" id="txtNoRujukan" value="@ViewBag.NoRujukan" required readonly />
                        <span asp-validation-for="NoRujukan" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="AkPOId" class="control-label"></label>
                        <select class="form-control form-control-sm select2" asp-for="AkPOId" id="ddlNoPO">
                            <option value="0" hidden>-- Pilih Pesanan Tempatan --</option>
                            @foreach (var s in ViewBag.AkPO)
                            {
                                <option value="@s.Id">@s.NoPO - ( @s.Tarikh.ToString("dd/MM/yyyy") ) </option>
                            }
                        </select>
                        <span asp-validation-for="AkPOId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group ">
                        <label class="control-label">Kod Syarikat</label>
                        <input class="form-control form-control-sm" readonly id="txtKodSykt" />
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group ">
                        <label class="control-label">Nama Syarikat</label>
                        <input class="form-control form-control-sm text-uppercase" readonly id="txtNamaSykt" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Tajuk" class="control-label"></label>
                        <textarea asp-for="Tajuk" class="form-control form-control-sm text-uppercase" rows="2" id="txtTajuk"></textarea>
                        <span asp-validation-for="Tajuk" class="text-danger"></span>
                    </div>
                </div>

            </div>

            @*table Objek*@
            <div class="card box-shadow mb-2">
                <div class="card-header">
                    <h6>Objek</h6>
                </div>
                <div class="card-body">
                    <table id="tblObjek" class="table table-sm nowrap" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width:70%">Kod</th>
                                <th style="width:30%" class="text-end">Amaun RM</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbodyObjek">
                            @if (ViewBag.AkPOLaras1 != null)
                            {
                                foreach (var item in ViewBag.AkPOLaras1)
                                {
                                    <tr id="@item.Id">
                                        <td id="akCartaId" hidden>@item.AkCartaId</td>
                                        <td class="text-uppercase">@item.AkCarta?.Kod - @item.AkCarta?.Perihal</td>
                                        <td id="td1Amaun" class="text-end">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                                        <td>
                                            <button class="btn ac-primary btn-sm" type="button" id="btnUpdate1" data-toggle="modal" data-target="#modalObjek" onclick="Update1(this)">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn ac-danger btn-sm" type="button" id="btnRemove1" onclick="Remove1(this)" hidden>
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>

                                    </tr>

                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <label asp-for="Jumlah" class="control-label">Jumlah Objek RM</label>
                        <input asp-for="Jumlah" class="form-control form-control-sm" id="jumlahObjek" value="0.00" readonly />
                    </div>
                </div>
            </div>
            @*table Objek end*@
            <br />
            @*table Perihal*@
            <div class="card box-shadow mb-2">
                <div class="card-header">
                    <h6>Perihal</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive-md">
                        <table id="tblPerihal" class="table table-sm" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th >Bil</th>
                                    <th >No Stok</th>
                                    <th >Perihal</th>
                                    <th >Kuantiti</th>
                                    <th >Unit</th>
                                    <th >Harga RM/Unit</th>
                                    <th >Amaun RM</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tbodyPerihal">
                                @if (ViewBag.AkPOLaras2 != null)
                                {
                                    foreach (var item in ViewBag.AkPOLaras2)
                                    {
                                        <tr id="@item.Id">
                                            <td hidden>@item.Indek</td>
                                            <td class="text-end">@item.Bil</td>
                                            <td>@item.NoStok</td>
                                            <td class="text-uppercase">@item.Perihal</td>
                                            <td class="text-end">@item.Kuantiti</td>
                                            <td class="text-uppercase">@item.Unit</td>
                                            <td class="text-end">@Convert.ToDecimal(item.Harga).ToString("#,##0.00")</td>
                                            <td class="text-end amaunPerihal">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                                            <td>
                                                <button class="btn ac-primary btn-sm" type="button" id="btnUpdate2" data-toggle="modal" data-target="#modalPerihal" onclick="Update2(this)">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn ac-danger btn-sm" type="button" id="btnRemove2" onclick="Remove2(this)">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td hidden><input class="form-control form-control-sm" type="text" id="txtIndek" maxlength="3"></td>
                                    <td><input class="form-control form-control-sm" type="number" id="txtBil" maxlength="3" value="0"></td>
                                    <td><input class="form-control form-control-sm text-uppercase" type="text" id="txtNoStok" maxlength="100" value="-"></td>
                                    <td><textarea class="form-control form-control-sm text-uppercase" type="text" id="txtPerihal" maxlength="100" value="-" rows="2"></textarea></td>
                                    <td><input class="form-control form-control-sm kuantiti" type="number" id="txtKuantiti" maxlength="6" value="0.00"></td>
                                    <td><input class="form-control form-control-sm text-uppercase" type="text" id="txtUnit" value="-"></td>
                                    <td><input class="form-control form-control-sm hargaUnit" type="number" id="txtHargaUnit" maxlength="6" value="0.00"></td>
                                    <td><input class="form-control form-control-sm amaun" type="number" id="txtAmaun" maxlength="6" readonly value="0.00"></td>
                                    <td><button class="btn ac-success btn-sm" type="button" id="btnAdd2"><i class="fas fa-plus"></i></button></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <label class="control-label">Jumlah Perihal</label>
                        <input class="form-control form-control-sm" id="jumlahPerihal" value="0.00" readonly />
                    </div>
                </div>

            </div>
            @*table Perihal end*@

            <hr />
            <div class="form-group">
                <input type="submit" value="Simpan" id="btnSave" class="btn ac-primary btn-sm" />
                <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </div>

        </form>
    </div>
</div>


<!-- Modal Objek -->
<div class="modal fade bd-example-modal-lg" id="modalObjek" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Objek</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="moId1" hidden />
                    <div class="form-group">
                        <label class="col-form-label">Kod Akaun</label>
                        <select class="form-control form-control-sm" id="moKodAkaun" disabled>
                            <option value="" disabled selected>-- Pilih Kod Akaun --</option>
                            @foreach (var s in ViewBag.AkCarta)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Amaun RM</label>
                        <input type="number" class="form-control form-control-sm" id="moAmaun1">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn ac-success btn-sm" data-dismiss="modal" onclick="modalUpdate1()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Objek End -->
<!-- Modal Perihal -->
<div class="modal fade bd-example-modal-lg" id="modalPerihal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Perihal</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="moId2" hidden />
                    <input id="moIndek" hidden />
                    <div class="row g-3">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="col-form-label">Bil</label>
                                <input type="number" class="form-control form-control-sm" id="moBil">
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="col-form-label">No Stok</label>
                                <input type="text" class="form-control form-control-sm" id="moNoStok">
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label">Perihal</label>
                                <input type="text" class="form-control form-control-sm text-uppercase" id="moPerihal">
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label">Kuantiti</label>
                                <input type="number" class="form-control form-control-sm kuantiti" id="moKuantiti">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label">Unit</label>
                                <input type="text" class="form-control form-control-sm text-uppercase" id="moUnit">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label">Harga/Unit RM</label>
                                <input type="number" class="form-control form-control-sm hargaUnit" id="moHargaUnit">
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label">Amaun RM</label>
                                <input type="text" class="form-control form-control-sm amaun" id="moAmaun2" readonly>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn ac-success btn-sm" data-dismiss="modal" onclick="modalUpdate2()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Perihal End -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
