<script type="text/javascript">
    var bil = 1;
    var ganda = false;

    $(document).ready(function () {
        // find latest number in perihal
        $.ajax({
            type: "POST",
            //url: "/AkPOLaras/GetAnItemCartAkPOLaras2",
            url: '@Url.Action("GetLatestIndexNumberGanda", "AkPV")',
            dataType: "json",
            success: function (r) {
                //insert data in modal perihal
                bil = r.record + 1;
                ganda = r.ganda;
            }
        });
        // find latest number in perihal end
        //bil = $('#tblPerihal tr').length - 1;

        // disable each kod akaun that has been picked
        $('#tbodyObjek tr').each(function () {
            var akCartaId = $(this).find("#akCartaId").html();
            $("#txtKodAkaun option[value=" + akCartaId + "]").prop('disabled', true);
        });

        // get total amaun inbois for each row in tbl inbois
        var sum = 0;
        $('#tbodyInbois tr').each(function () {
            var amaun = $(this).find(".amaunInbois").html();
            sum += parseFloat(amaun.replace(/,/g, ''));
        });
        $('#jumlahInbois').val(sum.toFixed(2));

        // get total amaun ganda for each row in tbl ganda
        var sum = 0;
        $('#tbodyGanda tr').each(function () {
            var amaun = $(this).find(".amaunGanda").html();
            sum += parseFloat(Number(amaun.replace(",", "")));
        });
        $('#jumlahGanda').val(sum.toFixed(2));

        $.validator.setDefaults({
            errorElement: "span",
            errorClass: "help-block",
            //	validClass: 'stay',
            highlight: function (element, errorClass) {
                $(element).addClass(errorClass); //.removeClass(errorClass);
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass); //.addClass(validClass);
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },

            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }

            },

        });
    });
    //validation form end

    // on change no Inbois pembekal
    $("body").on('change', "#txtAkBelian", function () {
        var noInbois = $("#txtAkBelian").val();

        if (noInbois != 0) {
            JsonNoInbois(noInbois);
        }

    });

    function JsonNoInbois(id) {
        if (id != null) {
            $.ajax({
                type: "POST",
                //url: "/AkPV/JsonGetAkBelian",
                url: '@Url.Action("JsonGetAkBelian", "AkPV")',
                data: { data: id },
                dataType: "json",
                success: function (msg) {
                    $("#txtTarInbois").val(msg.record.tarikh);
                    $("#txtAmaunInbois").val(msg.record.jumlah.toFixed(2));
                    if (msg.record.akPO == null && msg.record.akInden == null) {
                        $("#txtNoPO").val("-");
                        $("#txtTarPO").val("");
                        $("#txtAmaunPO").val("0.00");
                    } else {
                        if (msg.record.akPO != null) {
                            $("#txtNoPO").val(msg.record.akPO.noPO);
                            $("#txtTarPO").val(msg.record.akPO.tarikh);
                            $("#txtAmaunPO").val(msg.record.akPO.jumlah.toFixed(2));
                        }
                        else {
                            $("#txtNoPO").val(msg.record.akInden.noInden);
                            $("#txtTarPO").val(msg.record.akInden.tarikh);
                            $("#txtAmaunPO").val(msg.record.akInden.jumlah.toFixed(2));
                        }

                    }



                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
        }

    }

    //on change no Inbois pembekal end

    // check if jumlahObjek is equal to jumlahInbois / jumlahGanda
    function checkJumlah() {
        var jumlahObjek = $("#jumlahObjek").val();
        var jumlahInbois = $("#jumlahInbois").val();
        var jumlahGanda = $("#jumlahGanda").val();

        if (ganda == false) {
            if (jumlahObjek == 0.00 && jumlahInbois == 0.00) {
                $("#btnSave").show();
            } else {
                if (jumlahObjek == jumlahInbois) {
                    $("#btnSave").show();
                }
                else {
                    $("#btnSave").hide();
                }
            }
        }
        else {
            if (jumlahObjek == 0.00 && jumlahGanda == 0.00) {
                $("#btnSave").show();
            } else {
                if (jumlahObjek == jumlahGanda) {
                    $("#btnSave").show();
                }
                else {
                    $("#btnSave").hide();
                }
            }
        }

    }
    // check end


    // on change kod Panjar
    $("body").on('change', "#ddlTunaiRuncit", function () {
        var kodKaunter = $("#ddlTunaiRuncit").val();
        if (kodKaunter != 0) {

            $.ajax({
                type: "POST",
                //url: "/AkPV/JsonGetKod",
                url: '@Url.Action("JsonGetPanjar", "AkPV")',
                data: { data: kodKaunter },
                dataType: "json",
                success: function (msg) {
                    $.ajax({
                        type: "POST",
                        //url: "/AkPV/JsonGetKod",
                        url: '@Url.Action("JsonGetNoRekup", "AkPV")',
                        data: { data: kodKaunter },
                        dataType: "json",
                        success: function (r) {
                            $("#txtPerihal").val("WANG PANJAR");
                            $("#txtNoRekup").val(r.record);
                            displayObjekListFromRekup(r.objek);
                            $("#ddlKW").val(msg?.record?.jkwId).change();
                            if (msg.record.akTunaiPemegang.length > 0) {
                                for (var i = 0; i < msg.record.akTunaiPemegang.length; i++) {
                                    var item1 = msg.record.akTunaiPemegang[i];

                                    $("#Nama").val(item1.suPekerja.nama);
                                    $("#txtNoKP").val(item1.suPekerja.noKp);
                                    $("#txtNoAkaunBank").val(item1.suPekerja.noAkaunBank);
                                    $("#txtTelefon").val(item1.suPekerja.telefonBimbit);
                                    $("#txtEmel").val(item1.suPekerja.emel);
                                    $("#txtAlamat1").val(item1.suPekerja.alamat1);
                                    $("#txtAlamat2").val(item1.suPekerja.alamat2);
                                    $("#txtAlamat3").val(item1.suPekerja.alamat3);

                                }
                            }


                            //$("#txtNoRekup").prop('disabled', false);
                        },
                        error: function (req, status, error) {
                            alert(error);
                        }
                    });

                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
        }
        else {
            $("#txtPerihal").val("");
            $("#Nama").val("");
            $("#txtNoKP").val("");
            $("#txtNoAkaunBank").val("");
            $("#txtTelefon").val("");
            $("#txtEmel").val("");

            $("#txtNoRekup").prop('readonly', true);

        }

    });

    function displayObjekListFromRekup(data) {
        $("table tbody#tbodyObjek").empty();
        var jumlah = $("#jumlahObjek");
        var sum = 0;

        var str = "<tr><td id='akCartaId' hidden>" + data.akCartaId +
            "</td><td class='text-uppercase'>" + data.akCarta.kod + " - " + data.akCarta.perihal +
            "</td><td class='text-end'>" + (data.amaun).toFixed(2) +
            "</td><td>" +
            "<button class='btn ac-primary btn-sm' type='button' id='btnUpdate1' data-bs-toggle='modal' data-bs-target='#modalObjek' onclick='Update1(this)'><i class='fa fa-edit' ></i></button>" +
            "</td><td hidden>" +
            "<button class='btn ac-danger btn-sm' type='button' id='btnRemove1' onclick='Remove1(this)' ><i class='fas fa-trash' ></i></button>" +
            "</td><tr>";
        $("table tbody#tbodyObjek").append(str);
        sum += data.amaun;

        $("#txtKodAkaun option[value=" + data.akCartaId + "]").prop('disabled', true);

        jumlah.val(sum.toFixed(2));
    }

    // on change kod Panjar end

    // onchange Cara Bayaran
    $("body").on('change', "#ddlJCaraBayar", function () {
        var value = $("#ddlJCaraBayar option:selected");
        $("#txtNoCekAtauEFT").val("");
        $("#txtTarCekAtauEFT").val("");
        if (value.text().indexOf("C -") >= 0 || value.text().indexOf("E -") >= 0 || value.text().indexOf("JP -") >= 0) {
            $("#txtNoCekAtauEFT").prop('disabled', false);
            $("#txtTarCekAtauEFT").prop('disabled', false);
        } else {
            $("#txtNoCekAtauEFT").prop('disabled', true);
            $("#txtTarCekAtauEFT").prop('disabled', true);
        }
    });
    //onchange Cara Bayaran end

    // onchange no Inbois pembekal
    $("body").on('change', "#txtAkBelian", function () {
        var noInbois = $("#txtAkBelian").val();

        JsonNoInbois(noInbois);
    });

    function JsonNoInbois(id) {
        if (id != null) {
            $.ajax({
                type: "POST",
                //url: "/AkPV/JsonGetAkBelian",
                url: '@Url.Action("JsonGetAkBelian", "AkPV")',
                data: { data: id },
                dataType: "json",
                success: function (msg) {
                    $("#txtTarInbois").val(msg.record.tarikh);
                    $("#txtAmaunInbois").val(msg.record.jumlah);
                    if (msg.record.akPO == null) {
                        $("#txtNoPO").val("-");
                        $("#txtTarPO").val("");
                        $("#txtAmaunPO").val("0.00");
                    } else {
                        $("#txtNoPO").val(msg.record.akPO.noPO);
                        $("#txtTarPO").val(msg.record.akPO.tarikh);
                        $("#txtAmaunPO").val(msg.record.akPO.jumlah);
                    }

                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
        }

    }
    //on change no Inbois pembekal end

    $(document).ready(function () {
        // disable each kod akaun that has been picked
        $('#tbodyObjek tr').each(function () {
            var akCartaId = $(this).find("#akCartaId").html();
            $("#txtKodAkaun option[value=" + akCartaId + "]").prop('disabled', true);
        });

        // disable each no inbois that has been picked
        $('#tbodyInbois tr').each(function () {
            var akBelianId = $(this).find("#akBelianId").html();
            $("#txtAkBelian option[value=" + akBelianId + "]").prop('disabled', true);
        });

        // get total amaun perihal for each row in tbl perihal
        var sum = 0;
        $('#tbodyInbois tr').each(function () {
            var amaun = $(this).find(".amaunInbois").html();
            sum += parseFloat(amaun.replace(/,/g, ''));
        });
        $('#jumlahInbois').val(sum.toFixed(2));


        $.validator.setDefaults({
            errorElement: "span",
            errorClass: "help-block",
            //	validClass: 'stay',
            highlight: function (element, errorClass) {
                $(element).addClass(errorClass); //.removeClass(errorClass);
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass); //.addClass(validClass);
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },

            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }

            },

        });
    });
    //validation form end

    //add tbl objek
    $("body").on("click", "#btnAdd1", function () {
        //Reference the Name and Country TextBoxes.
        var Id = $("#Id");
        var txtKodAkaun = $("#txtKodAkaun");
        if (txtKodAkaun.val() != null) {
            GetCarta(txtKodAkaun.val(), Id.val());
        }
    });

    var FlKategoriPenerima = 0;

    function GetCarta(id, akPVId) {
        var Objek = {
            Id: id
        }
        if (id != "") {
            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                //url: "/AkPV/GetCarta",
                url: '@Url.Action("GetCarta", "AkPV")',
                data: Objek,
                dataType: "json",
                success: function (r) {
                    //Reference the TextBoxes.
                    var txtKodAkaun = $("#txtKodAkaun");
                    var txtAmaunObjek = $("#txtAmaunObjek");
                    var txtJumlah = $("#jumlahObjek");

                    if ($('#ddlKodPembekal').val() != 0) {
                        FlKategoriPenerima = 1;
                    }

                    if ($('#ddlKodPekerja').val() != 0) {
                        FlKategoriPenerima = 2;
                    }

                    if ($('#ddlPanjar').val() != 0) {
                        FlKategoriPenerima = 3;
                    }

                    var AkPV1 = {
                        AkPVId: akPVId,
                        AkCartaId: txtKodAkaun.val(),
                        Amaun: txtAmaunObjek.val()
                    }

                    var tahun = $("#txtTahun").val();
                    var jKWId = $("#ddlKW").val();
                    var jBahagianId = $("#ddlBahagian").val();
                    var IsAKB = $('input[type="radio"][name="IsAKB"]:checked').val();
                    var akBankId = $("#AkBankId").val();
                    var myData = {};
                    myData.AkPV1 = AkPV1;
                    myData.tahun = tahun;
                    myData.jKWId = jKWId;
                    myData.jBahagianId = jBahagianId;
                    myData.FlKategoriPenerima = FlKategoriPenerima;
                    myData.IsAKB = IsAKB;
                    myData.AkBankId = akBankId;

                    $.ajax({
                        type: "POST",
                        //url: "/AkPV/SaveAkPV1",
                        url: '@Url.Action("SaveAkPV1", "AkPV")',
                        data: myData,
                        dataType: "json",
                        success: function (b) {

                            if (b.result == "OK") {
                                //Sum value to Total text field
                                var sum = 0;
                                sum = parseFloat(txtAmaunObjek.val()) + parseFloat(txtJumlah.val());
                                txtJumlah.val(sum.toFixed(2));

                                //Get the reference of the Table's TBODY element.
                                var tBody = $("#tblObjek > TBODY")[0];
                                //Add Row.
                                var row = tBody.insertRow(-1);

                                //Add akCartaId cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(r.record.id);
                                cell.prop("hidden", !this.checked);

                                //Add kod cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(r.record.kod + ' - ' + r.record.perihal);
                                cell.addClass('text-uppercase');

                                //Add amaun cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(parseFloat(txtAmaunObjek.val()).toFixed(2));
                                cell.addClass('text-end');
                                cell.attr("id", "td1Amaun_" + r.record.Id);

                                //Add Edit Button cell.
                                cell = $(row.insertCell(-1));

                                var btnUpdate1 = $("<button class='btn ac-primary btn-sm' type='button' id='btnUpdate1' data-bs-toggle='modal' data-bs-target='#modalObjek' onclick='Update1(this)'><i class='fas fa-edit'></i></button>");
                                cell.append(btnUpdate1);

                                //Add Remove Button cell.
                                cell = $(row.insertCell(-1));

                                var btnRemove1 = $("<button class='btn ac-danger btn-sm' type='button' id='btnRemove1' onclick='Remove1(this)'><i class='fas fa-trash'></i></button>");
                                cell.append(btnRemove1);

                                $("#txtKodAkaun option[value=" + txtKodAkaun.val() + "]").prop('disabled', true);

                                //Clear the TextBoxes.
                                txtKodAkaun.val("").trigger('change');
                                txtAmaunObjek.val("0.00");

                                if ($('#FlJenisBaucer1').is(":checked") || $('#FlJenisBaucer2').is(":checked")) {
                                    // it is checked
                                    checkJumlah();
                                } else {
                                    $("#btnSave").show();
                                }

                            }
                            else {
                                toastr.error(b.message, "Ralat");
                                toastr.options.timeOut = 2000; // 2s
                            }
                        }
                    });

                }
            });
        }

    }
    //add tbl objek end

    //remove tbl objek
    function Remove1(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var akCartaId = $("TD", row).eq(0).html();
        var namaAkaun = $("TD", row).eq(1).html();
        var amaun = $("TD", row).eq(2).html();
        var txtJumlah = $("#jumlahObjek");
        if (confirm("Hapus kod Akaun : " + namaAkaun + " ?")) {
            //Get the reference of the Table.
            var table = $("#tblObjek")[0];

            //Sum value to Total text field
            var sum = 0;
            sum = parseFloat(txtJumlah.val()) - parseFloat(amaun);
            txtJumlah.val(sum.toFixed(2));

            var AkPV1 = {
                AkCartaId: akCartaId
            }
            if (akCartaId != null) {
                $.ajax({
                    type: "POST",
                    //url: "/AkPV/RemoveAkPV1",
                    url: '@Url.Action("RemoveAkPV1", "AkPV")',
                    data: AkPV1,
                    dataType: "json",
                    success: function (r) {
                        //Delete the Table row using it's Index.
                        table.deleteRow(row[0].rowIndex);
                        if ($('#FlJenisBaucer1').is(":checked") || $('#FlJenisBaucer2').is(":checked")) {
                            // it is checked
                            checkJumlah();
                        } else {
                        }
                    }
                });
            }
            $("#txtKodAkaun option[value=" + akCartaId + "]").prop('disabled', false);

        }
    };
    //remove tbl objek end

    //update tbl objek
    function Update1(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var akCartaId = $("TD", row).eq(0).html();


        var AkPV1 = {
            AkCartaId: akCartaId
        }
        if (akCartaId != null) {
            $.ajax({
                type: "POST",
                //url: "/AkPV/GetAnItemCartAkPV1",
                url: '@Url.Action("GetAnItemCartAkPV1", "AkPV")',
                data: AkPV1,
                dataType: "json",
                success: function (r) {
                    //insert data in modal objek
                    $("#moId1").val(r.record.akCartaId);
                    $("#moKodAkaun").val(r.record.akCartaId);
                    $("#moAmaun1").val(r.record.amaun);

                    //show modal objek
                    $("#modalObjek").modal({ backdrop: 'static', keyboard: false });

                }
            });
        }
    };

    function modalUpdate1() {
        var id = $("#moId1").val();
        var akPVId = $("#Id").val();
        var amaun = $("#moAmaun1").val();
        var jumlah = $("#jumlahObjek");

        if ($('#ddlKodPembekal').val() != 0) {
            FlKategoriPenerima = 1;
        }

        if ($('#ddlKodPekerja').val() != 0) {
            FlKategoriPenerima = 2;
        }

        if ($('#ddlPanjar').val() != 0) {
            FlKategoriPenerima = 3;
        }

        var AkPV1 = {
            AkPVId: akPVId,
            AkCartaId: id,
            Amaun: amaun
        }

        var tahun = $("#txtTahun").val();
        var jKWId = $("#ddlKW").val();
        var jBahagianId = $("#ddlBahagian").val();
        var akBankId = $("#AkBankId").val();
        var IsAKB = $('input[type="radio"][name="IsAKB"]:checked').val();
        var myData = {};
        myData.AkPV1 = AkPV1;
        myData.tahun = tahun;
        myData.jKWId = jKWId;
        myData.jBahagianId = jBahagianId;
        myData.FlKategoriPenerima = FlKategoriPenerima;
        myData.IsAKB = IsAKB;
        myData.AkBankId = akBankId;

        $.ajax({
            type: "POST",
            //url: "/AkPV/SaveCartAkPV1",
            url: '@Url.Action("SaveCartAkPV1", "AkPV")',
            data: myData,
            dataType: "json",
            success: function (b) {
                //insert notification here

                if (b.result == "OK") {
                    $.ajax({
                    type: "POST",
                    //url: "/AkPV/GetAllItemCartAkPV1",
                    url: '@Url.Action("GetAllItemCartAkPV1", "AkPV")',
                    dataType: "json",
                    success: function (r) {

                        //refresh updated table objek
                        $("table tbody#tbodyObjek").empty();
                        var sum = 0;
                        if (r.record.length > 0) {
                            for (var i = 0; i < r.record.length; i++) {
                                var item1 = r.record[i];
                                var str = "<tr><td id='akCartaId' hidden>" + item1.akCartaId +
                                    "</td><td class='text-uppercase'>" + item1.akCarta.kod + " - " + item1.akCarta.perihal +
                                    "</td><td class='text-end'>" + (item1.amaun).toFixed(2) +
                                    "</td><td>" +
                                    "<button class='btn ac-primary btn-sm' type='button' id='btnUpdate1' data-bs-toggle='modal' data-bs-target='#modalObjek' onclick='Update1(this)'><i class='fa fa-edit' ></i></button>" +
                                    "</td><td>" +
                                    "<button class='btn ac-danger btn-sm' type='button' id='btnRemove1' onclick='Remove1(this)'><i class='fas fa-trash' ></i></button>" +
                                    "</td><tr>";
                                $("table tbody#tbodyObjek").append(str);
                                sum += item1.amaun;
                            }
                        }

                        jumlah.val(sum.toFixed(2));

                        if ($('#FlJenisBaucer1').is(":checked") || $('#FlJenisBaucer2').is(":checked")) {
                            // it is checked
                            checkJumlah();
                        }
                    }
                });
                } else {
                    toastr.error("Bajet untuk kod akaun ini tidak mencukupi.", "Ralat");
                    toastr.options.timeOut = 2000; // 2s
                }

            }
        });
    };
    //update tbl objek end

    //add tbl inbois
    $("body").on("click", "#btnAdd2", function () {
        //Reference the Name and Country TextBoxes.
        var ddlAkBelian = $("#txtAkBelian");
        if (ddlAkBelian.val() != null) {
            GetInbois(ddlAkBelian.val());
        }
    });

    function GetInbois(id) {
        var AkBelian = {
            Id: id
        }
        if (id != "") {
            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                //url: "/AkPV/GetAkBelian",
                url: '@Url.Action("GetAkBelian", "AkPV")',
                data: AkBelian,
                dataType: "json",
                success: function (r) {
                    //Reference the TextBoxes.
                    var ddlAkBelian = $("#txtAkBelian");
                    var txtTarInbois = $("#txtTarInbois");
                    var txtAmaun = $("#txtAmaunInbois");
                    var txtNoPO = $("#txtNoPO");
                    var txtTarPO = $("#txtTarPO");
                    var txtAmaunPO = $("#txtAmaunPO");
                    var txtJumlah = $("#jumlahInbois");

                    var AkPV2 = {
                        AkBelianId: ddlAkBelian.val(),
                        Amaun: txtAmaun.val()
                    }
                    var tahun = $("#txtTahun").val();
                    var jKWId = $("#ddlKW").val();
                    var jBahagianId = $("#ddlBahagian").val();
                    var akBankId = $("#AkBankId").val();
                    var myData = {};
                    myData.AkPV2 = AkPV2;
                    myData.tahun = tahun;
                    myData.jKWId = jKWId;
                    myData.jBahagianId = jBahagianId;
                    myData.AkBankId = akBankId;

                    $.ajax({
                        type: "POST",
                        //url: "/AkPV/SaveAkPV2",
                        url: '@Url.Action("SaveAkPV2", "AkPV")',
                        data: myData,
                        dataType: "json",
                        success: function (b) {
                            if (b.result == "OK") {
                                //Sum value to Total text field
                                var sum = 0;
                                sum = parseFloat(txtAmaun.val()) + parseFloat(txtJumlah.val());
                                txtJumlah.val(sum.toFixed(2));

                                //Get the reference of the Table's TBODY element.
                                var tBody = $("#tblInbois > TBODY")[0];
                                //Add Row.
                                var row = tBody.insertRow(-1);

                                //Add AkBelianId cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(r.record.id);
                                cell.prop("hidden", !this.checked);

                                //Add No inbois cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(r.record.noInbois);

                                //Add TarInbois cell.
                                var cell = $(row.insertCell(-1));
                                if (txtTarInbois.val() == null || txtTarInbois.val() == '') {
                                    cell.html('');
                                } else {
                                    cell.html(showDate(txtTarInbois.val()));
                                }

                                //Add amaun inbois cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(parseFloat(txtAmaun.val()).toFixed(2));
                                cell.addClass('text-end');

                                //Add NoPO cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(txtNoPO.val());

                                //Add TarPO cell.
                                var cell = $(row.insertCell(-1));
                                if (txtTarPO.val() == null || txtTarPO.val() == '') {
                                    cell.html('');
                                } else {

                                    cell.html(showDate(txtTarPO.val()));
                                }

                                //Add amaun PO cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(parseFloat(txtAmaunPO.val()).toFixed(2));
                                cell.addClass('text-end');

                                //Add Edit Button cell.
                                cell = $(row.insertCell(-1));

                                var btnUpdate2 = $("<button class='btn ac-primary btn-sm' type='button' id='btnUpdate2' data-bs-toggle='modal' data-bs-target='#modalInbois' onclick='Update2(this)'><i class='fas fa-edit'></i></button>");
                                cell.append(btnUpdate2);

                                //Add Button cell.
                                cell = $(row.insertCell(-1));
                                var btnRemove2 = $("<button class='btn ac-danger btn-sm' type='button' id='btnRemove1' onclick='Remove2(this)'><i class='fas fa-trash'></i></button>");
                                cell.append(btnRemove2);

                                //Clear the TextBoxes.
                                $("#txtAkBelian option[value=" + ddlAkBelian.val() + "]").prop('disabled', true);

                                ddlAkBelian.val("0").trigger('change');
                                txtTarInbois.val("");
                                txtAmaun.val("0.00");
                                txtNoPO.val("");
                                txtTarPO.val("");
                                txtAmaunPO.val("0.00");
                                checkJumlah();

                            } else {
                                toastr.error(b.message, "Ralat");
                                toastr.options.timeOut = 2000; // 2s
                            }

                        }
                    });

                }
            });
        }

    }
    //add tbl inbois end

    //remove tbl inbois
    function Remove2(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var name = $("TD", row).eq(0).html();
        var amaun = $("TD", row).eq(3).html();
        var txtJumlah = $("#jumlahInbois");

        if (confirm("Hapus : " + name + " ?")) {
            //Get the reference of the Table.
            var table = $("#tblInbois")[0];

            //Sum value to Total text field
            var sum = 0;
            sum = parseFloat(txtJumlah.val()) - parseFloat(amaun);
            txtJumlah.val(sum.toFixed(2));

            var AkPV2 = {
                AkBelianId: name
            }
            if (name != null) {
                $.ajax({
                    type: "POST",
                    //url: "/AkPV/RemoveAkPV2",
                    url: '@Url.Action("RemoveAkPV2", "AkPV")',
                    data: AkPV2,
                    dataType: "json",
                    success: function (r) {
                        //Delete the Table row using it's Index.
                        table.deleteRow(row[0].rowIndex);
                        checkJumlah();
                    }
                });
                $("#txtAkBelian option[value=" + name + "]").prop('disabled', false);
            }
        }
    };
    //remove tbl inbois end

    //update tbl Inbois
    function Update2(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var akBelianId = $("TD", row).eq(0).html();
        var AkPV2 = {
            AkBelianId: akBelianId
        }
        $.ajax({
            type: "POST",
            //url: "/AkPV/GetAnItemCartAkPV2",
            url: '@Url.Action("GetAnItemCartAkPV2", "AkPV")',
            data: AkPV2,
            dataType: "json",
            success: function (r) {
                //insert data in modal urusniaga
                $("#moId2").val(r.record.akBelianId);
                $("#moAkBelian").val(r.record.akBelian.noInbois);
                $("#moAmaun2").val(r.record.amaun);

                //show modal objek
                $("#modalInbois").modal({ backdrop: 'static', keyboard: false });

            }
        });
    };

    function modalUpdate2() {
        var id = $("#moId2").val();
        var amaun = $("#moAmaun2").val();
        var akPVId = $("#Id").val();
        var jumlah = $("#jumlahInbois");

        var AkPV2 = {
            AkBelianId: id,
            AkPVId: akPVId,
            Amaun: amaun
        }
        $.ajax({
            type: "POST",
            //url: "/AkPV/SaveCartAkPV2",
            url: '@Url.Action("SaveCartAkPV2", "AkPV")',
            data: AkPV2,
            dataType: "json",
            success: function (r) {
                //insert notification here

                $.ajax({
                    type: "POST",
                    //url: "/AkPV/GetAllItemCartAkPV2",
                    url: '@Url.Action("GetAllItemCartAkPV2", "AkPV")',
                    dataType: "json",
                    success: function (r) {

                        //refresh updated table Urusniaga
                        $("table tbody#tbodyInbois").empty();
                        var sum = 0;
                        if (r.record.length > 0) {
                            for (var i = 0; i < r.record.length; i++) {
                                var item1 = r.record[i];
                                var noPOInden = "-";
                                var tarPOInden = null;
                                var jumlahPOInden = 0;
                                if (r.type != null) {
                                    if (r.type == "PO") {
                                        noPOInden = item1.akBelian.akPO.noPO;
                                        tarPOInden = showDate(item1.akBelian.akPO.tarikh);
                                        jumlahPOInden = (item1.akBelian.akPO.jumlah).toFixed(2);
                                    }

                                    if (r.type == "Inden") {
                                        noPOInden = item1.akBelian.akInden.noInden;
                                        tarPOInden = showDate(item1.akBelian.akInden.tarikh);
                                        jumlahPOInden = (item1.akBelian.akInden.jumlah).toFixed(2);
                                    }
                                }

                                var str = "<tr><td id='akBelianId' hidden>" + item1.akBelianId +
                                    "</td><td>" + item1.akBelian.noInbois +
                                    "</td><td>" + showDate(item1.akBelian.tarikh) +
                                    "</td><td class='text-end'>" + (item1.amaun).toFixed(2) +
                                    "</td><td>" + noPOInden +
                                    "</td><td>" + tarPOInden +
                                    "</td><td class='text-end'>" + jumlahPOInden +
                                    "</td><td>" +
                                    "<button class='btn ac-primary btn-sm' type='button' id='btnUpdate2' data-bs-toggle='modal' data-bs-target='#modalInbois' onclick='Update2(this)'><i class='fa fa-edit' ></i></button>" +
                                    "</td><td>" +
                                    "<button class='btn ac-danger btn-sm' type='button' id='btnRemove2' onclick='Remove2(this)'><i class='fas fa-trash' ></i></button>" +
                                    "</td><tr>";
                                $("table tbody#tbodyInbois").append(str);
                                sum += item1.amaun;
                            }
                        }
                        jumlah.val(sum.toFixed(2));
                        checkJumlah();
                    }
                });
            }
        });
    };
    //update tbl Inbois end

    //add tbl ganda
        $("body").on("click", "#btnAdd3", function () {
        //Reference the Name and Country TextBoxes.
        $("#modalAdd3").prop('hidden', false);
        $("#modalUpdate3").prop('hidden', true);
    });

    function modalAdd3() {
        var indek = bil;
        //var moIndek = $("#moIndek").val();
        //if (moIndek != "") {
        //    indek = moIndek;
        //}
        var kategoriPenerima = $('input[name="FlKategoriPenerima"]:checked').val();
        var pekerjaId = $("#moGandaAnggota").val();
        var atletId = $("#moGandaAtlet").val();
        var jurulatihId = $("#moGandaJurulatih").val();
        var noKP = $("#moGandaNoKP").val();
        var nama = $("#moGandaNama").val();
        var caraBayarId = $("#moGandaCaraBayar").val();
        var bankId = $("#moGandaBank").val();
        var noAkaun = $("#moGandaNoAkaun").val();
        var noCekEFT = $("#moGandaNoCekEFT").val();
        var tarCekEFT = $("#moGandaTarCekEFT").val();
        var amaun = $("#moGandaAmaun").val();
        var jumlah = $("#jumlahGanda");

        var AkPVGanda = {
            Indek: indek,
            FlKategoriPenerima: kategoriPenerima,
            SuPekerjaId: pekerjaId,
            SuAtletId: atletId,
            SuJurulatihId: jurulatihId,
            NoKp: noKP,
            Nama: nama,
            JCaraBayarId: caraBayarId,
            JBankId: bankId,
            NoAkaun: noAkaun,
            NoCekAtauEFT: noCekEFT,
            TarCekAtauEFT: tarCekEFT,
            Amaun: amaun
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveCartAkPVGanda", "AkPV")',
            data: AkPVGanda,
            dataType: "json",
            success: function (r) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetAllItemCartAkPVGanda", "AkPV")',
                    dataType: "json",
                    success: function (r) {

                        //refresh updated table Ganda
                        $("table tbody#tbodyGanda").empty();
                        var sum = 0;
                        if (r.record.length > 0) {
                            for (var i = 0; i < r.record.length; i++) {
                                var item1 = r.record[i];
                                var tarSlip = "";
                                if (item1.tarCekAtauEFT == null) {
                                } else {
                                    tarSlip = showDate(item1.tarCekAtauEFT);
                                }
                                var noSlip = "";
                                if (item1.noCekAtauEFT == null) {
                                } else {
                                    noSlip = item1.noCekAtauEFT;
                                }
                                var penerimaId = "";
                                var kategoriPenerima = "";
                                switch (item1.flKategoriPenerima) {
                                    case 1:
                                        kategoriPenerima = "ANGGOTA";
                                        penerimaId = item1.suPekerjaId;
                                        break;
                                    case 2:
                                        kategoriPenerima = "ATLET";
                                        penerimaId = item1.suAtletId;
                                        break;
                                    case 3:
                                        kategoriPenerima = "JURULATIH";
                                        penerimaId = item1.suJurulatihId;
                                        break;
                                    case 0:
                                        kategoriPenerima = "LAIN";
                                        penerimaId = "";
                                        break;
                                }
                                var str = "<tr><td hidden>" + item1.indek +
                                    "</td><td class='text-uppercase'>" + kategoriPenerima +
                                    "</td><td hidden>" + penerimaId +
                                    "</td><td >" + item1.noKp +
                                    "</td><td class='text-uppercase'>" + item1.nama +
                                    "</td><td class='text-uppercase'>" + item1.jCaraBayar.perihal +
                                    "</td><td class='text-uppercase'>" + item1.jBank.kod +
                                    "</td><td >" + item1.noAkaun +
                                    "</td><td >" + noSlip +
                                    "</td><td >" + tarSlip +
                                    "</td><td class='text-end'>" + (item1.amaun).toFixed(2) +
                                    "</td><td>" +
                                    "<button class='btn ac-primary btn-sm' type='button' id='btnUpdate3' data-bs-toggle='modal' data-bs-target='#modalGanda' onclick='Update3(this)'><i class='fa fa-edit' ></i></button>" +
                                    "</td><td>" +
                                    "<button class='btn ac-danger btn-sm' type='button' id='btnRemove3' onclick='Remove3(this)'><i class='fas fa-trash' ></i></button>" +
                                    "</td><tr>";
                                $("table tbody#tbodyGanda").append(str);
                                sum += item1.amaun;
                            }
                            bil++;
                        }
                        jumlah.val(sum.toFixed(2));
                        checkJumlah();
                    }
                });
            }
        });

        $("#modalGanda").modal('hide');
    }
    // add tbl Ganda end

    // update tbl Ganda
    function Update3(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var indek = $("TD", row).eq(0).html();

        var AkPVGanda = {
            Indek: indek
        }
        $.ajax({
            type: "POST",
            //url: "/AkBelian/GetAnItemCartAkBelian2",
            url: '@Url.Action("GetAnItemCartAkPVGanda", "AkPV")',
            data: AkPVGanda,
            dataType: "json",
            success: function (r) {
                //insert data in modal perihal
                $("#moIndek").val(r.record.indek);
                switch (r.record.flKategoriPenerima) {
                    case 1:
                        $("#FlKategoriPenerima1").prop("checked", true);

                        $("#moGandaAnggota").val(r.record.suPekerjaId).change();
                        $("#moGandaAtlet").val(0).change();
                        $("#moGandaJurulatih").val(0).change();

                        $("#modalGandaAnggota").prop('hidden', false);
                        $("#modalGandaAtlet").prop('hidden', true);
                        $("#modalGandaJurulatih").prop('hidden', true);
                        break;
                    case 2:
                        $("#FlKategoriPenerima2").prop("checked", true);

                        $("#moGandaAnggota").val(0).change();
                        $("#moGandaAtlet").val(r.record.suAtletId).change();
                        $("#moGandaJurulatih").val(0).change();

                        $("#modalGandaAnggota").prop('hidden', true);
                        $("#modalGandaAtlet").prop('hidden', false);
                        $("#modalGandaJurulatih").prop('hidden', true);
                        break;
                    case 3:
                        $("#FlKategoriPenerima3").prop("checked", true);

                        $("#moGandaAnggota").val(0).change();
                        $("#moGandaAtlet").val(0).change();
                        $("#moGandaJurulatih").val(r.record.suJurulatihId).change();

                        $("#modalGandaAnggota").prop('hidden', true);
                        $("#modalGandaAtlet").prop('hidden', true);
                        $("#modalGandaJurulatih").prop('hidden', false);
                        break;
                    case 0:
                        $("#FlKategoriPenerima0").prop("checked", true);

                        $("#moGandaAnggota").val(0).change();
                        $("#moGandaAtlet").val(0).change();
                        $("#moGandaJurulatih").val(0).change();

                        $("#modalGandaAnggota").prop('hidden', true);
                        $("#modalGandaAtlet").prop('hidden', true);
                        $("#modalGandaJurulatih").prop('hidden', true);
                        break;
                }
                $("#moGandaNoKP").val(r.record.noKp);
                $("#moGandaNama").val(r.record.nama);
                $("#moGandaCaraBayar").val(r.record.jCaraBayarId).change();
                $("#moGandaBank").val(r.record.jBankId).change();
                $("#moGandaNoAkaun").val(r.record.noAkaun);
                $("#moGandaNoCekEFT").val(r.record.noCekAtauEFT);
                $("#moGandaTarCekEFT").val(r.record.tarCekAtauEFT);
                $("#moGandaAmaun").val(r.record.amaun.toFixed(2));

                //show modal perihal
                $("#modalGanda").modal({ backdrop: 'static', keyboard: false });
                $("#modalAdd3").prop('hidden', true);
                $("#modalUpdate3").prop('hidden', false);
            }
        });
    };

    function modalUpdate3() {
        var indek = $("#moIndek").val();
        var kategoriPenerima = $('input[name="FlKategoriPenerima"]:checked').val();
        var pekerjaId = $("#moGandaAnggota").val();
        var atletId = $("#moGandaAtlet").val();
        var jurulatihId = $("#moGandaJurulatih").val();
        var noKP = $("#moGandaNoKP").val();
        var nama = $("#moGandaNama").val();
        var caraBayarId = $("#moGandaCaraBayar").val();
        var bankId = $("#moGandaBank").val();
        var noAkaun = $("#moGandaNoAkaun").val();
        var noCekEFT = $("#moGandaNoCekEFT").val();
        var tarCekEFT = $("#moGandaTarCekEFT").val();
        var amaun = $("#moGandaAmaun").val();
        var jumlah = $("#jumlahGanda");

        var AkPVGanda = {
            Indek: indek,
            FlKategoriPenerima: kategoriPenerima,
            SuPekerjaId: pekerjaId,
            SuAtletId: atletId,
            SuJurulatihId: jurulatihId,
            NoKp: noKP,
            Nama: nama,
            JCaraBayarId: caraBayarId,
            JBankId: bankId,
            NoAkaun: noAkaun,
            NoCekAtauEFT: noCekEFT,
            TarCekAtauEFT: tarCekEFT,
            Amaun: amaun
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveCartAkPVGanda", "AkPV")',
            data: AkPVGanda,
            dataType: "json",
            success: function (r) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetAllItemCartAkPVGanda", "AkPV")',
                    dataType: "json",
                    success: function (r) {

                        //refresh updated table Ganda
                        $("table tbody#tbodyGanda").empty();
                        var sum = 0;
                        if (r.record.length > 0) {
                            for (var i = 0; i < r.record.length; i++) {
                                var item1 = r.record[i];
                                var tarSlip = "";
                                if (item1.tarCekAtauEFT == null) {
                                } else {
                                    tarSlip = showDate(item1.tarCekAtauEFT);
                                }
                                var noSlip = "";
                                if (item1.noCekAtauEFT == null) {
                                } else {
                                    noSlip = item1.noCekAtauEFT;
                                }
                                var penerimaId = "";
                                var kategoriPenerima = "";
                                switch (item1.flKategoriPenerima) {
                                    case 1:
                                        kategoriPenerima = "ANGGOTA";
                                        penerimaId = item1.suPekerjaId;
                                        break;
                                    case 2:
                                        kategoriPenerima = "ATLET";
                                        penerimaId = item1.suAtletId;
                                        break;
                                    case 3:
                                        kategoriPenerima = "JURULATIH";
                                        penerimaId = item1.suJurulatihId;
                                        break;
                                    case 0:
                                        kategoriPenerima = "LAIN";
                                        penerimaId = "";
                                        break;
                                }
                                var str = "<tr><td hidden>" + item1.indek +
                                    "</td><td class='text-uppercase'>" + kategoriPenerima +
                                    "</td><td hidden>" + penerimaId +
                                    "</td><td >" + item1.noKp +
                                    "</td><td class='text-uppercase'>" + item1.nama +
                                    "</td><td class='text-uppercase'>" + item1.jCaraBayar.perihal +
                                    "</td><td class='text-uppercase'>" + item1.jBank.kod +
                                    "</td><td >" + item1.noAkaun +
                                    "</td><td >" + noSlip +
                                    "</td><td >" + tarSlip +
                                    "</td><td class='text-end'>" + (item1.amaun).toFixed(2) +
                                    "</td><td>" +
                                    "<button class='btn ac-primary btn-sm' type='button' id='btnUpdate3' data-bs-toggle='modal' data-bs-target='#modalGanda' onclick='Update3(this)'><i class='fa fa-edit' ></i></button>" +
                                    "</td><td>" +
                                    "<button class='btn ac-danger btn-sm' type='button' id='btnRemove3' onclick='Remove3(this)'><i class='fas fa-trash' ></i></button>" +
                                    "</td><tr>";
                                $("table tbody#tbodyGanda").append(str);
                                sum += item1.amaun;
                            }
                            bil++;
                        }
                        jumlah.val(sum.toFixed(2));
                        checkJumlah();
                    }
                });
            }
        });

        $("#modalGanda").modal('hide');
    }
    // update tbl Ganda end

    //remove tbl Ganda
    function Remove3(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var indek = $("TD", row).eq(0).html();
        var name = $("TD", row).eq(4).html();
        var amaun = $("TD", row).eq(10).html();
        var JumlahGanda = $("#jumlahGanda");
        if (confirm("Hapus : " + name + " ?")) {
            //Get the reference of the Table.
            var table = $("#tblGanda")[0];

            var sum = 0;
            sum = parseFloat(JumlahGanda.val()) - parseFloat(Number(amaun.replace(",", "")));
            JumlahGanda.val(sum.toFixed(2));

            var AkPVGanda = {
                Indek: indek,
            }
            if (name != null) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("RemoveAkPVGanda", "AkPV")',
                    data: AkPVGanda,
                    dataType: "json",
                    success: function (r) {
                        //Delete the Table row using it's Index.
                        table.deleteRow(row[0].rowIndex);
                        checkJumlah();
                    }
                });
            }
        }
    };
    //remove tbl ganda end
</script>