@model SPMBNET7.CoreBusiness.Models.Modules._02_Akaun.AkPV

@{
    ViewData["Title"] = "Baucer Pembayaran (Pemegang Tunai Panjar) - Tambah";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_JSCreate" />

<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Pages/Partials/Common/_TitleCreatePartial.cshtml" />
        <form asp-action="CreateByJenis" class="needs-validation">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input name="syscode" value="SPPB" hidden />
            <div class="row g-3">
                <div class="col-md-8">
                    @*radio button jenis baucer*@
                    <div class="card mb-2">
                        <div class="card-body pb-1 pt-1">
                            <div class="form-group mb-0 mt-1">
                                <label class="control-label">Jenis Baucer</label>
                            </div>
                            <div class="row g-3 col-sm ml-2">
                                <div class="custom-control custom-radio col-md-4 " hidden>
                                    <input class="custom-control-input" type="radio" id="0" asp-for="FlJenisBaucer" value="0">
                                    <label class="custom-control-label" for="0">
                                        Am
                                    </label>
                                </div>
                                <div class="custom-control custom-radio col-md-4 " hidden>
                                    <input class="custom-control-input" type="radio" id="1" asp-for="FlJenisBaucer" value="1">
                                    <label class="custom-control-label" for="1">
                                        Inbois
                                    </label>
                                </div>
                                <div class="custom-control custom-radio col-md-4 " hidden>
                                    <input class="custom-control-input" type="radio" id="2" asp-for="FlJenisBaucer" value="2">
                                    <label class="custom-control-label" for="2">
                                        Gaji
                                    </label>
                                </div>
                                <div class="custom-control custom-radio col-md-4 " hidden>
                                    <input class="custom-control-input" type="radio" id="3" asp-for="FlJenisBaucer" value="3">
                                    <label class="custom-control-label" for="3">
                                        Pendahuluan Pelbagai
                                    </label>
                                </div>
                                <div class="custom-control custom-radio col-md-4">
                                    <input class="custom-control-input" type="radio" id="4" asp-for="FlJenisBaucer" value="4" checked>
                                    <label class="custom-control-label" for="4">
                                        Rekupan
                                    </label>
                                </div>
                                <div class="custom-control custom-radio col-md-4">
                                    <input class="custom-control-input" type="radio" id="5" asp-for="FlJenisBaucer" value="5">
                                    <label class="custom-control-label" for="5">
                                        Tambah Had Panjar
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*radio button jenis baucer end*@
                </div>
                <div class="col-md-4">
                    <div class="card mb-2">
                        <div class="card-body pb-1 pt-1">
                            <div class="form-group mb-0 mt-1">
                                <label class="control-label">Jenis ABB</label>
                            </div>
                            <div class="row g-3 col-sm ml-2">
                                <div class="custom-control custom-radio col-md-4 ">
                                    <input class="custom-control-input " type="radio" id="IsAKB0" asp-for="IsAKB" value="false" checked>
                                    <label class="custom-control-label" for="IsAKB0">
                                        Tidak
                                    </label>
                                </div>
                                <div class="custom-control custom-radio col-md-4 ">
                                    <input class="custom-control-input " type="radio" id="IsAKB1" asp-for="IsAKB" value="true">
                                    <label class="custom-control-label" for="IsAKB1">
                                        Ya
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row g-3">

                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Tarikh" class="control-label"></label><span class="text-danger control-label">*</span>
                        <input asp-for="Tarikh" class="form-control form-control-sm" value="@DateTime.Now.ToString("s")" required />
                        <span asp-validation-for="Tarikh" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Tahun" class="control-label"></label><span class="text-danger control-label">*</span>
                        <input asp-for="Tahun" id="txtTahun" class="form-control form-control-sm form-control-sm-custom" value="@DateTime.Now.Year.ToString()" required />
                        <span asp-validation-for="Tahun" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="JKWId" class="control-label"></label><span class="text-danger control-label">*</span>
                        <select class="form-control form-control-sm" asp-for="JKWId" required id="ddlKW">
                            @foreach (var s in ViewBag.JKW)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                        <span asp-validation-for="JKWId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="JBahagianId" class="control-label"></label><span class="text-danger control-label">*</span>
                        <select class="form-control form-control-sm" asp-for="JBahagianId" required id="ddlBahagian">
                            @foreach (var s in ViewBag.JBahagian)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                        <span asp-validation-for="JBahagianId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="AkBankId" class="control-label"></label><span class="text-danger control-label">*</span>
                        <select class="form-control select2 input-group-sm" asp-for="AkBankId" required>
                            @foreach (var s in ViewBag.AkBank)
                            {
                                <option value="@s.Id">@s.NoAkaun - @s.JBank.Nama</option>
                            }
                        </select>
                        <span asp-validation-for="AkBankId" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div class="row g-3">
                <div class="col-md-12">
                    <input id="ddlKodPembekal" value="0" hidden />
                    <input id="ddlPanjar" value="1" hidden />
                    <div class="card box-shadow mb-3">
                        <div class="card-header">
                            <h6>Maklumat Panjar</h6>
                        </div>
                        <div class="card-body">
                            <div class="row g-3">
                                <div class="col-md-6">

                                    <label asp-for="AkTunaiRuncitId" class="control-label"></label><span class="text-danger control-label">*</span>
                                    <select class="form-control form-control-sm" asp-for="AkTunaiRuncitId" required id="ddlTunaiRuncit">
                                        <option value="0" selected>-- Pilih Kaunter Panjar --</option>
                                        @foreach (var s in ViewBag.AkTunaiRuncit)
                                        {

                                            <option value="@s.Id">@s.KaunterPanjar (@s.AkCarta.Kod - @s.AkCarta.Perihal )</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="NoRekup" class="control-label"></label>
                                        <input asp-for="NoRekup" class="form-control form-control-sm text-uppercase" id="txtNoRekup" readonly />
                                        <span asp-validation-for="NoRekup" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="NoPV" class="control-label"></label>
                        <input id="txtNoRujukan" asp-for="NoPV" value="@ViewBag.NoRujukan" class="form-control form-control-sm" readonly />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="NoKP" class="control-label"></label>
                        <input asp-for="NoKP" class="form-control form-control-sm" id="txtNoKP" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Nama" class="control-label"></label><span class="text-danger control-label">*</span>
                        <input asp-for="Nama" class="form-control form-control-sm text-uppercase" />
                        <span asp-validation-for="Nama" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Alamat1" class="control-label">Alamat</label>
                <input asp-for="Alamat1" class="form-control form-control-sm text-uppercase" id="txtAlamat1" />
                <span asp-validation-for="Alamat1" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <input asp-for="Alamat2" class="form-control form-control-sm text-uppercase" id="txtAlamat2" />
                <span asp-validation-for="Alamat2" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <input asp-for="Alamat3" class="form-control form-control-sm text-uppercase" id="txtAlamat3" />
                <span asp-validation-for="Alamat3" class="text-danger"></span>
            </div>
            <div class="row g-3">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NoAkaunBank" class="control-label"></label>
                        <input asp-for="NoAkaunBank" class="form-control form-control-sm text-uppercase" id="txtNoAkaunBank" />
                        <span asp-validation-for="NoAkaunBank" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Telefon" class="control-label"></label>
                        <input asp-for="Telefon" class="form-control form-control-sm text-uppercase" id="txtTelefon" />
                        <span asp-validation-for="Telefon" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Emel" class="control-label"></label>
                        <input asp-for="Emel" class="form-control form-control-sm" id="txtEmel" />
                        <span asp-validation-for="Emel" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-md-4">
                    <label asp-for="JCaraBayarId" class="control-label"></label><span class="text-danger control-label">*</span>
                    <select class="form-control form-control-sm select2" asp-for="JCaraBayarId" id="ddlJCaraBayar" required>
                        <option value="0" hidden>-- Pilih Cara Bayaran --</option>
                        @foreach (var s in ViewBag.JCaraBayar)
                        {
                            <option value="@s.Id" class="text-uppercase">@s.Kod - @s.Perihal</option>
                        }
                    </select>
                    <span asp-validation-for="JCaraBayarId" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NoCekAtauEFT" class="control-label"></label>
                        <input asp-for="NoCekAtauEFT" class="form-control form-control-sm form-control-sm" id="txtNoCekAtauEFT" />
                        <span asp-validation-for="NoCekAtauEFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="TarCekAtauEFT" class="control-label"></label>
                        <input asp-for="TarCekAtauEFT" class="form-control form-control-sm" id="txtTarCekAtauEFT" />
                        <span asp-validation-for="TarCekAtauEFT" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Perihal" class="control-label"></label>
                <textarea asp-for="Perihal" class="form-control form-control-sm text-uppercase" rows="2" id="txtPerihal"></textarea>
                <span asp-validation-for="Perihal" class="text-danger"></span>
            </div>

            <br />
            @*table Objek*@
            <div class="card box-shadow mb-3 mt-2">
                <div class="card-header">
                    <h6>Objek</h6>
                </div>
                <div class="card-body">
                    <table id="tblObjek" class="table table-sm nowrap" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width:70%">Kod</th>
                                <th style="width:30%">Amaun RM</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbodyObjek">
                            @if (ViewBag.akPV1 != null)
                            {
                                foreach (var item in ViewBag.akPV1)
                                {
                                    <tr id="@item.Id">
                                        <td id="akCartaId" hidden>@item.AkCartaId</td>
                                        <td class="text-uppercase">@item.AkCarta.Kod - @item.AkCarta.Perihal</td>
                                        <td class="text-end" id="td1Amaun">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                                        <td>
                                            <button class="btn ac-primary btn-sm" type="button" id="btnUpdate1" data-toggle="modal" data-target="#modalObjek" onclick="Update1(this)">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn ac-danger btn-sm" type="button" id="btnRemove1" onclick="Remove1(this)">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td id="akCartaId" hidden></td>
                                <td>
                                    <select class="form-control form-control-sm select2" id="txtKodAkaun">
                                        <option value="" disabled selected>-- Pilih Kod Akaun --</option>
                                        @foreach (var s in ViewBag.AkCarta)
                                        {
                                            <option value="@s.Id">@s.Kod - @s.Perihal </option>
                                        }
                                    </select>
                                </td>
                                <td><input class="form-control form-control-sm" type="number" id="txtAmaunObjek" step="0.01" value="0.00"></td>
                                <td><button class="btn btn-success btn-sm" type="button" id="btnAdd1"><i class="fas fa-plus"></i></button></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="form-group pb-2">
                        <label asp-for="Jumlah" class="control-label">Jumlah Objek RM</label>
                        <input asp-for="Jumlah" class="form-control form-control-sm" id="jumlahObjek" readonly value="0.00" />
                        <span asp-validation-for="Jumlah" class="text-danger"></span>
                    </div>
                </div>

            </div>
            @*table Objek end*@

            <hr />
            <div class="form-group">
                <input type="submit" value="Simpan" id="btnSave" class="btn ac-primary btn-sm" />
                <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </div>

            @*hidden type input*@
            <div class="form-group" hidden>
                <label asp-for="NoPV" class="control-label"></label>
                <input id="noRujukan" asp-for="NoPV" class="form-control form-control-sm" readonly />
                <span asp-validation-for="NoPV" class="text-danger"></span>
            </div>

            <div class="form-group" hidden>
                <label asp-for="FlCetak" class="control-label"></label>
                <input asp-for="FlCetak" class="form-control form-control-sm" value="0" />
                <span asp-validation-for="FlCetak" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="FlPosting" class="control-label"></label>
                <input asp-for="FlPosting" class="form-control form-control-sm" value="0" />
                <span asp-validation-for="FlPosting" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="FlHapus" class="control-label"></label>
                <input asp-for="FlHapus" class="form-control form-control-sm" value="0" />
                <span asp-validation-for="FlHapus" class="text-danger"></span>
            </div>

            <div class="form-group" hidden>
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control form-control-sm" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="TarMasuk" class="control-label"></label>
                <input asp-for="TarMasuk" class="form-control form-control-sm" value="@DateTime.Now.ToString("s")" disabled />
                <span asp-validation-for="TarMasuk" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="UserIdKemaskini" class="control-label"></label>
                <input asp-for="UserIdKemaskini" class="form-control form-control-sm" />
                <span asp-validation-for="UserIdKemaskini" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="TarKemaskini" class="control-label"></label>
                <input asp-for="TarKemaskini" class="form-control form-control-sm" value="@DateTime.Now.ToString("s")" disabled />
                <span asp-validation-for="TarKemaskini" class="text-danger"></span>
            </div>
            @*hidden type input end*@

        </form>
    </div>
</div>


<!-- Modal Objek -->
<div class="modal fade bd-example-modal-lg" id="modalObjek" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Objek</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="moId1" hidden />
                    <div class="form-group">
                        <label class="col-form-label">Kod Akaun</label>
                        <select class="form-control form-control-sm" id="moKodAkaun" disabled>
                            <option value="" disabled selected>-- Pilih Kod Akaun --</option>
                            @foreach (var s in ViewBag.AkCarta)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Amaun RM</label>
                        <input type="number" class="form-control form-control-sm" id="moAmaun1">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="modalUpdate1()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Objek End -->

