@model SPMBNET7.CoreBusiness.Models.Modules._02_Akaun.AkPV

@{
    ViewData["Title"] = "Baucer Pembayaran (Pekerja) - Tambah";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_JSCreate" />

<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Pages/Partials/Common/_TitleCreatePartial.cshtml" />
        <form asp-action="CreateByJenis" class="needs-validation">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input name="syscode" value="SPPB" hidden />
            <div class="row g-3">
                <div class="col-lg-6">
                    @*radio button jenis baucer*@
                    <div class="card mb-2">
                        <div class="card-body pb-1 pt-1">
                            <div class="form-group mb-0 mt-1">
                                <label class="control-label">Jenis Baucer</label>
                            </div>
                            <div class="row g-3 col-sm ml-2">
                                <div class="custom-control custom-radio col-md-4 " hidden>
                                    <input class="custom-control-input" type="radio" id="0" asp-for="FlJenisBaucer" value="0">
                                    <label class="custom-control-label" for="0">
                                        Am
                                    </label>
                                </div>
                                <div class="custom-control custom-radio col-md-4 " hidden>
                                    <input class="custom-control-input" type="radio" id="1" asp-for="FlJenisBaucer" value="1">
                                    <label class="custom-control-label" for="1">
                                        Inbois
                                    </label>
                                </div>
                                <div class="custom-control custom-radio col-md-4 ">
                                    <input class="custom-control-input" type="radio" id="2" asp-for="FlJenisBaucer" value="2">
                                    <label class="custom-control-label" for="2">
                                        Gaji
                                    </label>
                                </div>
                                <div class="custom-control custom-radio col-md-4 ">
                                    <input class="custom-control-input" type="radio" id="3" asp-for="FlJenisBaucer" value="3" checked>
                                    <label class="custom-control-label" for="3">
                                        Pendahuluan Pelbagai
                                    </label>
                                </div>
                                <div class="custom-control custom-radio col-md-4" hidden>
                                    <input class="custom-control-input" type="radio" id="4" asp-for="FlJenisBaucer" value="4">
                                    <label class="custom-control-label" for="4">
                                        Panjar
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*radio button jenis baucer end*@
                </div>
                <div class="col-lg-3">
                    <div class="card mb-2">
                        <div class="card-body pb-1 pt-1">
                            <div class="form-group mb-0 mt-1">
                                <label class="control-label">Baucer Berganda</label>
                            </div>
                            <div class="row g-3 col-sm ml-2">
                                <div class="custom-control custom-radio col-md-4 ">
                                    <input class="custom-control-input " type="radio" id="IsGanda0" asp-for="IsGanda" value="false" checked>
                                    <label class="custom-control-label" for="IsGanda0">
                                        Tidak
                                    </label>
                                </div>
                                <div class="custom-control custom-radio col-md-4 ">
                                    <input class="custom-control-input " type="radio" id="IsGanda1" asp-for="IsGanda" value="true">
                                    <label class="custom-control-label" for="IsGanda1">
                                        Ya
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card mb-2">
                        <div class="card-body pb-1 pt-1">
                            <div class="form-group mb-0 mt-1">
                                <label class="control-label">Jenis ABB</label>
                            </div>
                            <div class="row g-3 col-sm ml-2">
                                <div class="custom-control custom-radio col-md-4 ">
                                    <input class="custom-control-input " type="radio" id="IsAKB0" asp-for="IsAKB" value="false" checked>
                                    <label class="custom-control-label" for="IsAKB0">
                                        Tidak
                                    </label>
                                </div>
                                <div class="custom-control custom-radio col-md-4 ">
                                    <input class="custom-control-input " type="radio" id="IsAKB1" asp-for="IsAKB" value="true">
                                    <label class="custom-control-label" for="IsAKB1">
                                        Ya
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*pendahuluan pelbagai*@
            <div class="card box-shadow mb-3" id="cardPendahuluanPelbagai">
                <div class="card-header">
                    <h6>Pendahuluan Pelbagai</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="SpPendahuluanPelbagaiId" class="control-label"></label>
                        <select class="form-control form-control-sm select2" asp-for="SpPendahuluanPelbagaiId" id="ddlPendahuluanPelbagai">
                            <option value="0" selected>-- Pilih No Permohonan --</option>
                            @foreach (var s in ViewBag.SpPendahuluanPelbagai)
                            {
                                <option value="@s.Id">@s.NoPermohonan</option>
                            }
                        </select>
                        <span asp-validation-for="SpPendahuluanPelbagaiId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @*pendahuluan pelbagai end*@



            <div class="row g-3">
                <div class="col-md-1">
                    <div class="form-group">
                        <label asp-for="Tahun" class="control-label"></label><span class="text-danger control-label">*</span>
                        <input asp-for="Tahun" id="txtTahun" class="form-control form-control-sm form-control-sm-custom" value="@DateTime.Now.Year.ToString()" required />
                        <span asp-validation-for="Tahun" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Tarikh" class="control-label"></label><span class="text-danger control-label">*</span>
                        <input asp-for="Tarikh" class="form-control form-control-sm" value="@DateTime.Now.ToString("s")" required />
                        <span asp-validation-for="Tarikh" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="JKWId" class="control-label"></label><span class="text-danger control-label">*</span>
                        <select class="form-control form-control-sm text-uppercase" asp-for="JKWId" required id="ddlKW">
                            @foreach (var s in ViewBag.JKW)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                        <span asp-validation-for="JKWId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="JBahagianId" class="control-label"></label><span class="text-danger control-label">*</span>
                        <select class="form-control form-control-sm text-uppercase" asp-for="JBahagianId" required id="ddlBahagian">
                            @foreach (var s in ViewBag.JBahagian)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                        <span asp-validation-for="JBahagianId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="AkBankId" class="control-label"></label><span class="text-danger control-label">*</span>
                        <select class="form-control select2 input-group-sm" asp-for="AkBankId" required>
                            @foreach (var s in ViewBag.AkBank)
                            {
                                <option value="@s.Id">@s.NoAkaun - @s.JBank.Nama</option>
                            }
                        </select>
                        <span asp-validation-for="AkBankId" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div class="row g-3">
                <div class="col-md-12">
                    <input id="ddlKodPembekal" value="0" hidden />
                    <input id="ddlPanjar" value="0" hidden />
                    <label asp-for="SuPekerjaId" class="control-label"></label>
                    <select class="form-control form-control-sm select2 text-uppercase" asp-for="SuPekerjaId" id="ddlKodPekerja">
                        <option value="0" selected>-- Pilih Kod Pekerja --</option>
                        @foreach (var s in ViewBag.SuPekerja)
                        {
                            <option value="@s.Id">@s.NoGaji - @s.Nama</option>
                        }
                    </select>
                    <span asp-validation-for="SuPekerjaId" class="text-danger"></span>
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="NoPV" class="control-label"></label>
                        <input id="txtNoRujukan" asp-for="NoPV" value="@ViewBag.NoRujukan" class="form-control form-control-sm" readonly />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="NoKP" class="control-label">No Kad Pengenalan</label>
                        <input asp-for="NoKP" class="form-control form-control-sm" id="txtNoKP" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Nama" class="control-label"></label><span class="text-danger control-label">*</span>
                        <input asp-for="Nama" class="form-control form-control-sm text-uppercase" required />
                        <span asp-validation-for="Nama" class="text-danger"></span>
                    </div>
                </div>
            </div>
            @*Maklumat penerima*@
            <div class="card mb-2" id="cardMaklumat">
                <div class="card-body">
                    <div class="form-group" hidden>
                        <label asp-for="Alamat1" class="control-label">Alamat</label>
                        <input asp-for="Alamat1" class="form-control form-control-sm text-uppercase" id="txtAlamat1" />
                        <span asp-validation-for="Alamat1" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <input asp-for="Alamat2" class="form-control form-control-sm text-uppercase" id="txtAlamat2" />
                        <span asp-validation-for="Alamat2" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <input asp-for="Alamat3" class="form-control form-control-sm text-uppercase" id="txtAlamat3" />
                        <span asp-validation-for="Alamat3" class="text-danger"></span>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="NoAkaunBank" class="control-label"></label>
                                <input asp-for="NoAkaunBank" class="form-control form-control-sm text-uppercase" id="txtNoAkaunBank" />
                                <span asp-validation-for="NoAkaunBank" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Telefon" class="control-label"></label>
                                <input asp-for="Telefon" class="form-control form-control-sm text-uppercase" id="txtTelefon" />
                                <span asp-validation-for="Telefon" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Emel" class="control-label"></label>
                                <input asp-for="Emel" class="form-control form-control-sm" id="txtEmel" />
                                <span asp-validation-for="Emel" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-3">
                            <label asp-for="JCaraBayarId" class="control-label"></label><span class="text-danger control-label">*</span>
                            <select class="form-control form-control-sm select2" asp-for="JCaraBayarId" id="ddlJCaraBayar" required>
                                <option value="0" hidden>-- Pilih Cara Bayaran --</option>
                                @foreach (var s in ViewBag.JCaraBayar)
                                {
                                    <option value="@s.Id" class="text-uppercase">@s.Kod - @s.Perihal</option>
                                }
                            </select>
                            <span asp-validation-for="JCaraBayarId" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="JBankId" class="control-label"></label>
                            <select class="form-control form-control-sm select2" asp-for="JBankId" id="ddlJBank">
                                <option value="0" disabled selected>-- Pilih Bank --</option>
                                @foreach (var s in ViewBag.JBank)
                                {
                                    <option value="@s.Id" class="text-uppercase">@s.Kod - @s.Nama</option>
                                }
                            </select>

                            <span asp-validation-for="JBankId" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="NoCekAtauEFT" class="control-label"></label>
                                <input asp-for="NoCekAtauEFT" class="form-control form-control-sm form-control-sm" id="txtNoCekAtauEFT" />
                                <span asp-validation-for="NoCekAtauEFT" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="TarCekAtauEFT" class="control-label"></label>
                                <input asp-for="TarCekAtauEFT" class="form-control form-control-sm" id="txtTarCekAtauEFT" />
                                <span asp-validation-for="TarCekAtauEFT" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Maklumat penerima end*@
            <div class="form-group mb-2">
                <label asp-for="Perihal" class="control-label"></label>
                <textarea asp-for="Perihal" class="form-control form-control-sm text-uppercase" rows="2" id="txtPerihal"></textarea>
                <span asp-validation-for="Perihal" class="text-danger"></span>
            </div>
            <br />
            @*table Objek*@
            <div class="card box-shadow mb-3">
                <div class="card-header">
                    <h6>Objek</h6>
                </div>
                <div class="card-body">
                    <table id="tblObjek" class="table table-sm nowrap" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width:70%">Kod</th>
                                <th style="width:30%">Amaun RM</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbodyObjek">
                        </tbody>
                        <tfoot>
                            <tr>
                                <td id="akCartaId" hidden></td>
                                <td>
                                    <select class="form-control form-control-sm select2" id="txtKodAkaun">
                                        <option value="" disabled selected>-- Pilih Kod Akaun --</option>
                                        @foreach (var s in ViewBag.AkCarta)
                                        {
                                            <option value="@s.Id">@s.Kod - @s.Perihal </option>
                                        }
                                    </select>
                                </td>
                                <td><input class="form-control form-control-sm" type="number" id="txtAmaunObjek" step="0.01" value="0.00"></td>
                                <td><button class="btn btn-success btn-sm" type="button" id="btnAdd1"><i class="fas fa-plus"></i></button></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="form-group pb-2">
                        <label asp-for="Jumlah" class="control-label">Jumlah Objek</label>
                        <input asp-for="Jumlah" class="form-control form-control-sm" id="jumlahObjek" readonly value="0.00" />
                        <span asp-validation-for="Jumlah" class="text-danger"></span>
                    </div>
                </div>

            </div>
            @*table Objek end*@
            <hr />
            @*table Ganda*@
            <div class="card box-shadow mb-3" id="cardGanda" hidden>
                <div class="card-header">
                    <div class="row">
                        <div class="col-8">
                            <h5>Senarai Penerima</h5>
                        </div>
                        <div class="col-4 text-right">
                            <button data-toggle="modal" id="btnAdd3" data-target="#modalGanda" class="btn ac-success btn-sm" type="button" title="Tambah Penerima"><i class="fas fa-plus"></i></button>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tblGanda" class="table table-sm nowrap text-nowrap" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th hidden>Indek</th>
                                    <th>Kat Penerima</th>
                                    <th hidden>Id Penerima</th>
                                    <th>No KP</th>
                                    <th>Nama</th>
                                    <th>Cara Bayar</th>
                                    <th>Bank</th>
                                    <th>No Akaun</th>
                                    <th>No Cek / EFT</th>
                                    <th>Tarikh Cek / EFT</th>
                                    <th>Amaun RM</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tbodyGanda">
                                @if (ViewBag.akPVGanda != null)
                                {
                                    foreach (var item in ViewBag.AkPVGanda)
                                    {
                                        var tarSlip = "";
                                        if (item.TarCekAtauEFT == null)
                                        {
                                        }
                                        else
                                        {
                                            tarSlip = item.TarCekAtauEFT?.ToString("dd/MM/yyyy");
                                        }
                                        var noSlip = "";
                                        if (item.NoCekAtauEFT == null)
                                        {
                                        }
                                        else
                                        {
                                            noSlip = item.NoCekAtauEFT;
                                        }
                                        var penerimaId = "";
                                        var kategoriPenerima = "";
                                        switch (item.FlKategoriPenerima)
                                        {
                                            case KategoriPenerima.Pekerja:
                                                kategoriPenerima = "ANGGOTA";
                                                penerimaId = item.SuPekerjaId?.ToString();
                                                break;
                                            case KategoriPenerima.Atlet:
                                                kategoriPenerima = "ATLET";
                                                penerimaId = item.SuAtletId?.ToString();
                                                break;
                                            case KategoriPenerima.Jurulatih:
                                                kategoriPenerima = "JURULATIH";
                                                penerimaId = item.SuJurulatihId?.ToString();
                                                break;
                                            case KategoriPenerima.Am:
                                                kategoriPenerima = "LAIN";
                                                penerimaId = "";
                                                break;
                                        }

                                        <tr>
                                            <td hidden> @item.Indek</td>
                                            <td class="text-uppercase">@kategoriPenerima</td>
                                            <td hidden>@penerimaId</td>
                                            <td>@item.NoKp</td>
                                            <td class="text-uppercase">@item.Nama</td>
                                            <td class="text-uppercase">@item.JCaraBayar.Perihal</td>
                                            <td class="text-uppercase">@item.JBank.Kod</td>
                                            <td>@item.NoAkaun</td>
                                            <td>@noSlip</td>
                                            <td>@tarSlip</td>
                                            <td class="text-end amaunGanda">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                                            <td>
                                                <button class="btn ac-primary btn-sm" type="button" id="btnUpdate3" data-toggle="modal" data-target="#modalGanda" onclick="Update3(this)">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn ac-danger btn-sm" type="button" id="btnRemove3" onclick="Remove3(this)">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <label class="control-label">Jumlah RM</label>
                        <input class="form-control form-control-sm" id="jumlahGanda" name="JumlahGanda" value="0.00" readonly />
                    </div>
                </div>
            </div>
            @*table Ganda end*@

            <hr />
            <hr />
            <div class="form-group">
                <input type="submit" value="Simpan" id="btnSave" class="btn ac-primary btn-sm" />
                <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </div>

            @*hidden type input*@
            <div class="form-group" hidden>
                <label asp-for="NoPV" class="control-label"></label>
                <input id="noRujukan" asp-for="NoPV" class="form-control form-control-sm" readonly />
                <span asp-validation-for="NoPV" class="text-danger"></span>
            </div>

            <div class="form-group" hidden>
                <label asp-for="FlCetak" class="control-label"></label>
                <input asp-for="FlCetak" class="form-control form-control-sm" value="0" />
                <span asp-validation-for="FlCetak" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="FlPosting" class="control-label"></label>
                <input asp-for="FlPosting" class="form-control form-control-sm" value="0" />
                <span asp-validation-for="FlPosting" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="FlHapus" class="control-label"></label>
                <input asp-for="FlHapus" class="form-control form-control-sm" value="0" />
                <span asp-validation-for="FlHapus" class="text-danger"></span>
            </div>

            <div class="form-group" hidden>
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control form-control-sm" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="TarMasuk" class="control-label"></label>
                <input asp-for="TarMasuk" class="form-control form-control-sm" value="@DateTime.Now.ToString("s")" disabled />
                <span asp-validation-for="TarMasuk" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="UserIdKemaskini" class="control-label"></label>
                <input asp-for="UserIdKemaskini" class="form-control form-control-sm" />
                <span asp-validation-for="UserIdKemaskini" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="TarKemaskini" class="control-label"></label>
                <input asp-for="TarKemaskini" class="form-control form-control-sm" value="@DateTime.Now.ToString("s")" disabled />
                <span asp-validation-for="TarKemaskini" class="text-danger"></span>
            </div>
            @*hidden type input end*@

        </form>
    </div>
</div>


<!-- Modal Objek -->
<div class="modal fade bd-example-modal-lg" id="modalObjek" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Objek</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="moId1" hidden />
                    <div class="form-group">
                        <label class="col-form-label">Kod Akaun</label>
                        <select class="form-control form-control-sm" id="moKodAkaun" disabled>
                            <option value="" disabled selected>-- Pilih Kod Akaun --</option>
                            @foreach (var s in ViewBag.AkCarta)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Amaun RM</label>
                        <input type="number" class="form-control form-control-sm" id="moAmaun1">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="modalUpdate1()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Objek End -->
<!-- Modal Ganda -->
<div class="modal fade bd-example-modal-lg" id="modalGanda" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Penerima</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="moId1" hidden />
                    <input id="moIndek" hidden />
                    <div class="card mb-2">
                        <div class="card-body pb-1 pt-1">
                            <div class="form-group mb-0 mt-1">
                                <label class="control-label">Kategori Penerima</label>
                            </div>
                            <div class="row g-3 col-sm ml-2">
                                <div class="custom-control custom-radio col-md-3 ">
                                    <input class="custom-control-input " type="radio" id="FlKategoriPenerima1" name="FlKategoriPenerima" value="1">
                                    <label class="custom-control-label" for="FlKategoriPenerima1">
                                        Anggota
                                    </label>
                                </div>
                                <div class="custom-control custom-radio col-md-3 ">
                                    <input class="custom-control-input " type="radio" id="FlKategoriPenerima2" name="FlKategoriPenerima" value="2">
                                    <label class="custom-control-label" for="FlKategoriPenerima2">
                                        Atlet
                                    </label>
                                </div>
                                <div class="custom-control custom-radio col-md-3 ">
                                    <input class="custom-control-input " type="radio" id="FlKategoriPenerima3" name="FlKategoriPenerima" value="3">
                                    <label class="custom-control-label" for="FlKategoriPenerima3">
                                        Jurulatih
                                    </label>
                                </div>
                                <div class="custom-control custom-radio col-md-3 ">
                                    <input class="custom-control-input " type="radio" id="FlKategoriPenerima4" name="FlKategoriPenerima" value="0" checked>
                                    <label class="custom-control-label" for="FlKategoriPenerima4">
                                        Lain-lain
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="modalGandaAnggota" hidden>
                        <label class="col-form-label">Anggota</label>
                        <select class="form-control form-control-sm select2" name="moGandaAnggota" id="moGandaAnggota">
                            <option value="0" disabled selected>-- Pilih Anggota --</option>
                            @foreach (var s in ViewBag.SuPekerja)
                            {
                                <option value="@s.Id">@s.NoGaji - @s.Nama </option>
                            }
                        </select>
                    </div>
                    <div class="form-group" id="modalGandaAtlet" hidden>
                        <label class="col-form-label">Atlet</label>
                        <select class="form-control form-control-sm select2" name="moGandaAtlet" id="moGandaAtlet">
                            <option value="0" disabled selected>-- Pilih Atlet --</option>
                            @foreach (var s in ViewBag.SuAtlet)
                            {
                                <option value="@s.Id">@s.NoKp - @s.Nama </option>
                            }
                        </select>
                    </div>
                    <div class="form-group" id="modalGandaJurulatih" hidden>
                        <label class="col-form-label">Jurulatih</label>
                        <select class="form-control form-control-sm select2" name="moGandaJurulatih" id="moGandaJurulatih">
                            <option value="0" disabled selected>-- Pilih Jurulatih --</option>
                            @foreach (var s in ViewBag.SuJurulatih)
                            {
                                <option value="@s.Id">@s.NoKp - @s.Nama </option>
                            }
                        </select>
                    </div>
                    <div class="row g-3">
                        <div class="form-group col-lg-4">
                            <label class="col-form-label">No KP</label>
                            <input type="text" name="moGandaNoKP" id="moGandaNoKP" class="form-control form-control-sm" />
                        </div>
                        <div class="form-group col-lg-8">
                            <label class="col-form-label">Nama</label>
                            <input type="text" name="moGandaNama" id="moGandaNama" class="form-control form-control-sm" />
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="form-group col-lg-3">
                            <label class="col-form-label">Cara Bayar</label>
                            <select class="form-control form-control-sm select2" name="moGandaCaraBayar" id="moGandaCaraBayar">
                                <option value="0" disabled selected>-- Pilih Cara Bayar --</option>
                                @foreach (var s in ViewBag.JCaraBayar)
                                {
                                    if (s.Id == 9999)
                                    {
                                        continue;
                                    }

                                    <option value="@s.Id" class="text-uppercase">@s.Kod - @s.Perihal</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="col-form-label">Bank</label>
                            <select class="form-control form-control-sm select2" name="moGandaBank" id="moGandaBank">
                                <option value="0" disabled selected>-- Pilih Bank --</option>
                                @foreach (var s in ViewBag.JBank)
                                {
                                    if (s.Id == 9999)
                                    {
                                        continue;
                                    }
                                    <option value="@s.Id" class="text-uppercase">@s.Kod - @s.Nama</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-lg-3">
                            <label class="col-form-label">No Akaun</label>
                            <input type="text" name="moGandaNoAkaun" id="moGandaNoAkaun" class="form-control form-control-sm" />
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="form-group col-lg-6">
                            <label class="col-form-label">No Cek / EFT / JomPAY</label>
                            <input type="text" name="moGandaNoCekEFT" id="moGandaNoCekEFT" class="form-control form-control-sm" />
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="col-form-label">Tarikh Cek / EFT / JomPAY</label>
                            <input type="datetime-local" name="moGandaTarCekEFT" id="moGandaTarCekEFT" class="form-control form-control-sm" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Amaun RM</label>
                        <input type="number" name="moGandaAmaun" id="moGandaAmaun" class="form-control form-control-sm" step="0.01">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button hidden id="modalAdd3" type="button" class="btn btn-success" data-dismiss="modal" onclick="modalAdd3()">OK</button>
                <button hidden id="modalUpdate3" type="button" class="btn btn-success" data-dismiss="modal" onclick="modalUpdate3()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Ganda End -->
