@model MSNK.Models.Modules.PrintModel.PVPrintModel
@{
    var caraBayar = "";
    var bank = "";

    if (Model.AkPV.IsGanda == true)
    {
        caraBayar = "PELBAGAI";
        bank = "PELBAGAI";
    }
    else
    {
        caraBayar = Model.AkPV.JCaraBayar.Perihal;
        bank = Model.AkPV.JBank.Kod + " - " + Model.AkPV.JBank.Nama;
    }
}
<div class="row flexrow mb-1 ml-1">
    <div class="col-2 image-container">
        <img src="~/img/@ViewData["CompanyLogoPrintPDF"]" alt="Logo syarikat" />
    </div>
    <div class="col-8 text-uppercase">
        <h5 class="mb-1"><strong>@Model.CompanyDetail.NamaSyarikat</strong></h5>
        <p class="mb-0"> @Model.CompanyDetail.AlamatSyarikat1, @Model.CompanyDetail.AlamatSyarikat2</p>
        <p class="mb-0"> @Model.CompanyDetail.AlamatSyarikat3</p>
        <p class="mb-0"> Tel: @Model.CompanyDetail.TelSyarikat   Faks: @Model.CompanyDetail.FaksSyarikat</p>
        <p class="mb-0">Tarikh Cetakan: @DateTime.Now.Date.ToString("dd/MM/yyyy") @DateTime.Now.ToString("t", CultureInfo.CreateSpecificCulture("en-us"))</p>
    </div>

    <div class="col-2 text-right">
        @if (Model.AkPV.FlHapus == 1)
        {
            <h1 class="mb-0 text-danger"><strong>BATAL</strong></h1>
        }
        @if (Model.IsAKB == true)
        {
            <h1 class="mb-0 text-primary"><strong>ABB</strong></h1>
        }
        <h3 class="mb-0"><strong>SALINAN KEWANGAN</strong></h3>

    </div>
</div>
<br />

<div class="row flexrow mb-1">
    <div class="col text-center">
        <h5 class="text-uppercase"><strong>Tahun Kewangan @Model.AkPV.Tahun</strong></h5>
    </div>
</div>
<div class="table-responsive-sm mb-0">
    <table class="table table-bordered table-sm topic">
        <tbody>
            <tr>
                <td class="text-center font-weight-bold" width="15%">Kump Wang  </td>
                <td class="text-center font-weight-bold" width="15%">Bahagian  </td>
                <td class="text-center font-weight-bold" width="15%">No Baucer</td>
                <td class="text-center font-weight-bold" width="15%">Tarikh Baucer </td>
                <td class="text-center font-weight-bold" width="15%">Cara Bayaran</td>
            </tr>
            <tr>
                <td class="text-center text-uppercase">@Model.AkPV.JKW.Kod - @Model.AkPV.JKW.Perihal</td>
                <td class="text-center text-uppercase">@Model.AkPV.JBahagian.Kod - @Model.AkPV.JBahagian.Perihal</td>
                <td class="text-center font-weight-bold" style="font-size:1.2rem;">@Model.AkPV.NoPV.Substring(3)</td>
                <td class="text-center font-weight-bold" width="15%">@Convert.ToDateTime(Model.AkPV.Tarikh).ToString("dd/MM/yyyy")</td>
                <td class="text-center">@caraBayar</td>
            </tr>
        </tbody>
    </table>
</div>

<br />

<div class="table-responsive-sm mb-0">
    <table class="table table-bordered table-sm topic">
        <thead class="text-center">
            <tr class="bg-dark text-white font-weight-bold">

                <td class="text-center"><h6 class="mb-0"><strong>BAYARAN KEPADA</strong></h6></td>
            </tr>
        </thead>
    </table>
</div>

<div class="table-responsive-sm">
    <table class="table table-sm topic table-bordered">
        <tbody>
            <tr>
                <td class="text-left" width="15%">Nombor ID</td>
                <td class="text-left ">@Model.KodPenerima</td>
            </tr>
            <tr>
                <td class="text-left" width="15%" rowspan="4">Penerima Bayaran</td>
                <td class="text-left font-weight-bold">@Model.Penerima</td>
            </tr>
            <tr>
                <td class="text-left">@Model.AkPV.Alamat1</td>
            </tr>
            <tr>
                <td class="text-left">@Model.AkPV.Alamat2</td>
            </tr>
            <tr>
                <td class="text-left">@Model.AkPV.Alamat3</td>
            </tr>
            <tr>
                <td class="text-left">Poskod</td>
                <td class="text-left">@Model.Poskod</td>
            </tr>
            <tr>
                <td class="text-left">Nama Bank</td>
                <td class="text-left">@Model.NamaBankPenerima</td>
            </tr>
            <tr>
                <td class="text-left">No Akaun Bank</td>
                <td class="text-left">@Model.NoAkaunBankPenerima</td>
            </tr>
            <tr>
                <td class="text-left">Perihalan Bayaran</td>
                <td class="text-left text-uppercase">@Model.AkPV.Perihal</td>
            </tr>
        </tbody>
    </table>
</div>
<br />

@*invois pembekal*@

<div class="table-responsive-sm mb-0">
    <table class="table table-bordered table-sm topic">

        <tbody>
            @if (Model.FlKategoriPenerima == KategoriPenerima.Pembekal)
            {
                <tr>
                    <td colspan="3" class="text-center"><strong>PESANAN TEMPATAN / INDEN KERJA</strong></td>
                    <td colspan="3" class="text-center"><strong>INVOIS / BIL PEMBEKAL</strong></td>
                </tr>
                <tr>
                    <td class="text-center" width="15%">TARIKH</td>
                    <td class="text-center">RUJUKAN</td>
                    <td class="text-center">AMAUN RM</td>
                    <td class="text-center">TARIKH</td>
                    <td class="text-center">RUJUKAN</td>
                    <td class="text-center">AMAUN RM</td>
                </tr>
                @foreach (var item in Model.AkPV2)
                {

                    <tr>
                        @if (item.AkBelian.AkPO == null && item.AkBelian.AkInden == null)
                        {
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-right">0.00</td>

                        }
                        else
                        {
                            if (item.AkBelian.AkPO != null)
                            {
                                <td class="text-center">@Convert.ToDateTime(item.AkBelian.AkPO.Tarikh).ToString("dd/MM/yyyy")</td>
                                <td class="text-center">@item.AkBelian.AkPO.NoPO</td>
                                <td class="text-right">@Convert.ToDecimal(item.AkBelian.AkPO.Jumlah).ToString("#,##0.00")</td>
                            }
                            else
                            {
                                <td class="text-center">@Convert.ToDateTime(item.AkBelian.AkInden.Tarikh).ToString("dd/MM/yyyy")</td>
                                <td class="text-center">@item.AkBelian.AkInden.NoInden</td>
                                <td class="text-right">@Convert.ToDecimal(item.AkBelian.AkInden.Jumlah).ToString("#,##0.00")</td>
                            }
                        }

                        <td class="text-center">@Convert.ToDateTime(item.AkBelian.Tarikh).ToString("dd/MM/yyyy")</td>
                        <td class="text-center">@item.AkBelian.NoInbois.Substring(3)</td>
                        <td class="text-right">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                    </tr>
                }
                <tr class="font-weight-bold">
                    <td class="text-right" colspan="2">Jumlah RM</td>
                    <td class="text-right">@Convert.ToDecimal(Model.jumlahPOInden).ToString("#,##0.00")</td>
                    <td class="text-right" colspan="2">Jumlah RM</td>
                    <td class="text-right" style="font-size:1.1rem;">@Convert.ToDecimal(Model.jumlahInbois).ToString("#,##0.00")</td>
                </tr>
                <tr class="table-borderless">
                    <td class="text-white" colspan="6">-</td>

                </tr>
            }

            <tr class="font-weight-bold">
                <td class="text-center" colspan="6">PERBELANJAAN TELAH DIMASUKKAN KE DALAM PERUNTUKAN-PERUNTUKAN DI BAWAH</td>
            </tr>
            <tr>
                <td class="text-center" style="width:15%">OBJEK</td>
                <td class="text-center" colspan="4">PERIHAL</td>
                <td class="text-center">AMAUN RM</td>
            </tr>
            @foreach (var item in Model.AkPV.AkPV1)
            {
                <tr>
                    <td class="text-center">@item.AkCarta.Kod</td>
                    <td class="text-center" colspan="4">@item.AkCarta.Perihal</td>
                    <td class="text-right" style="font-size:1.1rem;">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                </tr>
            }
            <tr class="font-weight-bold">
                <td class="text-right" colspan="5">Jumlah RM</td>
                <td class="text-right" style="font-size:1.0rem;">@Convert.ToDecimal(Model.AkPV.Jumlah).ToString("#,##0.00")</td>
            </tr>
            <tr class="font-weight-bold">
                <td class="text-right" style="line-height:1.0rem;">AMAUN DALAM PERKATAAN</td>
                <td class="text-left pl-4" colspan="5" style="line-height:0.8rem;">@Model.JumlahDalamPerkataan</td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</div>
<br />

<div class="table-responsive-sm mb-0">
    <table class="table table-bordered table-sm topic">
        <thead class="text-center">
            <tr class="bg-dark text-white font-weight-bold">

                <td class="text-center"><h6 class="mb-0"><strong>MAKLUMAT PEMBAYARAN</strong></h6></td>
            </tr>
        </thead>
    </table>
</div>

<div class="table-responsive-sm">
    <table class="table table-sm topic table-bordered">
        <tbody>
            <tr>
                <td class="text-left" width="20%">Nombor Cek/EFT</td>
                <td class="text-center" width="30%">@Model.AkPV.NoCekAtauEFT</td>
                <td class="text-left" width="20%">Nama Bank Pembayar</td>
                <td class="text-center" width="30%">@Model.AkPV.AkBank.JBank.Nama</td>
            </tr>
            <tr>
                <td class="text-left">Tarikh Bayaran</td>
                @if (Model.TarikhCekAtauEFT == null)
                {
                    <td class="text-center">-</td>
                }
                else
                {
                    <td class="text-center">@Convert.ToDateTime(Model.TarikhCekAtauEFT).ToString("dd/MM/yyyy")</td>
                }

                <td class="text-left">No Akaun Bank Pembayar</td>
                <td class="text-center">@Model.NoAkaunBank</td>
            </tr>

        </tbody>
    </table>
</div>
<br />

<div class="table-responsive-sm">
    <table class="table table-sm topic table-bordered">
        <thead class="table-dark">

        </thead>
        <tbody>
            <tr class="bg-dark text-white font-weight-bold">

                <td class="text-center" colspan="3"><h6 class="mb-0"><strong>UNTUK KEGUNAAN BAHAGIAN KEWANGAN</strong></h6></td>
            </tr>
            <tr class="table-borderless">
                <td class="text-white" colspan="3">-</td>
            </tr>
            <tr>
                <td class="text-center">Disedia </td>
                <td class="text-center">Disemak </td>
                <td class="text-center">Diluluskan </td>
            </tr>
            <tr>
                <td class="text-center" height="50px"></td>
                <td class="text-center" height="50px"></td>
                <td class="text-center" height="50px"></td>

            </tr>
            <tr>
                <td class="text-center text-uppercase">@Model.Username</td>
                <td class="text-center">@Model.Penyemak.SuPekerja.Nama</td>
                <td class="text-center">@Model.Pelulus?.SuPekerja?.Nama</td>

            </tr>
            <tr>
                <td class="text-center text-uppercase">Pembantu Tadbir (Kewangan)</td>
                <td class="text-center">@Model.Penyemak?.SuPekerja?.Jawatan</td>
                <td class="text-center">@Model.Pelulus?.SuPekerja?.Jawatan</td>

            </tr>
            <tr>
                <td class="text-center">Majlis Sukan Negeri Kedah</td>
                <td class="text-center">Majlis Sukan Negeri Kedah</td>
                <td class="text-center">Majlis Sukan Negeri Kedah</td>

            </tr>
            <tr>
                <td class="text-center">@DateTime.Now.ToString()</td>
                <td class="text-center"></td>
                <td class="text-center"></td>
            </tr>
        </tbody>
    </table>
</div>