@model IEnumerable<SPMBNET7.CoreBusiness.Models.Modules._03_Sumber.SuAtlet>

@{
    ViewData["Title"] = "Atlet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_JSIndex" />

<div class="card box-shadow">
    <div class="loading">
        <img class="loading-image" src="~/img/loading.gif" alt="Loading..." />
    </div>
    <div class="card card-body border main-page" hidden>
        <partial name="~/Pages/Partials/Common/_TitleIndexPartial.cshtml" />

        <div class="card mb-2">
            <div class="card-body ps-3 pb-2">
                <label class="form-control-plaintext" for="columnSearch">Carian : </label>
                <div class="form-actions no-color mb-2">
                    <div class="row g-3">
                        <div class="col-sm-2 mb-2">
                            <select class="form-select form-control-sm" id="columnSearch">
                                <option value="" selected>Semua</option>
                                <option value=".kodAtlet">Kod</option>
                                <option value=".nama">Nama</option>
                                <option value=".noKp">No KP</option>
                            </select>
                        </div>
                        <div class="col-sm-8 mb-2">
                            <input class="form-control form-control-sm text-uppercase" type="text" id="myInput" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-hover table-sm compact" width="100%">
                    <caption>Rekod dipamerkan : @Model.Count()</caption>
                    <thead class="table-secondary">
                        <tr>
                            <th width="5%">Bil</th>
                            <th class="kodAtlet" width="5%">
                                @Html.DisplayNameFor(model => model.KodAtlet)
                            </th>
                            <th class="nama">
                                @Html.DisplayNameFor(model => model.Nama)
                            </th>
                            <th class="noKp">
                                @Html.DisplayNameFor(model => model.NoKp)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Emel)
                            </th>
                            <th>
                                Jenis Sukan
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NoAkaunBank)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FlStatus)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var tabletype = item.FlHapus == 1 ? "table-danger" : null;
                            <tr class="@tabletype">
                                <td></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.KodAtlet)
                                </td>
                                <td class="text-uppercase">
                                    @Html.DisplayFor(modelItem => item.Nama)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoKp)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Emel)
                                </td>
                                <td class="text-uppercase">
                                    @item.JSukan?.Perihal
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoAkaunBank)
                                </td>

                                @if (item.FlStatus == 0)
                                {
                                    <td>TIDAK AKTIF</td>
                                }
                                else
                                {
                                    <td>AKTIF</td>
                                }
                                <td width="5%" class="action-button text-center">
                                    <a asp-action="Details" asp-route-id="@item.Id"
                                       class="btn text-primary btn-sm bg-white" type="button"
                                       data-toggle="tooltip" data-placement="top"
                                       title="Ubah/Papar"><i class="fas fa-edit"></i></a>
                                    @if (item.FlHapus == 0)
                                    {

                                        <a asp-action="Delete" asp-route-id="@item.Id"
                                           class="btn text-danger btn-sm bg-white" type="button"
                                           data-toggle="tooltip" data-placement="top"
                                           title="Hapus"><i class="fas fa-trash"></i></a>
                                    }
                                    else
                                    {
                                        if (User.IsInRole("Supervisor") || User.IsInRole("SuperAdmin"))
                                        {
                                            <a asp-action="Rollback" asp-route-id="@item.Id" asp-route-syscode="SPPB" class="btn text-info btn-sm bg-white" type="button" data-toggle="tooltip" data-placement="top" title="Rollback">
                                                <i class="fas fa-trash-restore"></i>
                                            </a>

                                        }
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }


    </div>
</div>
