@model SPMBNET7.CoreBusiness.Models.Modules._02_Akaun.AkPenghutang

@{
    ViewData["Title"] = "Penghutang - Ubah";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Pages/Partials/Common/_TitleEditPartial.cshtml" />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <input name="syscode" value="SPPB" hidden />
            <input type="hidden" asp-for="KodSykt" />
            <input type="hidden" asp-for="JNegeriId" />
            <input type="hidden" asp-for="JBankId" />
            <div class="row g-3">
                <div class="form-group col-sm-4">
                    <label asp-for="NoPendaftaran" class="control-label"></label>
                    <input asp-for="NoPendaftaran" class="form-control form-control-sm" />
                    <span asp-validation-for="NoPendaftaran" class="text-danger"></span>
                </div>
                <div class="form-group col-sm">
                    <label asp-for="NamaSykt" class="control-label"></label>
                    <input asp-for="NamaSykt" class="form-control form-control-sm text-uppercase" />
                    <span asp-validation-for="NamaSykt" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Alamat1" class="control-label">Alamat</label>
                <input asp-for="Alamat1" class="form-control form-control-sm text-uppercase" />
            </div>
            <div class="form-group">
                <input asp-for="Alamat2" class="form-control form-control-sm text-uppercase" />
            </div>
            <div class="form-group">
                <input asp-for="Alamat3" class="form-control form-control-sm text-uppercase" />
                <span asp-validation-for="Alamat1" class="text-danger"></span>
            </div>

            <div class="row g-3">
                <div class="form-group col-sm">
                    <label asp-for="Poskod" class="control-label"></label>
                    <input asp-for="Poskod" class="form-control form-control-sm" />
                    <span asp-validation-for="Poskod" class="text-danger"></span>
                </div>
                <div class="form-group col-sm">
                    <label asp-for="Bandar" class="control-label"></label>
                    <input asp-for="Bandar" class="form-control form-control-sm text-uppercase" />
                    <span asp-validation-for="Bandar" class="text-danger"></span>
                </div>
                <div class="form-group col-sm">
                    <label asp-for="JNegeriId" class="control-label"></label>
                    <select class="form-control form-control-sm select2" asp-for="JNegeriId">
                        <option value="0" hidden>-- Pilih Negeri --</option>
                        @foreach (var s in ViewBag.JNegeri)
                        {
                            <option value="@s.Id">@s.Perihal </option>
                        }
                    </select>
                    <span asp-validation-for="JNegeriId" class="text-danger"></span>
                </div>
            </div>

            <div class="row g-3">
                <div class="form-group col-sm-4">
                    <label asp-for="Telefon1" class="control-label"></label>
                    <input asp-for="Telefon1" class="form-control form-control-sm" />
                    <span asp-validation-for="Telefon1" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Emel" class="control-label"></label>
                    <input asp-for="Emel" class="form-control form-control-sm" />
                    <span asp-validation-for="Emel" class="text-danger"></span>
                </div>
            </div>

            <div class="row g-3">
                <div class="form-group col-sm-4">
                    <label asp-for="AkaunBank" class="control-label"></label>
                    <input asp-for="AkaunBank" class="form-control form-control-sm" />
                    <span asp-validation-for="AkaunBank" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="JBankId" class="control-label"></label>
                    <select class="form-control form-control-sm select2" asp-for="JBankId">
                        <option value="0" hidden>-- Pilih Bank --</option>
                        @foreach (var s in ViewBag.jbank)
                        {
                            <option value="@s.Id">@s.Kod - @s.Nama </option>
                        }
                    </select>
                    <span asp-validation-for="JBankId" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="BakiAwal" class="control-label"></label> <span class="text-info">(sehingga tarikh 31/12/2021)</span>
                    <input asp-for="BakiAwal" value="@Model.BakiAwal" type="number" class="form-control form-control-sm" step="0.01" />
                    <span asp-validation-for="BakiAwal" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Simpan" class="btn ac-primary btn-sm" />
                <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </div>
        </form>
    </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
