@model SPMBNET7.CoreBusiness.Models.Modules._02_Akaun.AkCarta

@{
    ViewData["Title"] = "Carta Akaun - Ubah";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Pages/Partials/Common/_TitleEditPartial.cshtml" />
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-sm">
                    <label asp-for="JKWId" class="control-label"></label>
                    <select class="form-control form-control-sm" asp-for="JKWId">
                        <option value="" hidden>-- Pilih Kumpulan Wang --</option>
                        @foreach (var s in ViewBag.Kw)
                        {
                            <option value="@s.Id">@s.Kod - @s.Perihal </option>
                        }
                    </select>
                    <span asp-validation-for="JKWId" class="text-danger"></span>
                </div>
                <div class="form-group col-sm">
                    <label asp-for="JJenisId" class="control-label"></label>
                    <select class="form-control form-control-sm" asp-for="JJenisId">
                        <option value="" hidden>-- Pilih Jenis --</option>
                        @foreach (var s in ViewBag.Jenis)
                        {
                            <option value="@s.Id">@s.Kod - @s.Nama</option>
                        }
                    </select>
                    <span asp-validation-for="JJenisId" class="text-danger"></span>
                </div>
                <div class="form-group col-sm">
                    <label asp-for="JParasId" class="control-label"></label>
                    <select class="form-control form-control-sm" asp-for="JParasId">
                        <option value="" hidden>-- Pilih Paras --</option>
                        @foreach (var s in ViewBag.Paras)
                        {
                            <option value="@s.Id">PARAS @s.Kod </option>
                        }
                    </select>
                    <span asp-validation-for="JParasId" class="text-danger"></span>
                </div>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Kod" />
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label class="control-label">Kod</label>
                    <input value="@Model.Kod" class="form-control form-control-sm" readonly />
                </div>
                <div class="form-group col-sm-8">
                    <label asp-for="Perihal" class="control-label"></label>
                    <input asp-for="Perihal" class="form-control form-control-sm" />
                    <span asp-validation-for="Perihal" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="card mb-2 p-2">
                    <div class="card-body p-1">
                        <div class="form-group col-sm ps-2">
                            <label asp-for="DebitKredit" class="control-label"></label>
                            <div class="custom-control custom-radio ">
                                <input asp-for="DebitKredit" type="radio" id="DebitKredit1" name="DebitKredit" class="custom-control-input" value="D" >
                                <label class="custom-control-label" for="DebitKredit1">Debit</label>
                            </div>
                            <div class="custom-control custom-radio ">
                                <input asp-for="DebitKredit" type="radio" id="DebitKredit2" name="DebitKredit" class="custom-control-input" value="K" >
                                <label class="custom-control-label" for="DebitKredit2">Kredit</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-2 p-2">
                    <div class="card-body p-1">
                        <div class="form-group col-sm ps-2">
                            <label asp-for="UmumDetail" class="control-label"></label>
                            <div class="custom-control custom-radio ">
                                <input asp-for="UmumDetail" type="radio" id="UmumDetail1" name="UmumDetail" class="custom-control-input" value="U" >
                                <label class="custom-control-label" for="UmumDetail1">Umum</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input asp-for="UmumDetail" type="radio" id="UmumDetail2" name="UmumDetail" class="custom-control-input" value="D" >
                                <label class="custom-control-label" for="UmumDetail2">Detail</label>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="form-group col-sm">
            <label asp-for="DebitKredit" class="control-label"></label>
            <div class="custom-control custom-radio">
                <input asp-for="DebitKredit" type="radio" id="DebitKredit1" name="DebitKredit" class="custom-control-input" value="D">
                <label class="custom-control-label" for="DebitKredit1">Debit</label>
            </div>
            <div class="custom-control custom-radio">
                <input asp-for="DebitKredit" type="radio" id="DebitKredit2" name="DebitKredit" class="custom-control-input" value="K">
                <label class="custom-control-label" for="DebitKredit2">Kredit</label>
            </div>
            <span asp-validation-for="DebitKredit" class="text-danger"></span>
        </div>
        <div class="form-group col-sm">
            <label asp-for="UmumDetail" class="control-label"></label>
            <div class="custom-control custom-radio">
                <input asp-for="UmumDetail" type="radio" id="UmumDetail1" name="UmumDetail" class="custom-control-input" value="U">
                <label class="custom-control-label" for="UmumDetail1">Umum</label>
            </div>
            <div class="custom-control custom-radio">
                <input asp-for="UmumDetail" type="radio" id="UmumDetail2" name="UmumDetail" class="custom-control-input" value="D">
                <label class="custom-control-label" for="UmumDetail2">Detail</label>
            </div>
            <span asp-validation-for="UmumDetail" class="text-danger"></span>
        </div>*@

                @if (Model.JParas!.Kod == "4")
                {
                    <div class="form-group col-sm">
                        <label asp-for="Baki" class="control-label"></label>
                        <input asp-for="Baki" class="form-control form-control-sm" type="number" step="0.01" />
                        <span asp-validation-for="Baki" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="form-group col-sm">
                        <label asp-for="Baki" class="control-label"></label>
                        <input value="@Model.Baki" class="form-control form-control-sm" readonly />
                        <input type="hidden" asp-for="Baki" />
                    </div>
                }
            </div>
            <div class="form-group">
                <label asp-for="Catatan1" class="control-label">Catatan</label>
                <textarea asp-for="Catatan1" class="form-control form-control-sm">@Model.Catatan1</textarea>
                <span asp-validation-for="Catatan1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="card mb-2">
                    <div class="card-body pl-3 pr-3 pt-2">

                        <label class="control-label">Maklumat Tambahan : </label>
                        <div class="custom-control custom-radio">
                            <div class="custom-control custom-radio">
                                <input type="checkbox" data-val="true" id="IsBajet" asp-for="IsBajet">
                                <label class="control-label">Kod akaun ini terlibat dengan peruntukan</label>
                                <input type="hidden" name="IsBajet" value="false" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group" hidden>
                <input asp-for="Catatan2" class="form-control form-control-sm" />
                <span asp-validation-for="Catatan2" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Simpan" class="btn ac-primary btn-sm" />
                <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </div>
        </form>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
