<script type="text/javascript">

    //function showDate(d) {
    //    var s = new Date(d);
    //    var month = s.getMonth() + 1;
    //    var day = s.getDate();
    //    var year = s.getFullYear();

    //    return (day < 10 ? '0' + day : day) + "/" + (month < 10 ? '0' + month : month) + "/" + year;
    //}

    // on change CaraBayar
    $("body").on('change', "#ddlCaraBayar", function () {
        var caraBayar = $("#ddlCaraBayar").val();
        $("#txtAmaunUrusniaga").val("0.00");
        $("#txtNoCek").val("-");
        $("#txtJenisCek").val(0).change();
        $("#txtKodBankCek").val("-");
        $("#txtTempatCek").val("-");
        $("#txtNoSlip").val("-");
        $("#txtTarSlip").val("");
        JsonCaraBayar(caraBayar);
    });

    function JsonCaraBayar(id) {
        if (id != null) {
            $.ajax({
                type: "POST",
                //url: "/AkTerima/JsonGetCaraBayar",
                url: '@Url.Action("JsonGetCaraBayar", "AkTerima")',
                data: { data: id },
                dataType: "json",
                success: function (msg) {
                    if (msg.record.kod == "C") {
                        // enable fields
                        $("#txtJenisCek").prop('disabled', false);
                        $("#txtKodBankCek").prop('disabled', false);
                        $("#txtTempatCek").prop('disabled', false);
                        $("#txtNoCek").prop('disabled', false);
                    }
                    else {
                        // disable fields
                        $("#txtJenisCek").prop('disabled', true);
                        $("#txtKodBankCek").prop('disabled', true);
                        $("#txtTempatCek").prop('disabled', true);
                        $("#txtNoCek").prop('disabled', true);
                    }

                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
        }
    }
    // on change CaraBayar end

    //add tbl objek
    $("body").on("click", "#btnAdd1", function () {
        //Reference the Name and Country TextBoxes.
        var Id = $("#Id");
        var txtKodAkaun = $("#txtKodAkaun");
        if (txtKodAkaun.val() != null) {
            GetCarta(txtKodAkaun.val(), Id.val());
        }

    });

    function GetCarta(id,akTerimaId) {
        var Objek = {
            Id: id
        }
        if (id != "") {
            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                //url: "/AkTerima/GetCarta",
                url: '@Url.Action("GetCarta", "AkTerima")',
                data: Objek,
                dataType: "json",
                success: function (r) {
                    //Reference the TextBoxes.
                    var txtKodAkaun = $("#txtKodAkaun");
                    var txtAmaunObjek = $("#txtAmaunObjek");
                    var txtJumlah = $("#jumlahObjek");

                    //Sum value to Total text field
                    var sum = 0;
                    sum = parseFloat(txtAmaunObjek.val()) + parseFloat(txtJumlah.val());
                    txtJumlah.val(sum.toFixed(2));

                    //Get the reference of the Table's TBODY element.
                    var tBody = $("#tblObjek > TBODY")[0];
                    //Add Row.
                    var row = tBody.insertRow(-1);

                    //Add akCartaId cell.
                    var cell = $(row.insertCell(-1));
                    cell.html(r.record.id);
                    cell.prop("hidden", !this.checked);

                    //Add kod cell.
                    var cell = $(row.insertCell(-1));
                    cell.html(r.record.kod + ' - ' + r.record.perihal);
                    cell.addClass("text-uppercase");

                    //Add amaun cell.
                    var cell = $(row.insertCell(-1));
                    cell.html(parseFloat(txtAmaunObjek.val()).toFixed(2));
                    cell.attr("id", "td1Amaun_" + r.record.Id);
                    cell.addClass("text-end");

                    //Add Edit Button cell.
                    cell = $(row.insertCell(-1));

                    var btnUpdate1 = $("<button class='btn ac-primary btn-sm' type='button' data-bs-toggle='modal' data-bs-target='#modalObjek' id='btnUpdate1' onclick='Update1(this)'><i class='fas fa-edit'></i></button>");
                    cell.append(btnUpdate1);

                    //Add Remove Button cell.
                    cell = $(row.insertCell(-1));

                    var btnRemove1 = $("<button class='btn ac-danger btn-sm' type='button' id='btnRemove1' onclick='Remove1(this)'><i class='fas fa-trash'></i></button>");
                    cell.append(btnRemove1);

                    var AkTerima1 = {
                        AkTerimaId: akTerimaId,
                        AkCartaId: txtKodAkaun.val(),
                        Amaun: txtAmaunObjek.val()
                    }

                    $.ajax({
                        type: "POST",
                        //url: "/AkTerima/SaveAkTerima1",
                        url: '@Url.Action("SaveAkTerima1", "AkTerima")',
                        data: AkTerima1,
                        dataType: "json",
                        success: function (r) {
                            //Clear the TextBoxes.
                            txtKodAkaun.val("").trigger('change');
                            txtAmaunObjek.val("");
                            checkJumlah();
                        }
                    });

                    $("#txtKodAkaun option[value=" + txtKodAkaun.val() + "]").prop('disabled', true);


                }
            });
        }

    }
    //add tbl objek end

    //add tbl Urusniaga
    $("body").on("click", "#btnAdd2", function () {
        //Reference the Name and Country TextBoxes.
        var ddlCaraBayar = $("#ddlCaraBayar");
        if (ddlCaraBayar.val() != null) {
            GetCaraBayar(ddlCaraBayar.val());
        }
    });

    function GetCaraBayar(id) {
        var JCaraBayar = {
            Id: id
        }
        if (id != "") {
            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                //url: "/AkTerima/GetCaraBayar",
                url: '@Url.Action("GetCaraBayar", "AkTerima")',
                data: JCaraBayar,
                dataType: "json",
                success: function (r) {
                    //Reference the TextBoxes.
                    var txtAkTerima = $("#Id");
                    var ddlCaraBayar = $("#ddlCaraBayar");
                    var amaun = $("#txtAmaunUrusniaga");
                    var txtNoCek = $("#txtNoCek");
                    var txtJenisCek = $("#txtJenisCek");
                    var txtKodBankCek = $("#txtKodBankCek");
                    var txtTempatCek = $("#txtTempatCek");
                    var txtNoSlip = $("#txtNoSlip");
                    var txtTarSlip = $("#txtTarSlip");
                    var txtJumlah = $("#jumlahUrusniaga");

                    var id = ddlCaraBayar.val();
                    var perihal = r.record.perihal;

                    var AkTerima2 = {
                        AkTerimaId: txtAkTerima.val(),
                        JCaraBayarId: ddlCaraBayar.val(),
                        Amaun: amaun.val(),
                        NoCek: txtNoCek.val(),
                        JenisCek: txtJenisCek.val(),
                        KodBankCek: txtKodBankCek.val(),
                        TempatCek: txtTempatCek.val(),
                        NoSlip: txtNoSlip.val(),
                        TarSlip: txtTarSlip.val()
                    }
                    $.ajax({
                        type: "POST",
                        //url: "/AkTerima/SaveAkTerima2",
                        url: '@Url.Action("SaveAkTerima2", "AkTerima")',
                        data: AkTerima2,
                        dataType: "json",
                        success: function (r) {
                            if (r.result == "OK") {
                                //Sum value to Total text field
                                var sum = 0;
                                sum = parseFloat(amaun.val()) + parseFloat(txtJumlah.val());
                                txtJumlah.val(sum.toFixed(2));
                                //Get the reference of the Table's TBODY element.
                                var tBody = $("#tblUrusniaga > TBODY")[0];
                                //Add Row.
                                var row = tBody.insertRow(-1);

                                //Add caraBayarId cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(ddlCaraBayar.val());
                                cell.prop("hidden", !this.checked);

                                //Add caraBayar cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(perihal);
                                cell.addClass("text-uppercase");

                                //Add Amaun cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(parseFloat(amaun.val()).toFixed(2));
                                cell.addClass("text-end");

                                //Add NoCek cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(txtNoCek.val());

                                //Add JenisCek cell.
                                var cell = $(row.insertCell(-1));
                                if ($("#txtJenisCek").val() == null) {
                                    cell.html("");
                                } else {
                                    cell.html($("#txtJenisCek option:selected").text());
                                }

                                //Add KodBankCek cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(txtKodBankCek.val());

                                //Add TempatCek cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(txtTempatCek.val());
                                cell.addClass("text-uppercase");

                                //Add NoSlip cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(txtNoSlip.val());

                                //Add TarSlip cell.
                                var cell = $(row.insertCell(-1));
                                if (txtTarSlip.val() == null || txtTarSlip.val() == '') {
                                    cell.html('');
                                } else {

                                    cell.html(showDate(txtTarSlip.val()));
                                }

                                //Add Edit Button cell.
                                cell = $(row.insertCell(-1));

                                var btnUpdate2 = $("<button class='btn ac-primary btn-sm' type='button' data-bs-toggle='modal' data-bs-target='#modalUrusniaga' id='btnUpdate2' onclick='Update2(this)'><i class='fas fa-edit'></i></button>");
                                cell.append(btnUpdate2);

                                //Add Remove Button cell.
                                cell = $(row.insertCell(-1));

                                var btnRemove2 = $("<button class='btn ac-danger btn-sm' type='button' id='btnRemove2' onclick='Remove2(this)'><i class='fas fa-trash'></i></button>");
                                cell.append(btnRemove2);

                                //Clear the TextBoxes.
                                ddlCaraBayar.val("").trigger('change');
                                amaun.val("0.00");
                                txtNoCek.val("");
                                txtJenisCek.val("");
                                txtKodBankCek.val("");
                                txtTempatCek.val("");
                                txtNoSlip.val("");
                                txtTarSlip.val("");
                                checkJumlah();

                                if (r.isCek === "false"){
                                    $("#ddlCaraBayar option[value=" + id + "]").prop('disabled', true);
                                }
                            }
                            else if (r.result == "ERRORCEK") {
                                toastr.error(r.message, "Ralat");
                                toastr.options.timeOut = 5000; // 5s
                            }
                        }
                    });
                    
                }
            });
        }

    }
    //add tbl urusniaga end

    //remove tbl objek
    function Remove1(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var akCartaId = $("TD", row).eq(0).html();
        var namaAkaun = $("TD", row).eq(1).html();
        var amaun = $("TD", row).eq(2).html();
        var txtJumlah = $("#jumlahObjek");
        if (confirm("Hapus kod Akaun : " + namaAkaun + " ?")) {
            //Get the reference of the Table.
            var table = $("#tblObjek")[0];

            //Sum value to Total text field
            var sum = 0;
            sum = parseFloat(txtJumlah.val()) - parseFloat(amaun);
            txtJumlah.val(sum.toFixed(2));

            var AkTerima1 = {
                AkCartaId: akCartaId
            }
            if (namaAkaun != null) {
                $.ajax({
                    type: "POST",
                    //url: "/AkTerima/RemoveAkTerima1",
                    url: '@Url.Action("RemoveAkTerima1", "AkTerima")',
                    data: AkTerima1,
                    dataType: "json",
                    success: function (r) {
                        //Delete the Table row using it's Index.
                        table.deleteRow(row[0].rowIndex);
                        checkJumlah();
                    }
                });
            }
            $("#txtKodAkaun option[value=" + akCartaId + "]").prop('disabled', false);
        }
    };
    //remove tbl objek end

    //remove tbl urusniaga
    function Remove2(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var akTerimaId = $('#Id').val();
        var name = $("TD", row).eq(0).html();
        var carabayar = $("TD", row).eq(1).html();
        var amaun = $("TD", row).eq(2).html();
        var txtJumlah = $("#jumlahUrusniaga");

        if (confirm("Hapus : " + carabayar + " ?")) {
            //Get the reference of the Table.
            var table = $("#tblUrusniaga")[0];

            //Sum value to Total text field
            var sum = 0;
            sum = parseFloat(txtJumlah.val()) - parseFloat(amaun);
            txtJumlah.val(sum.toFixed(2));

            var AkTerima2 = {
                JCaraBayarId: name,
                AkTerimaId: akTerimaId
            }
            if (name != null) {
                $.ajax({
                    type: "POST",
                    //url: "/AkTerima/RemoveAkTerima2",
                    url: '@Url.Action("RemoveAkTerima2", "AkTerima")',
                    data: AkTerima2,
                    dataType: "json",
                    success: function (r) {
                        //Delete the Table row using it's Index.
                        table.deleteRow(row[0].rowIndex);
                        checkJumlah();
                    }
                });
            }
            $("#ddlCaraBayar option[value=" + name + "]").prop('disabled', false);
        }
    };
    //remove tbl urusniaga end

    //update tbl objek
    function Update1(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var akCartaId = $("TD", row).eq(0).html();

        var AkTerima1 = {
            AkCartaId: akCartaId
        }
        if (akCartaId != null) {
            $.ajax({
                type: "POST",
                //url: "/AkTerima/GetAnItemCartAkTerima1",
                url: '@Url.Action("GetAnItemCartAkTerima1", "AkTerima")',
                data: AkTerima1,
                dataType: "json",
                success: function (r) {
                    //insert data in modal objek
                    $("#moId1").val(r.record.id);
                    $("#moKodAkaun").val(r.record.akCartaId);
                    $("#moAmaun1").val(r.record.amaun.toFixed(2));

                    //show modal objek
                    $("#modalObjek").modal({ backdrop: 'static', keyboard: false });

                }
            });
        }
    };

    function modalUpdate1() {
        var id = $("#moId1").val();
        var akTerimaId = $("#Id").val();
        var amaun = $("#moAmaun1").val();
        var akCartaId = $("#moKodAkaun").val();
        var jumlah = $("#jumlahObjek");

        var AkTerima1 = {
            Id: id,
            AkTerimaId: akTerimaId,
            akCartaId: akCartaId,
            Amaun: amaun
        }

        $.ajax({
            type: "POST",
            //url: "/AkTerima/SaveCartAkTerima1",
            url: '@Url.Action("SaveCartAkTerima1", "AkTerima")',
            data: AkTerima1,
            dataType: "json",
            success: function (r) {
                //insert notification here

                $.ajax({
                    type: "POST",
                    //url: "/AkTerima/GetAllItemCartAkTerima1",
                    url: '@Url.Action("GetAllItemCartAkTerima1", "AkTerima")',
                    data: AkTerima1,
                    dataType: "json",
                    success: function (r) {

                        //refresh updated table objek
                        $("table tbody#tbodyObjek").empty();
                        var sum = 0;
                        if (r.record.length > 0) {
                            for (var i = 0; i < r.record.length; i++) {
                                var item1 = r.record[i];
                                var str = "<tr><td id='akCartaId' hidden>" + item1.akCartaId +
                                    "</td><td class='text-uppercase'>" + item1.akCarta.kod + " - " + item1.akCarta.perihal +
                                    "</td><td class='text-end'>" + (item1.amaun).toFixed(2) +
                                    "</td><td>" +
                                    "<button class='btn ac-primary btn-sm' type='button' id='btnUpdate1' data-toggle='modal' data-target='#modalObjek' onclick='Update1(this)'><i class='fa fa-edit' ></i></button>" +
                                    "</td><td>" +
                                    "<button class='btn ac-danger btn-sm' type='button' id='btnRemove1' onclick='Remove1(this)'><i class='fas fa-trash' ></i></button>" +
                                    "</td><tr>";
                                $("table tbody#tbodyObjek").append(str);
                                sum += item1.amaun;
                            }
                        }

                        jumlah.val(sum.toFixed(2));
                        checkJumlah();
                    }
                });
            }
        });
    };
    //update tbl objek end

    //update tbl urusniaga
    function Update2(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var akTerimaId = $('#Id').val();
        var jCaraBayarId = $("TD", row).eq(0).html();

        var AkTerima2 = {
            AkTerimaId: akTerimaId,
            JCaraBayarId: jCaraBayarId
        }
        if (akTerimaId != null) {
            $.ajax({
                type: "POST",
                //url: "/AkTerima/GetAnItemCartAkTerima2",
                url: '@Url.Action("GetAnItemCartAkTerima2", "AkTerima")',
                data: AkTerima2,
                dataType: "json",
                success: function (r) {
                    //Delete the Table row using it's Index.
                    $("#moId2").val(r.record.jCaraBayarId);
                    $("#moCaraBayar").val(r.record.jCaraBayarId);
                    $("#moAmaun2").val(r.record.amaun.toFixed(2));
                    $("#moNoCek").val(r.record.noCek);
                    $("#moJenisCek").val(r.record.jenisCek);
                    $("#moKodBankCek").val(r.record.kodBankCek);
                    $("#moTempatCek").val(r.record.tempatCek);
                    $("#moNoSlip").val(r.record.noSlip);
                    $("#moTarSlip").val(r.record.tarSlip);
                    var jenisBayar = $("#moCaraBayar option:selected").text();
                    // check if jenis bayar equal to cek, enable all related cek fields, otherwise disabled it
                    if (jenisBayar.indexOf("CEK") >= 0) {
                        // enable fields
                        $("#moNoCek").prop('disabled', false);
                        $("#moJenisCek").prop('disabled', false);
                        $("#moKodBankCek").prop('disabled', false);
                        $("#moTempatCek").prop('disabled', false);
                    }
                    else {
                        // disable fields
                        $("#moNoCek").prop('disabled', true);
                        $("#moJenisCek").prop('disabled', true);
                        $("#moKodBankCek").prop('disabled', true);
                        $("#moTempatCek").prop('disabled', true);
                    }
                    // end check

                    //show modal Urusniaga
                    $("#modalUrusniaga").modal({ backdrop: 'static', keyboard: false });
                }
            });
        }
    };

    function modalUpdate2() {
        var id = $("#moId2").val();
        var amaun = $("#moAmaun2").val();
        var noCek = $("#moNoCek").val();
        var jenisCek = $("#moJenisCek").val();
        var kodBankCek = $("#moKodBankCek").val();
        var tempatCek = $("#moTempatCek").val();
        var noSlip = $("#moNoSlip").val();
        var tarSlip = $("#moTarSlip").val();
        var akTerimaId = $("#Id").val();
        var jumlah = $("#jumlahUrusniaga");

        var AkTerima2 = {
            JCaraBayarId: id,
            AkTerimaId: akTerimaId,
            Amaun: amaun,
            NoCek: noCek,
            JenisCek: jenisCek,
            KodBankCek: kodBankCek,
            TempatCek: tempatCek,
            NoSlip: noSlip,
            TarSlip: tarSlip
        }
        $.ajax({
            type: "POST",
            //url: "/AkTerima/SaveCartAkTerima2",
            url: '@Url.Action("SaveCartAkTerima2", "AkTerima")',
            data: AkTerima2,
            dataType: "json",
            success: function (r) {
                //insert notification here

                $.ajax({
                    type: "POST",
                    //url: "/AkTerima/GetAllItemCartAkTerima2",
                    url: '@Url.Action("GetAllItemCartAkTerima2", "AkTerima")',
                    dataType: "json",
                    success: function (r) {

                        //refresh updated table urusniaga
                        $("table tbody#tbodyUrusniaga").empty();
                        var sum = 0;
                        if (r.record.length > 0) {
                            for (var i = 0; i < r.record.length; i++) {
                                var item1 = r.record[i];
                                var tarSlip = "";
                                var jenisCek = "";
                                if (item1.tarSlip == null) {
                                } else {
                                    tarSlip = showDate(item1.tarSlip);
                                }
                                if (item1.jenisCek == null) {
                                } else {
                                    switch (item1.jenisCek) {
                                        case 1:
                                            jenisCek = "Cek Cawangan Ini";
                                            break;
                                        case 2:
                                            jenisCek = "Cek Tempatan";
                                            break;
                                        case 3:
                                            jenisCek = "Cek Luar";
                                            break;
                                        case 4:
                                            jenisCek = "Cek Antarabangsa";
                                            break;
                                    }
                                }
                                var str = "<tr><td id='jCaraBayarId' hidden>" + item1.jCaraBayarId +
                                    "</td><td class='text-uppercase'>" + item1.jCaraBayar.perihal +
                                    "</td><td class='text-end'>" + (item1.amaun).toFixed(2) +
                                    "</td><td>" + item1.noCek +
                                    "</td><td class='text-uppercase'>" + jenisCek +
                                    "</td><td class='text-uppercase'>" + item1.kodBankCek +
                                    "</td><td class='text-uppercase'>" + item1.tempatCek +
                                    "</td><td>" + item1.noSlip +
                                    "</td><td>" + tarSlip +
                                    "</td><td>" +
                                    "<button class='btn ac-primary btn-sm' type='button' id='btnUpdate2' data-toggle='modal' data-target='#modalUrusniaga' onclick='Update2(this)'><i class='fa fa-edit' ></i></button>" +
                                    "</td><td>" +
                                    "<button class='btn ac-danger btn-sm' type='button' id='btnRemove2' onclick='Remove2(this)'><i class='fas fa-trash' ></i></button>" +
                                    "</td><tr>";
                                $("table tbody#tbodyUrusniaga").append(str);
                                sum += item1.amaun;
                            }
                        }
                        jumlah.val(sum.toFixed(2));
                        checkJumlah();
                    }
                });
            }
        });
    };
    //update tbl urusniaga end

    //validation form
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    $(document).ready(function () {
        // disable each kod akaun that has been picked
        $('#tbodyObjek tr').each(function () {
            var akCartaId = $(this).find("#akCartaId").html();
            $("#txtKodAkaun option[value=" + akCartaId + "]").prop('disabled', true);
        });

        // disable each JCarabayar that has been picked
        $('#tbodyUrusniaga tr').each(function () {
            var jCaraBayarId = $(this).find("#jCaraBayarId").html();
            $("#ddlCaraBayar option[value=" + jCaraBayarId + "]").prop('disabled', true);
        });

        // get total amaun perihal for each row in tbl perihal
        var sum = 0;
        $('#tbodyUrusniaga tr').each(function () {
            var amaun = $(this).find(".amaunUrusniaga").html();
            sum += parseFloat(amaun.replace(/,/g, ''));
        });
        $('#jumlahUrusniaga').val(sum.toFixed(2));

        $.validator.setDefaults({
            errorElement: "span",
            errorClass: "help-block",
            //	validClass: 'stay',
            highlight: function (element, errorClass) {
                $(element).addClass(errorClass); //.removeClass(errorClass);
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass); //.addClass(validClass);
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },

            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }

            },

        });
    });
    //validation form end

    // check if jumlahObjek is equal to jumlahUrusniaga
    function checkJumlah() {
        var jumlahObjek = $("#jumlahObjek").val();
        var jumlahUrusniaga = $("#jumlahUrusniaga").val();

        if (jumlahObjek == 0.00 && jumlahUrusniaga == 0.00) {
            $("#btnSave").show();
        } else {
            if (jumlahObjek == jumlahUrusniaga) {
                $("#btnSave").show();
            }
            else {
                $("#btnSave").hide();
            }
        }
    }
    // check end
</script>