@{
    var status = "";

    if (Model.AkTerima.FlHapus == 1) status = "BATAL";
}
<div class="row flexrow mb-1 ml-1">
    <div class="col-2 image-container">
        <img src="~/img/@ViewData["CompanyLogoPrintPDF"]" alt="Logo syarikat" />
    </div>
    <div class="col-8 text-uppercase">
        <h3 class="mb-1"><strong>@Model.CompanyDetail.NamaSyarikat</strong></h3>
        <p class="mb-0"> @Model.CompanyDetail.AlamatSyarikat1 , @Model.CompanyDetail.AlamatSyarikat2</p>
        <p class="mb-0"> @Model.CompanyDetail.AlamatSyarikat3</p>
        <p class="mb-0"> Tel: @Model.CompanyDetail.TelSyarikat   Faks: @Model.CompanyDetail.FaksSyarikat</p>
        <p class="mb-0">Tarikh Cetakan: @DateTime.Now.Date.ToString("dd/MM/yyyy") @DateTime.Now.ToString("t", CultureInfo.CreateSpecificCulture("en-us"))</p>
    </div>

    <div class="col-2 text-right">

        <h4 class="text-danger mb-0"><strong>@status</strong></h4>
        <h4 class="mb-0"><strong>RESIT RASMI</strong></h4>
        <h5 class="mb-0">NO RESIT:</h5>
        <h5 class="mb-0 "><strong>@Model.AkTerima.NoRujukan.Substring(3)</strong></h5>
        TARIKH: @Model.AkTerima.Tarikh.ToString("dd/MM/yyyy")
        <h5 class="mb-0"><strong>SALINAN</strong></h5>
    </div>
</div>
<hr class="bg-dark" />
<div class="table-responsive-sm">
    <table class="table table-dark table-sm topic">
        <thead>
            <tr>
                <th class="text-center">MAKLUMAT PEMBAYAR</th>
                <th class="text-center">MAKLUMAT BAYARAN</th>
            </tr>
        </thead>
    </table>
</div>
<div class="row flexrow mb-1">
    <div class="col-6 text-left text-uppercase">
        <h6 class="mb-0">@Model.AkTerima.Nama</h6>
        @if (!string.IsNullOrEmpty(Model.AkTerima.Alamat1))
        {
            <h6 class="mb-0">@Model.AkTerima.Alamat1</h6>
            <h6 class="mb-0">@Model.AkTerima.Alamat2</h6>
            <h6 class="mb-0">@Model.AkTerima.Alamat3</h6>
            <h6 class="mb-0">@Model.AkTerima.Poskod, @Model.AkTerima.Bandar, @Model.AkTerima.JNegeri.Perihal</h6>
        }
    </div>

    <div class="col-6">
        <div class="table-responsive-sm">
            <table class="table table-striped table-sm topic">
                <thead>
                    <tr class="align-middle text-center" style="line-height:0.8rem;">
                        <th>TUJUAN BAYARAN</th>
                        <th>AMAUN (RM)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AkTerima.AkTerima1)
                    {
                        <tr>
                            <td style="line-height:0.8rem;">@item.AkCarta.Perihal</td>
                            <td align="right">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                        </tr>
                    }
                    <tr class="bg-light text-right">
                        <td>JUMLAH BAYARAN (RM)</td>
                        <td>@Convert.ToDecimal(@Model.AkTerima.Jumlah).ToString("#,##0.00")</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div class="table-responsive-sm mb-0">
    <table class="table table-bordered table-sm topic pb-2">
        <thead>
            <tr class="text-left" style="line-height:0.8rem;">
                <th>JUMLAH DALAM PERKATAAN</th>
                <th>@Model.JumlahDalamPerkataan</th>
            </tr>
        </thead>
    </table>
    <table class="table table-light table-sm topic">
        <thead>
            <tr class="text-center">
                <th>KAEDAH BAYARAN</th>
                <th>KETERANGAN BAYARAN</th>
            </tr>
        </thead>
    </table>
</div>

<div class="row flexrow mb-2">
    <div class="col-6 text-left">
        <div class="table-responsive-sm">
            <table class="table table-striped table-sm topic">
                <tbody>
                    @foreach (var item in Model.AkTerima.AkTerima2)
                    {
                        <tr>
                            <td>@item.JCaraBayar.Perihal : @item.NoCek</td>
                            <td align="right">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

    <div class="col-6 text-left">
        <h6 class="mb-0 text-uppercase max-lines">Sebab</h6>
    </div>
</div>
<div class="table-responsive-sm">
    <table class="table table-bordered table-sm topic mb-0">
        <thead>
            <tr>
                <th class="text-center">PERINCIAN AKAUN</th>
            </tr>
        </thead>
    </table>
    <table class="table table-bordered table-sm topic">
        <thead>
            <tr class="align-middle text-center" style="line-height:0.8rem;">
                <th>KUMPULAN WANG</th>
                <th>BAHAGIAN</th>
                <th>KOD AKAUN</th>
                <th width=70%>PERIHAL AKAUN</th>
                <th>AMAUN (RM)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AkTerima.AkTerima1)
            {
                <tr>
                    <td class="text-center">@Model.AkTerima.JKW.Kod</td>
                    <td class="text-center">@Model.AkTerima.JBahagian.Kod</td>
                    <td>@item.AkCarta.Kod</td>
                    <td>@item.AkCarta.Perihal</td>
                    <td align="right">@Convert.ToDecimal(item.Amaun).ToString("#,##0.00")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr class="bg-dark mb-0" />
<p class="mb-1 text-center">Resit ini adalah cetakan komputer, tandatangan tidak diperlukan</p>

<p class="mb-0 text-right">Penyedia : @Model.penyedia</p>
<p class="mb-0 text-right">Dicetak oleh : @Model.username , @DateTime.Now</p>