@model IEnumerable<SPMBNET7.CoreBusiness.Models.Modules._02_Akaun.ViewModels.AbBelanjawanSemasaViewModel>

@{
    ViewData["Title"] = "Cetakan Belanjawan Semasa";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";

    var bil = 0;

    decimal JumAsal = 0;
    decimal JumTambah = 0;
    decimal JumPindah = 0;
    decimal JumJumlah = 0;
    decimal JumBelanja = 0;
    decimal JumTBS = 0;
    decimal JumTelahGuna = 0;
    decimal JumBaki = 0;

}
<style>

    .topic tr {
        line-height: 0.5rem;
    }

    .center {
        padding: 70px 0;
        border: 3px solid green;
        text-align: center;
    }

    .notbold {
        font-weight: normal
    }

    .max-lines {
        display: block; /* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 5.8em;
    }

    .breakhere {
        page-break-after: always
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-row-group
    }

    tr {
        page-break-inside: avoid
    }
</style>

<div class="row flexrow mb-1 text-center">
    <div class="col-12 text-uppercase">
        <img class="image-container mb-2" src="~/img/@ViewData["CompanyLogoPrintPDF"]" alt="Logo syarikat" />
        <h5 class="mb-1"><strong>@ViewData["NamaSyarikat"]</strong></h5>
        <p class="mb-0"> @ViewData["AlamatSyarikat1"], @ViewData["AlamatSyarikat2"]</p>
        <p class="mb-0"> @ViewData["AlamatSyarikat3"]</p>
        <p class="mb-0">Tarikh Cetakan: @DateTime.Now.Date.ToString("dd/MM/yyyy") @DateTime.Now.ToString("t", CultureInfo.CreateSpecificCulture("en-us"))</p>
    </div>

    <!--<div class="col-2 text-right">-->
    @*<h6 class="mb-0"><strong>SENARAI CARTA AKAUN</strong></h6>*@
    <!--</div>-->
</div>
@*<div class="form-row flexrow mb-1 text-center">
        <div class="col-12 image-container text-uppercase text-center">
            <img src="~/img/MainLogo_Syarikat.png" alt="Logo syarikat" class="mb-3" />
            <h5 class="mb-1"><strong>@company.NamaSyarikat</strong></h5>
            <p class="mb-2"> @company.AlamatSyarikat1 , @company.AlamatSyarikat2, @company.AlamatSyarikat3</p>
            <h5 class="mb-0 bg-dark text-white"> <strong>SENARAI CARTA AKAUN</strong></h5>
        </div>
    </div>*@
<br />
<table class="table table-bordered table-sm topic">
    <thead>
        <tr class="bg-dark text-white">
            <th colspan="11" class="text-center bg-dark text-white">
                <strong>
                    LAPORAN BELANJAWAN SEMASA BAGI BAHAGIAN : @ViewData["Bahagian"] KW : @ViewData["KW"]
                    <br />
                    SEHINGGA TARIKH : @ViewData["TarHingga"]
                    <br />
                    MENGIKUT PARAS : @ViewData["Paras"]
                </strong>
            </th>
        </tr>
        <tr style="line-height:0.8rem;" class="bg-secondary text-white">

            <th width="2%">Bil</th>
            <th width="5%">Objek</th>
            <th width="30%">Perihalan</th>
            <th width="5%">Asal RM</th>
            <th width="5%">Tambah RM</th>
            <th width="5%">Pindah RM</th>
            <th width="5%">Jumlah RM</th>
            <th width="5%">TBS RM</th>
            <th width="5%">Belanja RM</th>
            <th width="5%">Telah Guna RM</th>
            <th width="5%">Baki RM</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var tabletype = "";
            JumAsal = JumAsal + item.Asal;
            JumTambah = JumTambah + item.Tambah;
            JumPindah = JumPindah + item.Pindah;
            JumJumlah = JumJumlah + item.Jumlah;
            JumBelanja = JumBelanja + item.Belanja;
            JumTBS = JumTBS + item.TBS;
            JumTelahGuna = JumTelahGuna + item.TelahGuna;
            JumBaki = JumBaki + item.Baki;

            bil++;
            <tr class="@tabletype" style="line-height:0.8rem; page-break-before:avoid;">
                <td>@bil</td>
                <td>
                    @item.Objek
                </td>
                <td>
                    @item.Perihalan
                </td>
                <td class="text-right">
                    @Convert.ToDecimal(item.Asal).ToString("#,##0.00")
                </td>
                <td class="text-right">
                    @Convert.ToDecimal(item.Tambah).ToString("#,##0.00")
                </td>
                <td class="text-right">
                    @Convert.ToDecimal(item.Pindah).ToString("#,##0.00")
                </td>
                <td class="text-right">
                    @Convert.ToDecimal(item.Jumlah).ToString("#,##0.00")
                </td>
                <td class="text-right">
                    @Convert.ToDecimal(item.TBS).ToString("#,##0.00")
                </td>
                <td class="text-right">
                    @Convert.ToDecimal(item.Belanja).ToString("#,##0.00")
                </td>
                <td class="text-right">
                    @Convert.ToDecimal(item.TelahGuna).ToString("#,##0.00")
                </td>
                <td class="text-right">
                    @Convert.ToDecimal(item.Baki).ToString("#,##0.00")
                </td>
            </tr>
        }
    <tr class="table-warning">
        <td colspan="3" class="font-weight-bold text-uppercase">Jumlah RM</td>
        <td class=" text-right">
            @Convert.ToDecimal(JumAsal).ToString("#,##0.00")
        </td>
        <td class="font-weight-bold text-right">
            @Convert.ToDecimal(JumTambah).ToString("#,##0.00")
        </td>
        <td class="font-weight-bold text-right">
            @Convert.ToDecimal(JumPindah).ToString("#,##0.00")
        </td>
        <td class="font-weight-bold text-right">
            @Convert.ToDecimal(JumJumlah).ToString("#,##0.00")
        </td>
        <td class="font-weight-bold text-right">
            @Convert.ToDecimal(JumTBS).ToString("#,##0.00")
        </td>
        <td class="font-weight-bold text-right">
            @Convert.ToDecimal(JumBelanja).ToString("#,##0.00")
        </td>
        <td class="font-weight-bold text-right">
            @Convert.ToDecimal(JumTelahGuna).ToString("#,##0.00")
        </td>
        <td class="font-weight-bold text-right">
            @Convert.ToDecimal(JumBaki).ToString("#,##0.00")
        </td>
    </tr>
    </tbody>
</table>