@model SPMBNET7.CoreBusiness.Models.Modules._91_Permohonan.SpPendahuluanPelbagai

@{ ViewData["Title"] = "Pend. Pelbagai - Tambah";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<partial name="_JSCreate" />

<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Pages/Partials/Common/_TitleCreatePartial.cshtml" />
        <form asp-action="Create" class="needs-validation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="syscode" value="SPPB" hidden />
            <div class="card mb-3">
                <div class="card-body">
                    <div class="form-group">
                        <label class="control-label">Jenis Permohonan</label>
                    </div>
                    <div class="row g-3 col-sm ms-2">
                        <div class="custom-control custom-radio col-md-4 ">
                            <input class="custom-control-input" type="radio" id="1" name="jenisPermohonan" value="1" checked>
                            <label class="custom-control-label" for="1">
                                PEMBANGUNAN SUKAN DAN ATLET
                            </label>
                        </div>
                        <div class="custom-control custom-radio col-md-4">
                            <input class="custom-control-input" type="radio" name="jenisPermohonan" id="2" value="2">
                            <label class="custom-control-label" for="2">
                                PENTADBIRAN
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row g-3">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="SuPekerjaId" class="control-label"></label>
                        <input name="Pemohon" class="form-control form-control-sm" readonly value="@ViewBag.NamaPekerja" />
                        @*<input asp-for="SuPekerjaId" class="form-control form-control-sm" value="@ViewBag.IdPekerja"  />*@
                    </div>
                </div>
            </div>
            <div class="row g-3">

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NoPermohonan" class="control-label"></label>
                        <input asp-for="NoPermohonan" class="form-control form-control-sm form-control-sm-custom" id="txtNoPermohonan" value="@ViewBag.NoPermohonan" readonly />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="JKWId" class="control-label"></label><span class="text-danger control-label">*</span>
                        <select class="form-control form-control-sm" asp-for="JKWId" id="ddlKW">
                            @foreach (var s in ViewBag.JKW)
                            {
                                <option value="@s.Id">@s.Perihal </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="JBahagianId" class="control-label"></label><span class="text-danger control-label">*</span>
                        <select class="form-control form-control-sm" asp-for="JBahagianId" id="ddlBahagian">
                            @foreach (var s in ViewBag.JBahagian)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                    </div>
                </div>

            </div>
            <div class="row g-3">

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="JNegeriId" class="control-label"></label><span class="text-danger control-label">*</span>
                        <select class="form-control form-control-sm select2" asp-for="JNegeriId" required>
                            <option value="" hidden>-- Pilih Negeri --</option>
                            @foreach (var s in ViewBag.JNegeri)
                            {
                                <option value="@s.Id">@s.Perihal </option>
                            }
                        </select>
                        <span asp-validation-for="JNegeriId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="form-group">
                        <label asp-for="JSukanId" class="control-label"></label><span class="text-danger control-label">*</span>
                        <select class="form-control form-control-sm select2" asp-for="JSukanId" required>
                            <option value="" hidden>-- Pilih Sukan --</option>
                            @foreach (var s in ViewBag.JSukan)
                            {
                                <option value="@s.Id">@s.Perihal </option>
                            }
                        </select>
                        <span asp-validation-for="JSukanId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="JTahapAktivitiId" class="control-label"></label><span class="text-danger control-label">*</span>
                        <select class="form-control form-control-sm" asp-for="JTahapAktivitiId" required>
                            <option value="" hidden>-- Pilih Tahap --</option>
                            @foreach (var s in ViewBag.JTahapAktiviti)
                            {
                                <option value="@s.Id">@s.Perihal </option>
                            }
                        </select>
                        <span asp-validation-for="JTahapAktivitiId" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label asp-for="Aktiviti" class="control-label"></label>
                <textarea asp-for="Aktiviti" class="form-control form-control-sm text-uppercase" cols="2" required>
                    </textarea>
                <span asp-validation-for="Aktiviti" class="text-danger"></span>
            </div>

            <div class="row g-3 mb-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Tarikh" class="control-label"></label>
                        <input asp-for="Tarikh" class="form-control form-control-sm text-uppercase" placeholder="14 Dis 2022, 14 - 29 Apr 2022.." required />
                        <span asp-validation-for="Tarikh" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Tempat" class="control-label"></label>
                        <input asp-for="Tempat" class="form-control form-control-sm text-uppercase" required />
                        <span asp-validation-for="Tempat" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row g-3 mb-2" hidden>
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="AkCartaId" class="control-label"></label>
                        <select class="form-control form-control-sm select2" asp-for="AkCartaId" id="ddlAkCarta">
                            <option value="" hidden>-- Pilih Kod Objek --</option>
                            @foreach (var s in ViewBag.AkCarta)
                            {
                                <option value="@s.Id">@s.Kod @s.Perihal </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="JumKeseluruhan" class="control-label"></label>
                        <input asp-for="JumKeseluruhan" class="form-control form-control-sm form-control-sm-custom" type="number" value="0.00" id="txtJumlahKeseluruhan" /><span class="text-danger control-label" id="spanJumKeseluruhan"></span>
                    </div>
                </div>
            </div>
            @*table Peserta*@
            <div class="card box-shadow mb-2">
                <div class="card-header">
                    <h6>Bilangan Peserta</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive-md">
                        <table id="tblPeserta" class="table table-sm" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Jantina</th>
                                    <th>Atlet</th>
                                    <th>Jurulatih</th>
                                    <th>Pegawai</th>
                                    <th>Teknikal</th>
                                    <th>Urusetia</th>
                                    <th>Jumlah</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tbodyPeserta">
                                @if (ViewBag.spPendahuluanPelbagai1 != null)
                                {
                                    foreach (var item in ViewBag.SpPendahuluanPelbagai1)
                                    {
                                        <tr id="@item.Id">
                                            <td id="jJantinaId" hidden>@item.JJantinaId</td>
                                            <td>@item.JJantina.Perihal</td>
                                            <td class="text-end">@item.BilAtl</td>
                                            <td class="text-end">@item.BilJul</td>
                                            <td class="text-end">@item.BilPeg</td>
                                            <td class="text-end">@item.BilTek</td>
                                            <td class="text-end">@item.BilUru</td>
                                            <td class="text-end" id="td1Amaun">@item.Jumlah</td>
                                            <td>
                                                <button class="btn ac-primary btn-sm" type="button" id="btnUpdate1" data-toggle="modal" data-target="#modalPeserta" onclick="Update1(this)">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn ac-danger btn-sm" type="button" id="btnRemove1" onclick="Remove1(this)">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>

                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>
                                        <select class="form-control form-control-sm" id="ddlJantina">
                                            <option value="" hidden>-- Pilih --</option>
                                            @foreach (var s in ViewBag.JJantina)
                                            {
                                                <option value="@s.Id">@s.Perihal </option>
                                            }
                                        </select>
                                    </td>
                                    <td><input class="form-control form-control-sm atlet" type="number" id="txtAtlet" maxlength="4" value="0"></td>
                                    <td><input class="form-control form-control-sm jurulatih" type="number" id="txtJurulatih" maxlength="4" value="0"></td>
                                    <td><input class="form-control form-control-sm pegawai" type="number" id="txtPegawai" maxlength="4" value="0"></td>
                                    <td><input class="form-control form-control-sm teknikal" type="number" id="txtTeknikal" maxlength="4" value="0"></td>
                                    <td><input class="form-control form-control-sm urusetia" type="number" id="txtUrusetia" maxlength="4" value="0"></td>
                                    <td><input class="form-control form-control-sm" type="number" id="txtJumlahPeserta" maxlength="4" readonly value="0"></td>
                                    <td><button class="btn ac-success btn-sm" type="button" id="btnAdd1"><i class="fas fa-plus"></i></button></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <label class="control-label">Jumlah Peserta</label>
                        <input class="form-control form-control-sm" id="jumlahPeserta" value="0" readonly />
                    </div>
                </div>
            </div>
            @*table Peserta end*@
            <br />
            @*table Perihal*@
            <div class="card box-shadow mb-2">
                <div class="card-header">
                    <h6>Perihal</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive-md">
                        <table id="tblPerihal" class="table table-sm" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th width="30%">Perihal</th>
                                    <th>Kadar RM</th>
                                    <th>Bil</th>
                                    <th>Bulan / Hari</th>
                                    <th>Jumlah RM</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tbodyPerihal">
                            </tbody>
                            @if (ViewBag.spPendahuluanPelbagai2 != null)
                            {
                                foreach (var item in ViewBag.SpPendahuluanPelbagai2)
                                {
                                    <tr id="@item.Id">
                                        <td hidden>@item.Indek</td>
                                        <td >@item.Baris</td>
                                        <td class="text-uppercase">@item.Perihal</td>
                                        <td class="text-end">@Convert.ToDecimal(item.Kadar).ToString("#,##0.00")</td>
                                        <td class="text-end">@item.Bil</td>
                                        <td class="text-end">@item.Bulan</td>
                                        <td class="text-end">@Convert.ToDecimal(item.Jumlah).ToString("#,##0.00")</td>
                                        <td>
                                            <button class="btn ac-primary btn-sm" type="button" id="btnUpdate2" data-toggle="modal" data-target="#modalPerihal" onclick="Update2(this)">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn ac-danger btn-sm" type="button" id="btnRemove2" onclick="Remove2(this)">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            <tfoot>
                                <tr>
                                    <td hidden><input class="form-control form-control-sm" type="text" id="txtIndek" maxlength="3"></td>
                                    <td><input class="form-control form-control-sm" type="number" id="txtBaris" maxlength="3" value="0"></td>
                                    <td><textarea class="form-control form-control-sm text-uppercase" type="text" id="txtPerihal" maxlength="100" value="-" rows="2"></textarea></td>
                                    <td><input class="form-control form-control-sm kadar" type="number" id="txtKadar" maxlength="6" value="0.00"></td>
                                    <td><input class="form-control form-control-sm bil" type="text" id="txtBil" value="0"></td>
                                    <td><input class="form-control form-control-sm bulan" type="number" id="txtBulan" maxlength="3" value="0"></td>
                                    <td><input class="form-control form-control-sm" type="number" id="txtJumlahPerihal" maxlength="6" readonly value="0.00"></td>
                                    <td><button class="btn ac-success btn-sm" type="button" id="btnAdd2"><i class="fas fa-plus"></i></button></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <label class="control-label">Jumlah Perihal RM</label>
                        <input class="form-control form-control-sm" id="jumlahPerihal" value="0.00" readonly />
                    </div>
                </div>
            </div>
            @*table Perihal end*@


            <hr />
            <div class="form-group">
                <input type="submit" value="Simpan" id="btnSave" class="btn ac-primary btn-sm" />
                <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </div>
        </form>
    </div>
</div>

<!-- Modal Peserta -->
<div class="modal fade bd-example-modal-lg" id="modalPeserta" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Objek</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="moId" hidden />
                    <div class="row g-3">
                        <label class="col-form-label">Jantina</label>
                        <select class="form-control form-control-sm" id="moJJantina" disabled>
                            <option value="" selected>-- Pilih --</option>
                            @foreach (var s in ViewBag.JJantina)
                            {
                                <option value="@s.Id">@s.Perihal </option>
                            }
                        </select>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="col-form-label">Atlet</label>
                                <input type="number" class="form-control form-control-sm atlet" id="moBilAtl">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="col-form-label">Jurulatih</label>
                                <input type="number" class="form-control form-control-sm jurulatih" id="moBilJul">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="col-form-label">Pegawai</label>
                                <input type="number" class="form-control form-control-sm pegawai" id="moBilPeg">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="col-form-label">Teknikal</label>
                                <input type="number" class="form-control form-control-sm teknikal" id="moBilTek">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="col-form-label">Urusetia</label>
                                <input type="number" class="form-control form-control-sm urusetia" id="moBilUru">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="col-form-label">Jumlah</label>
                                <input type="number" class="form-control form-control-sm" id="moJumlahPeserta" readonly>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn ac-success btn-sm" data-bs-dismiss="modal" onclick="modalUpdate1()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Peserta End -->
<!-- Modal Perihal -->
<div class="modal fade bd-example-modal-lg" id="modalPerihal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Perihal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="moId2" hidden />
                    <input id="moIndek" hidden />
                    <div class="row g-3">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="col-form-label">No</label>
                                <input type="number" class="form-control form-control-sm" id="moBaris">
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label">Perihal</label>
                                <input type="text" class="form-control form-control-sm" id="moPerihal">
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label">Kadar RM</label>
                                <input type="number" class="form-control form-control-sm kadar" id="moKadar">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label">Bil</label>
                                <input type="text" class="form-control form-control-sm bil" id="moBil">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label">Bulan / Hari</label>
                                <input type="number" class="form-control form-control-sm bulan" id="moBulan">
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label">Jumlah RM</label>
                                <input type="text" class="form-control form-control-sm " id="moJumlahPerihal" readonly>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn ac-success btn-sm" data-bs-dismiss="modal" onclick="modalUpdate2()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Perihal End -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

