@model SPMBNET7.CoreBusiness.Models.Modules._91_Permohonan.SpPendahuluanPelbagai


@{
    ViewData["Title"] = "Pend. Pelbagai - Hapus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Pages/Partials/Common/_TitleDeletePartial.cshtml" />

        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label class="control-label">Jenis Permohonan</label>
                </div>
                <div class="row g-3 col-sm ms-2">
                    <div class="custom-control custom-radio col-md-4 ">
                        <input class="custom-control-input" asp-for="JenisPermohonan" type="radio" name="jenisPermohonan" id="1" value="1">
                        <label class="custom-control-label" for="1">
                            SUKAN ELITE
                        </label>
                    </div>
                    <div class="custom-control custom-radio col-md-4">
                        <input class="custom-control-input" asp-for="JenisPermohonan" type="radio" name="jenisPermohonan" id="2" value="2">
                        <label class="custom-control-label" for="2">
                            SUKAN BAKAT DAN PELAPIS
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label name="Pemohon" class="control-label">Nama Pemohon</label><span class="text-danger control-label"></span>
                    <input name="Pemohon" class="form-control form-control-sm" readonly value="@Model.SuPekerja?.Nama" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="JBahagianId" class="control-label">Bahagian</label>
                    <select class="form-control form-control-sm" asp-for="JBahagianId" disabled>
                        <option value="" disabled selected>-- Pilih Bahagian --</option>
                        @foreach (var s in ViewBag.JBahagian)
                        {
                            <option value="@s.Id">@s.Perihal </option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input asp-for="SuPekerjaId" class="form-control form-control-sm" value="@ViewBag.IdPekerja" hidden />
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Jenis Kumpulan Wang</label>
                    <input class="form-control form-control-sm" value="@Model.JKW?.Kod - @Model.JKW?.Perihal " readonly />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="NoPermohonan" class="control-label">No Permohonan</label><span class="text-danger control-label">*</span>
                    <input class="form-control form-control-sm form-control-sm-custom" value="@Model.NoPermohonan" readonly />
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Tarikh" class="control-label">Tarikh Aktiviti</label><span class="text-danger control-label">*</span>
                    <input class="form-control form-control-sm" value="@Model.Tarikh" readonly />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="JNegeriId" class="control-label">Negeri</label><span class="text-danger control-label">*</span>
                    <select class="form-control form-control-sm select2" asp-for="JNegeriId" disabled>
                        <option value="" disabled selected>-- Pilih Negeri --</option>
                        @foreach (var s in ViewBag.JNegeri)
                        {
                            <option value="@s.Id">@s.Perihal </option>
                        }
                    </select>
                    <span asp-validation-for="JNegeriId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="JSukanId" class="control-label">Sukan</label><span class="text-danger control-label">*</span>
                    <select class="form-control form-control-sm select2" asp-for="JSukanId" disabled>
                        <option value="" disabled selected>-- Pilih Sukan --</option>
                        @foreach (var s in ViewBag.JSukan)
                        {
                            <option value="@s.Id">@s.Perihal </option>
                        }
                    </select>
                    <span asp-validation-for="JSukanId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Aktiviti/Kejohanan</label><span class="text-danger control-label">*</span>
                    <input class="form-control form-control-sm text-uppercase" value="@Model.Aktiviti" readonly />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Tempat</label><span class="text-danger control-label">*</span>
                    <input class="form-control form-control-sm text-uppercase" value="@Model.Tempat" readonly />
                </div>
            </div>
        </div>

        <div class="row g-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="JTahapAktivitiId" class="control-label">Tahap</label><span class="text-danger control-label">*</span>
                    <select class="form-control form-control-sm select2" asp-for="JTahapAktivitiId" disabled>
                        <option value="" disabled selected>-- Pilih Tahap --</option>
                        @foreach (var s in ViewBag.JTahapAktiviti)
                        {
                            <option value="@s.Id">@s.Perihal </option>
                        }
                    </select>
                    <span asp-validation-for="JTahapAktivitiId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="AkCartaId" class="control-label">Kod Objek/Vot</label>
                    <select class="form-control form-control-sm select2" asp-for="AkCartaId" id="ddlAkCarta" disabled>
                        <option value="" hidden>-- Pilih Kod Objek --</option>
                        @foreach (var s in ViewBag.AkCarta)
                        {
                            <option value="@s.Id">@s.Kod @s.Perihal </option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Jumlah</label><span class="text-danger control-label">*</span>
                    <input class="form-control form-control-sm form-control-sm-custom" required id="txtJumlahKeseluruhan" value="@Model.JumKeseluruhan" readonly />
                </div>
            </div>
        </div>
        @*table Peserta*@
        <div class="card box-shadow mb-3 mt-2">
            <div class="card-header">
                <h6>Bilangan Peserta</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive-md">
                    <table id="tblPeserta" class="table table-sm" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Jantina</th>
                                <th>Atlet</th>
                                <th>Jurulatih</th>
                                <th>Pegawai</th>
                                <th>Teknikal</th>
                                <th>Urusetia</th>
                                <th>Jumlah</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyPeserta">
                            @foreach (var item in ViewBag.SpPendahuluanPelbagai1)
                            {
                                <tr id="@item.Id">
                                    <td id="jJantinaId">@item.JJantina.Perihal</td>
                                    <td class="text-end">@item.BilAtl</td>
                                    <td class="text-end">@item.BilJul</td>
                                    <td class="text-end">@item.BilPeg</td>
                                    <td class="text-end">@item.BilTek</td>
                                    <td class="text-end">@item.BilUru</td>
                                    <td id="td1Amaun" class="text-end">@item.Jumlah</td>
                                </tr>

                            }
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group">
                    <label class="control-label">Jumlah Peserta</label>
                    <input value="@ViewData["jumlahPeserta"]" class="form-control form-control-sm" id="jumlahPeserta" readonly />
                </div>
            </div>
        </div>
        @*table Peserta end*@
        <br />
        @*table Perihal*@
        <div class="card box-shadow mb-3 mt-2">
            <div class="card-header">
                <h6>Perihal</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive-md">
                    <table id="tblPerihal" class="table table-sm" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th width="30%">Perihal</th>
                                <th>Kadar RM</th>
                                <th>Bil</th>
                                <th>Bulan</th>
                                <th>Jumlah RM</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyPerihal">
                            @foreach (var item in ViewBag.SpPendahuluanPelbagai2)
                            {
                                <tr id="@item.Id">
                                    <td hidden>@item.Indek</td>
                                    <td>@item.Baris</td>
                                    <td class=" text-uppercase">@item.Perihal</td>
                                    <td class="text-end">@Convert.ToDecimal(item.Kadar).ToString("#,##0.00")</td>
                                    <td class="text-end">@item.Bil</td>
                                    <td class="text-end">@item.Bulan</td>
                                    <td class="text-end">@Convert.ToDecimal(item.Jumlah).ToString("#,##0.00")</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group">
                    <label class="control-label">Jumlah Perihal RM</label>
                    <input asp-for="JumKeseluruhan" class="form-control form-control-sm" id="jumlahPerihal" readonly />
                </div>
            </div>
        </div>
        @*table Perihal end*@
        <hr />
        <div class="form-group">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input name="syscode" value="SPPB" hidden />
                @if (Model.FlPosting == 1)
                {
                }
                else
                {
                    <input type="submit" value="Hapus" class="btn btn-danger btn-sm" />
                }

                <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </form>

        </div>

    </div>
</div>